<script type="text/javascript">

var workstation = <%= workstation? %>;
var mobile = <%= not workstation? %>;
var i18nlocale = '<%= I18n.locale %>';

<%
  if @current_user
    shippers = @current_vendor.shippers
    ships = []
    shippers.each do |ship|
      ships << "<option value='Shipper:#{ship.id}'>#{ship.name}</option>"
    end
    shippers = Vendor.all
    shippers.each do |ship|
      ships << "<option value='Vendor:#{ship.id}'>#{ship.name}</option>"
    end
    ships = ships.join(' ')
    inplace_ships = "<select id='inplaceedit'>#{ships}</select>"

    categories = Category.visible
    cats = []
    categories.each do |cat|
      cats << "<option value='#{cat.id}'>#{cat.name.gsub('"','\"')}</option>"
    end
    cats = cats.join(' ')
    inplace_cats = "<select id='inplaceedit'>#{cats}</select>"

    vendors = Vendor.all
    stores = []
    vendors.each do |store|
      stores << "<option value='#{store.id}'>#{store.name}</option>"
    end
    stores = stores.join(' ')
    inplace_stores = "<select id='inplaceedit'>#{stores}</select>"

    locations = @current_vendor.locations.visible
    locs = []
    locations.each do |loc|
      locs << "<option value='#{loc.id}'>#{loc.name}</option>"
    end
    locs = locs.join(' ')
    inplace_locations = "<select id='inplaceedit' >#{locs}</select>"

    item_types = ItemType.visible
    itps = []
    item_types.each do |itp|
      itps << "<option value='#{itp.id}'>#{itp.name}</option>"
    end
    itps = itps.join(' ')
    inplace_itemtypes = "<select id='inplaceedit' >#{itps}</select>"

    shipment_statuses = Shipment::TYPES
    itps = []
    shipment_statuses.each do |itp|
      itps << "<option value='#{itp[:value]}'>#{itp[:display]}</option>"
    end
    itps = itps.join(' ')
    inplace_shipmentstatuses = "<select id='inplaceedit' >#{itps}</select>"

  end
%>

var inplace_ships = "<%= escape_javascript raw inplace_ships %>";
var inplace_cats = "<%= escape_javascript raw inplace_cats %>";
var inplace_cats = "<%= escape_javascript raw inplace_stores %>";
var inplace_locations = "<%= escape_javascript raw inplace_locations %>";
var inplace_itemtypes = "<%= escape_javascript raw inplace_itemtypes %>";
var inplace_shipmentstatuses = "<%= escape_javascript raw inplace_shipmentstatuses %>";
var SaleTypes = <%= raw @current_vendor.sale_types.visible.to_json %>;
var Countries = <%= raw @current_vendor.countries.visible.to_json %>;
var ItemTypes = <%= raw @current_vendor.item_types.visible.to_json %>;
var Categories = <%= raw @current_vendor.categories.visible.to_json %>;
var PaymentMethods = <%= raw @current_vendor.payment_methods_types_list.to_json %>;
var PaymentMethodObjects = <%= raw @current_vendor.payment_methods_as_objects.to_json %>;
var TaxProfiles = <%= raw @current_vendor.json_tax_profiles %>;


window.params = {
  action: "<%= params[:action] %>",
  controller: "<%= params[:controller] %>",
  user: { name: "<%= @current_user.username if @current_user %>" }
};

<% if @current_user then %>
  window.User = <%= raw @current_user.to_json %>;
  window.Drawer = <%= raw @current_user.get_drawer.attributes.to_json %>;
<% else %>
  window.User = {};  
  window.Drawer = {};
<% end %>

<% if @current_register then %>
  window.Register = <%= raw @current_register.attributes.to_json %>;
<% else %>
  window.Register = {};
<% end %>

_.templateSettings = {
    interpolate: /\{\{\=(.+?)\}\}/g,
    evaluate: /\{\{(.+?)\}\}/g
};
</script>
