<%= raw content_box_top(I18n.t("headings.best_selling_location"),{:width => '100%',:menu => false, :breadcrumb => false}, true) %>
              <table align="center" width="100%" class="stripe-me">
              <thead>
                  <tr>
                    <th>
                      <%= I18n.t("activerecord.attributes.name") %>
                    </th>
                    <th align="right">
                      <%= I18n.t("activerecord.attributes.quantity_sold") %>
                    </th>
                    <th align="right">
                      <%= I18n.t("activerecord.attributes.cash_made") %>
                    </th>
                  </tr>
                </thead>
                <% @current_user.best_selling_locations.each do |location| %>
                    <tr>
                      <td valign="top">
                        <%=  edit_me(:name,location,location.name,'',location.get_html_id + '_best_location') %>
                      </td>
                      <td valign="top" align="right">
                        <%=  edit_me(:quantity_sold,location,location.quantity_sold,'',location.get_html_id + '_best_location') %>
                      </td>
                      <td valign="top" align="right">
                        <%=  edit_me(:cash_made,location,salor_number_to_currency(location.cash_made),'',location.get_html_id + '_best_location') %>
                      </td>
                    </tr>
                  <% end %>
              </table>
              <%= 
              %>
