<div class="last-completed-orders">
    <% @current_vendor.orders.where(:paid => true).order("created_at DESC").limit(4).each do |order|  %>
      <div class="completed-entry">
        <table>  
         <tr>
          <td align="right" colspan="2">
            <%= salor_number_to_currency(order.total) %>
            <br />
            <%= salor_number_to_currency(order.change_given) %>
            <br />
            <%= order.get_user.username[0..7] %>
          </td>
          <td>
            Nr. <%= order.nr %>
            <div class="image-button"><%= salor_icon(:thermal_printer,{ :onmousedown=>"print_order('#{order.id}');"},32) %></div>
          </td>
        </tr>
       </table>
      </div>
    <% end %>
</div>
