<div align="center">
  <script type="text/javascript">
  $(document).ready(function () {
      $('.employee-sign-in-form-container').show();
      $('#employee').find(".keyboardable:first").focus();
      $('.link').mousedown(function () {
          $('.active').removeClass('active');
          $(this).addClass('active');
          $('.sign-in-form-container').hide();
          $($(this).attr('href')).show();
          
      }).mouseup(function () {
        $($(this).attr('href')).find(".keyboardable:first").focus();
      });
      $(window).keypress(function(event){
        if (event.keyCode == 13) {
          doSubmit();
        }
      });
  });
  
  function doSubmit() {
      $('#new_employee').submit();
  }
  </script>

  <div class="sign-in-forms">
    <div class="tab-container">
    <div class="freefield">
      <select id="locale_select" onchange="window.location = '?locale=' + $('#locale_select').val();">
        <% supported_languages.each do |l| %>
          <option value="<%= l[:locale] %>" <%= I18n.locale.to_s == l[:locale] ? 'selected="selected"' : ''%>><%= l[:name] %></option>
        <% end %>
      </select>
  </div>
  <img src='/images/salor-logo-reports.png'>


                <%= form_for(Employee.new, :url => '/employees/login') do |f| %>
                  <br />
                  <br />
                  <%= password_field_tag :code, "", :class => "keyboardable big-input"%></p>
                  <br />
                  <div class="button-row" align="center">
                      <div class="spacer">&nbsp;</div>
                      <div class="button-confirm" onmousedown="doSubmit()" id="login_button"><%= I18n.t("system.login") %></div>
                  </div>
                  <br />
                <% end %>  
    </div>
  </div>
</div>
