<script type="text/javascript">
function addNote() {
  var elem = $("<div class='note' align='left'></div>");
  elem.append($('<%= label_tag I18n.t("views.single_words.title") %><br />'));
  elem.append($('<input type="text" name="<%= model %>[<%= method %>][][title]" class="text-input" style="width: 300px;" value="" /><br />'));
  elem.append($('<%= label_tag I18n.t("views.single_words.body") %><br />'));
  elem.append($('<textarea rows="5" name="<%= model %>[<%= method %>][][body]" class="text-input" style="width: 300px;" /><br />'));
  var del = $('<div align="right"><%= image_tag "/images/icons/" + icon(:delete,16) %></div>');
  del.mousedown(function () {
      $(this).parent().remove();
  });
  elem.append(del);
  $("#notes").append(elem);
}
</script>
<h2> <%= I18n.t("views.forms.notes") %> </h2>
<div id="" class="" align="center">
  <%= image_tag "/images/icons/" + icon(:add,32), :onclick => "addNote();" %> <br />
</div>
<div id="notes" class="notes">
  <% if notes then  %>
  <% notes.each do |note|  %>
      <div id="note-<%= note.id %>" class="note" align="left">
        <input type="hidden" name="<%= model %>[<%= method %>][][id]" class="text-input" value="<%= note.id %>" />
        <input type="hidden" name="<%= model %>[<%= method %>][][title]" class="text-input" value="<%= note.title %>" />
        <input type="hidden" name="<%= model %>[<%= method %>][][body]" class="text-input" value="<%= note.body %>" />
        <span class="note-title"><%= note.title %></span> <br />
        <p clas="note-body">
          <%= note.body %>
        </p>
        <div id="" class="" align="right">
          <%= image_tag("/images/icons/" + icon(:delete,16), :onclick => "$('#note-#{note.id}').remove();") if @current_user.owns_this?(note) %>
        </div>
      </div>
  <% end %>
  <% end %>
</div>
