<script type="text/javascript">
var search_last_query = '';
var current_page = 1;
function showSearch() {
  $('#search').show();
  $('#search').css({'z-index':'1010'});
  $('#search_keywords').val("");
  focusInput($('#search_keywords'));
  var inp = $('<input type="text" id="search_keywords" name="keywords" class="keyboardable" value="" />');
  $('.search-div-input-constrainer').html(inp);
  make_keyboardable(inp);
  $('#search').height($(window).height() * 0.75);
  $('#search').width($(window).width() * 0.75);
  $('.search-results').height($('#search').height() - 136);
  setTimeout(function () {
    inp.focus();
  },120);
  shared.helpers.center($('#search'));
}
function hideSearch() {
  $('#search').hide();
  $('#search_results').html('');
  setTimeout(function () {
    focusInput($('#keyboard_input'));
  },120);
}
function search() {
  search_last_query = '/items/search?keywords=' + $('#search_keywords').val() + '&klass=' + $('#search_models').val() + '&page=' + current_page;
  get(search_last_query, '_search.html.erb');
}
function search_get_next_page() {
  current_page = current_page + 1;
  search();
}
function search_get_prev_page() {
  current_page = current_page - 1;
  search();
}
$(document).ready(function() {
  $("input[name=key_accept]").live('mousedown', function(){
    search();
  });
});
</script>
<div id="search" class="search hidden">
<table align="center" width="100%">
  <tr>
    <td valign="top" width="50%">
      <div class="search-div-input-constrainer">
        
      </div>
    </td>
    <td valign="top">
      <select id="search_models">
        <% searchable_models.each do |m| %>
          <option value='<%= m[1] %>'><%= m[0] %></option>
        <% end %>
      </select>
    </td>
    <td valign="top">
      <div class="button-up" onmousedown="search()"><%= t("views.forms.search") %></div>
      <!--
      <button class="input" onmousedown="search()"> <%= t("views.forms.search") %></button>
      -->
    </td>
  </tr>
</table>
  <div id="search_results" class="search-results">

  </div>
  <br />
  <div id="" align="right" class="button-row">
    <div class="button-confirm-left" onmousedown="search_get_prev_page();"><%= raw I18n.t("views.pagination.previous") %></div>
    <div class="spacer">&nbsp;</div>
    <div class="button-confirm" onmousedown="search_get_next_page();"><%= raw I18n.t("views.pagination.next") %></div>
    <div class="button-cancel" onmousedown="hideSearch();"><%= raw I18n.t("menu.done") %></div>
  </div>
</div>
