<%= raw content_box_top(t("menu.buttons")) %>

<%= link_to salor_icon(:add,{},32),new_button_path %>

<table width="99%" cellspacing="0" align="center">
  <tr>
    <th align="left"><%= I18n.t("activerecord.attributes.name") %></th>
    <th align="left"><%= I18n.t("activerecord.attributes.sku") %></th>
    <th align="left"><%= I18n.t("activerecord.models.category.one") %></th>
    <th align="left">Weight</th>
    <th></th>
    <th></th>
  </tr>
<% @buttons.each do |button| %>
  <tr class="<%= cycle('even','odd') %>">
    <td><%= button.name %></td>
    <td><%= button.sku %></td>
    <td><%= button.category %></td>
    <td><%= button.weight %></td>
    <td width="40px"><%= link_to salor_icon(:edit,{},16), edit_button_path(button) %></td>
    <td width="40px"><%= link_to salor_icon(:delete,{},16), button, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= raw content_box_bottom %>


