<%= raw content_box_top(t("menu.tender_methods")) %>

<%= link_to salor_icon(:add,{},32),new_tender_method_path %>

<table width="80%" cellspacing="0">
  <tr>
    <th align="left"><%= I18n.t("activerecord.attributes.name") %></th>
    <th align="left"><%= I18n.t("activerecord.attributes.type") %></th>
    <th></th>
    <th></th>
  </tr>
<% @tender_methods.each do |tender_method| %>
  <tr class="<%= cycle('even','odd') %>">
    <td><%= tender_method.name %></td>
    <td><%= tender_method.internal_type %></td>
    <td width="40px"><%= link_to salor_icon(:edit,{},16), edit_tender_method_path(tender_method) %></td>
    <td width="40px"><%= link_to salor_icon(:delete,{},16), tender_method, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= raw content_box_bottom %>
