<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tender_method.name %>
</p>

<p>
  <b>Internal type:</b>
  <%= @tender_method.internal_type %>
</p>


<%= link_to 'Edit', edit_tender_method_path(@tender_method) %> |
<%= link_to 'Back', tender_methods_path %>
