%table.items_index
  %tr
    - cols = [:name,:base_price,:sku,:tax_profile_id,:quantity,:shipper_name,:packaging_unit]
    - custom_columns = []
    - custom_columns = @current_plugin_manager.apply_filter('item_list_columns',custom_columns)
    - cols += custom_columns + ['','']
    - cols.each do |key|
      - if not key.is_a? Hash and key.blank?
        %th
      - else
        - if not key.is_a? Hash then
          %th.pointer{ :onclick => "window.location = '?order_by=#{ key }&page=#{ params[:page] }';", :class => "#{ 'left' if key==:name }"}= I18n.t("activerecord.attributes.#{ key }")
        - else
          %th.pointer{ :onclick => "window.location = '?order_by=#{ key }&page=#{ params[:page] }';", :class => "#{ 'left' if key==:name }"}= key[@current_user.language.to_sym]
        
  - @items.each do |item|
    - if item.parent
      - depth = 0
      - i = item
      %tr
      %tr
      - until i.nil?
        - depth += 1
        - break if depth > 5
        %tr.recursive= render :partial => 'item_row', :locals => { :item => i, :depth => depth, :custom_columns => custom_columns, :current_plugin_manager => @current_plugin_manager }
        - i = i.parent
      %tr
      %tr
    - else
      %tr.even= render :partial => 'item_row', :locals => { :item => item, :depth => 0, :custom_columns => custom_columns, :current_plugin_manager => @current_plugin_manager }