.fieldset.item_shipper_fieldset
  %table#new_item_shipper_id.fields
    %tr
      %td
        = f.hidden_field :hidden
        .square-button= link_to_function I18n.t('menu.destroy'),"sr.fn.items.removeItemShipperFields(this);"
      %td
    %tr
      %td= f.label :shipper_sku
      %td= f.text_field :shipper_sku
    %tr
      %td= f.label :shipper_id
      %td
        = f.select :shipper_id, @item.vendor.shippers.visible.collect {|t| [t.name,t.id]}.unshift(['NA',''])
        
    %tr
      %td= f.label I18n.t("activerecord.attributes.purchase_price")
      %td= f.text_field :purchase_price, :class=> "keyboardable-int delimit-number"
    %tr>
      %td=f.label I18n.t("activerecord.attributes.base_price")
      %td=f.text_field salor_number_with_delimiter(:list_price), :class => "keyboardable-int delimit-number"