.fieldset.item_stock_fieldset
  %table#new_item_stock_id.item_stock_form.fields
    %tr
      %td
        = f.hidden_field :hidden
        .square-button= link_to_function I18n.t('menu.destroy'),"sr.fn.items.removeItemStockFields(this);"
      %td

    %tr
      %td= f.label I18n.t("activerecord.attributes.location")
      %td= f.select :locationstring, @item.vendor.location_stock_location_list, :include_blank => true
    %tr
      %td=f.label I18n.t("activerecord.attributes.quantity")
      %td=f.text_field :quantity, :class => "keyboardable-int delimit-number"
    - if f.object.stock_transactions.any?
      %tr
        %td{:colspan => 2}
          %h4 Transactions
          %table.stock_transactions
            %tr
              %th from
              %th quantity
            - f.object.stock_transactions.order('created_at DESC').limit(10).reverse.each do |st|
              %tr
                %td== #{ st.from_type } #{ st.from_id }
                %td= st.quantity