<% if not @items.any? and not @customers.any? and not @orders.any? then %>
$("#search_results").html("<%= t("views.errors.nothing_found") %>");
<% else  %>
$("#search_results").html('<table id="results_table" width="100%"></table>');
<% end %>

<% if @items.any? then %>
  $("#results_table").append("<thead><tr><th style='text-align:left'><%= raw I18n.t("views.name") %></th><th style='text-align:left'><%= raw I18n.t("activerecord.attributes.sku") %></th><th style='text-align:left'><%= raw I18n.t("activerecord.attributes.price") %></th><th></th></tr></thead>");
  <% for item in @items %>
    var row = $('<tr></tr>');
    row.addClass('table-row');
    var n = $('<td></td>');
    n.addClass('table-cell name');
    n.html("<%= item.name %>");
  
    var sku = $('<td></td>');
    sku.addClass('table-cell sku');
    sku.html("<%= item.sku %>");
  
    var base_price = $('<td></td>');
    base_price.addClass('table-cell price');
    base_price.html("<%= humanized_money_with_symbol(item.base_price) %>");
  
    var btn = $('<td><div class="image-button"><img src="/images/icons/<%= icon(:add,32) %>" /></div></td>');
    btn.click(function () {
      sr.fn.pos_core.addItem('<%= item.sku %>','');
    });
    btn.mouseup(function () {
      $(this).removeClass('active-icon');
    });
    btn.addClass('table-cell btn');
    row.append(n);
    row.append(sku);
    row.append(base_price);
    row.append(btn);
    $("#results_table").append(row);
  <% end %>
<% end %>

<% if @customers.any? then %>
  $("#results_table").append("<thead><tr><th style='text-align:left'><%= raw I18n.t("views.name") %></th><th style='text-align:left'><%= raw I18n.t("views.loyalty_card") %></th><th></th></tr></thead>");
  <% for customer in @customers %>
    var row = $('<tr></tr>');
    row.addClass('table-row');
    var cname = $('<td width="30%"></td>');
    cname.addClass('name');
    cname.html("<%= customer.full_name %>");
  
    var sku = $('<td></td>');
    sku.addClass('sku');
    sku.html("<%= customer.loyalty_cards.visible.first.sku if customer.loyalty_cards.visible.any? %>");
  
    var btn = $('<div class="image-button"><img src="/images/icons/<%= icon(:add,32) %>" onclick="sr.fn.pos_core.addItem(\'<%= customer.loyalty_cards.visible.first.sku if customer.loyalty_cards.visible.first %>\',\'\');" /></div>');
    btn.addClass('btn');
    row.append(cname);
    row.append(sku);
    row.append(btn);
    $("#results_table").append(row);
  <% end %>
<% end %>

<% if @orders.any? then %>
  $("#results_table").append("<thead><tr><th style='text-align:left'><%= raw I18n.t("menu.order") %> #</th><th style='text-align:left'><%= raw I18n.t("activerecord.attributes.tag") %></th><th></th></tr></thead>");
  <% @orders.each do |order|  %>
    var row = $('<tr></tr>');
    row.addClass('table-row');
    row.css({ 'background-color': "<%= order.cash_register.color %>"});
    var oname = $('<td></td>');
    oname.addClass('table-cell id');
    oname.html("#<%= order.nr %>");
    
    var user_name = $('<td></td>');
    user_name.addClass('table-cell id');
    user_name.html("<%= order.user.username if order.user %>");
    
    var order_total = $('<td></td>');
    order_total.addClass('table-cell id');
    order_total.html(sr.fn.math.toCurrency("<%= order.total %>"));

    
    var sku = $('<td></td>');
    sku.addClass('table-cell order-tag');
    sku.html("<%= order.tag %>");
  
    <% if order.paid == 1 %>
      var btn = $('<td></td>');
    <% else %>
    var btn = $('<td><div class="image-button"><img src="/images/icons/<%= icon(:edit,32) %>" width="32" onmousedown="window.location = \'/orders/<%= order.id %>/edit\';" /></div></td>');
    <% end %>

    var btn2 = $('<td><div class="image-button"><img src="/images/icons/<%= icon(:printer,32) %>" width="32" onmousedown="sr.fn.salor_bin.printOrder(\'<%= order.id %>\');" /></div></td>');
    var btn3 = $('<td><div class="image-button"><img src="/images/icons/<%= icon(:show,32) %>" width="32" onmousedown="window.location= \'/orders/<%= order.id %>\';" /></div></td>');
    btn.addClass('table-cell btn');
    row.append(oname);
    row.append(user_name);
    row.append(order_total);
    row.append(sku);
    row.append(btn3);
    row.append(btn2);
    row.append(btn);
    $("#results_table").append(row);
  <% end %>
<% end %>
