<script type="text/javascript">
function update_location_submit() {
  $.post('/items/update_location',$('#update_location_form').serialize());
  $('#sku').val('');
  sr.fn.focus.set($('#sku'));
}
$(function () {
    try {
      $('#sku').val('');
      sr.fn.focus.set($('#sku'));
    } catch (err) {
          txt="There was an error on this page update_location.\n\n";
          txt+="Error description: " + err.description + "\n\n";
          txt+="Click OK to continue.\n\n";
          alert(txt);
    }
})
</script>
<%= raw content_box_top(I18n.t("headings.update_location")) %>
<form id="update_location_form">
<input type="hidden" name="format" class="hidden-input" value="js" />
  <br />
  <table align="center" width="60%">
    <tr>
      <td valign="top">
        <%= I18n.t("activerecord.models.location.one") %>
      </td>
      <td valign="top">
        <select name="location_id" id="location_id">
          <% @current_vendor.locations.visible.each do |location| %>
            <option value="<%= location.id %>"><%= location.name %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <%= I18n.t("activerecord.attributes.sku") %>
      </td>
      <td valign="top">
        <hr />
        <input type="text" id="sku" name="sku" class="text-input" value="" />
      </td>
    </tr>
  </table>
</form>
