
<%= raw content_box_top(I18n.t("headings.employees")) %>
<table align="center" width="100%">
  <tr>
    <td valign="top">
      <%= I18n.t("activerecord.attributes.username") %>
    </td>
    <td valign="top">
      <%= @employee.username %>
    </td>
    <td valign="top">
      <%= I18n.t("activerecord.attributes.email") %>
    </td>
    <td valign="top">
      <%= @employee.email %>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      API: <%= @employee.make_token %>
    </td>
  </tr>
  <tr>
    <td valign="top" colspan="3" align="right">
      <%= I18n.t("activerecord.models.drawer.one") %>
    </td>
    <td valign="top">
      <%= salor_number_to_currency(@employee.drawer.amount) %>
    </td>
  </tr>
  <tr>
    <td valign="top" colspan="4">
    <div id="" class="table stripe-me" align="center">
      <div class="table-row">
        <% I18n.t("headings.crd").split(",").each do |h|  %>
          <div class="table-cell table-head">
            <%= h %>
          </div>
        <% end %>
      </div>
      <% transactions = @employee.drawer.drawer_transactions.scopied.page(params[:page]).per(GlobalData.conf.pagination) %>
        <% transactions.each do |crd|  %>
          <div class="table-row">
            <div class="table-cell">
            <% if GlobalData.salor_user.can(:edit_employees) then  %>
              <%= link_to image_tag('/images/icons/' + icon(:delete,16)), "/vendors/destroy_drawer_transaction?id=#{crd.id}", :confirm => 'Are you sure?', :method => :delete %>
            <% end %>
              <%= l crd.created_at, :format => :salor %>
            </div>
            <div class="table-cell">
              <%= salor_number_to_currency crd.amount %>
            </div>
            <div class="table-cell">
              <%= crd.drop ? I18n.t("activerecord.attributes.drop") : I18n.t("activerecord.attributes.payout") %>
            </div>
            <div class="table-cell">
              <%= raw textilize crd.notes %>
            </div>
          </div>
        <% end if @employee.drawer %>
    </div>
      <div class="pagination" align="center">
            <%= paginate(transactions) if transactions %>
      </div>
      <br />
      <%
      totals = @employee.get_order_totals
      		%>
      <div id="" class="table" align="center" >
      	<div class="table-row">
      		<div class="table-cell" style="width: 300px;">
      			<%= I18n.t("activerecord.models.order.other") %> <%= I18n.t("activerecord.attributes.total") %>: <br /><%= salor_number_to_currency(totals[0].round(2)) %>
      		</div>
      		<div class="table-cell" style="width: 300px;">
      		  <%= I18n.t("activerecord.models.order.other") %> <%= I18n.t("activerecord.attributes.total") %> <%= l Time.now, :format => :salor %>: <br /><%= salor_number_to_currency(totals[1].round(2)) %>
      		</div>
      	</div>
      </div>
      <br />
      
      <table width="100%" class="stripe-me">
      <% orders = @employee.orders.scopied.order("id DESC").page(params[:page]).per(GlobalData.conf.pagination)  %>
        <% orders.each do |order| %>
          <tr>
            <td valign="top">
              <%= order.vendor.name %>
            </td>
            <td valign="top">
              <%= order.employee_id ? order.employee.username : order.user.username %>
            </td>
            <td valign="top">
              <%= I18n.t("views.order_number",:id => order.id) %>
              <% if order.refunded then  %>
                *
              <% end %>
            </td>
            <td><%= l(order.created_at,:format => :short) %></td>
            <td><%= salor_number_to_currency order.total %></td>
            <td><%= link_to image_tag('/images/icons/' + icon(:show,32)), order %></td>
            <td><%= link_to(image_tag('/images/icons/' + icon(:edit,32)), edit_order_path(order)) if not order.paid %></td>
            <td><%= link_to(image_tag('/images/icons/' + icon(:delete,32)), order, :confirm => 'Are you sure?', :method => :delete) if not order.paid %></td>
          </tr>
        <% end %>
        
        </table>
        <div class="pagination" align="center">
              <%= paginate(orders) if orders %>
        </div>
    </td>
  </tr>
</table>
<%= raw content_box_bottom %>
