<%= raw content_box_top(t("views.customers")) %>
<table width="125px" align="center">
  <tr valign="top">
    <td align="center" width="125px">
      <%= link_to(image_tag("/images/icons/" + icon(:add,32)), new_customer_path) %>              
    </td>
    <td>
    <div class="tool-icon" >
            <img src='/images/icons/down_32.png' onmousedown="window.location = '/customers/download'">
          <br /><span class='icon-caption'><%= I18n.t("menu.download") %></span>
        </div>
    </td>
  </tr>
</table>
<div class="list master">
  <% @customers.each do |customer| %>
  <%= render(:partial => "shared/edit_li_wide", :locals => {
          :path => customer_path(customer),
          :image => icon(:customer),
          :text => customer.full_name,
          :edit_path => edit_customer_path(customer),
          :del_path => customer 
        }) %>
  <% end %>
  </div>
<!-- End ul.list -->
<div class="pagination" align="center">
  <%= paginate @customers if @customers %>
</div>
