= raw content_box_top @customer.full_name

.list

  %p== #{ @last_orders.count } #{ t('activerecord.models.order.other') }

  %h3= t('views.notes')
  %table{ :id=> "notes_table", :width => "90%", :align=> "center"}
    - @customer.notes.each do |note|
      %tr
        %td{:align=>'left'}= raw(Kramdown::Document.new(note.body).to_html)
  
  %h3= t('.last_orders')
  %table{:width => "90%", :align=> "center", :class => "stripe-me"}
    %tr
      %th= t('.order_id')
      %th= t('.order_total')
    - @last_orders.each do |o|
      %tr
        %td= link_to o.id, "/orders/#{o.id}/print"
        %td= number_to_currency o.total

  %h3= t('.bought_items')
  %table{:width => "90%", :align=> "center", :class => "stripe-me"}
    %tr
      %th= Item.human_attribute_name :name
      %th= Item.human_attribute_name :sku
      %th= t('.sold_count')
    - @item_statistics.to_a.each do |is|
      %tr
        %td= is[1][:name]
        %td= is[1][:sku]
        %td= is[1][:count]
