= stylesheet_link_tag 'invoice_default'
= stylesheet_link_tag 'invoice_default_print', :media => 'print'

= raw content_box_top(t("views.orders"))

.tools
  %span{ :onmousedown => 'sr.fn.salor_bin.showPrintDialog()' }= salor_icon(:a4print, {}, 32, t('orders.print.print'))
  %br
  = form_tag "/orders/order_reports", :method => :get do
    = label 'from', t('orders.report_day.from')
    = select_date(@from, :prefix => 'from')
    %br
    = label 'to', t('orders.report_day.to')
    = select_date(@to, :prefix => 'to')
    %br
    %select{:id => "limit_select", :name => "limit"}
      - [15,25,50,100].each do |lim|
        - if lim.to_s == params[:limit].to_s
          %option{:value=> lim, :selected => true}=lim
        - else
          %option{:value=> lim}=lim
    %br
    = submit_tag t('helpers.submit.ok'), :onclick => '$("#progress").show()'
.clear

.paper-invoice.invoice_print
  = render '/vendors/reports/default/header_page_one'


  = render '/vendors/reports/default/best_selling_items'
  
  = render '/vendors/reports/default/best_selling_category'
  = render '/vendors/reports/default/best_selling_locations'
  
  .center
    %img.salorlogo{ :src => '/images/salor-logo-reports.png'}
    
