= raw content_box_top(t("activerecord.models.sale_type.other"))
%table{:width=>"90%",:align=>"center"}
  %tr
    %td{:colspan=>2}
      %h2= t('activerecord.models.sale_type.other')
      %hr
  - @sale_types.each do |s|
    %tr
      %td= link_to s.name, edit_sale_type_path(s)
      %td{:align=>'right'}= link_to image_tag('button_small_delete.png', :title => SaleType.human_attribute_name(:hidden), :alt => SaleType.human_attribute_name(:hidden)), country_path(s), :method => :delete, :confirm => t(:are_you_sure)
  %tr
    %td{:colspan=>2,:align=>'right'}
      %br
      = link_to (t 'menu.new_sale_type'), new_sale_type_path, :class => 'links new-model-button'
= raw content_box_bottom
