%h2= @sale_type.new_record? ? (t '.new_sale_type') : (t '.edit_sale_type')

- if @sale_type.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @sale_type.errors.size, :model => SaleType.model_name.human
    %ul
      - @sale_type.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @sale_type do |sale_type_form|
    %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    %table
      %tr
        %td= sale_type_form.label 'name'
        %td= sale_type_form.text_field :name, :size => '10'