%h2= @sale_type.new_record? ? (t 'menu.new_sale_type') : (t 'menu.edit_sale_type')

- if @sale_type.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @sale_type.errors.size, :model => SaleType.model_name.human
    %ul
      - @sale_type.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @sale_type do |sale_type_form|
    %table
      %tr
        %td= sale_type_form.label t('activerecord.attributes.name')
        %td= sale_type_form.text_field :name, :size => '10'
      %tr
        %td{:colspan=> 2,:align=>'right'}
          %p= submit_tag( controller.action_name == 'new' ? (t('helpers.submit.create')) : (t('helpers.submit.edit')) )
