<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @broken_item.name %>
</p>

<p>
  <b>Sku:</b>
  <%= @broken_item.sku %>
</p>

<p>
  <b>Quantity:</b>
  <%= @broken_item.quantity %>
</p>

<p>
  <b>Base price:</b>
  <%= @broken_item.base_price %>
</p>

<p>
  <b>Vendor:</b>
  <%= @broken_item.vendor_id %>
</p>

<p>
  <b>Owner:</b>
  <%= @broken_item.user_id %>
</p>

<p>
  <b>Owner type:</b>
  <%= @broken_item.user_type %>
</p>

<p>
  <b>Note:</b>
  <%= @broken_item.note %>
</p>


<%= link_to 'Edit', edit_broken_item_path(@broken_item) %> |
<%= link_to 'Back', broken_items_path %>
