%h2= @user.full_name + " (#{@user.username})"

%p== #{ t "views.single_words.from" } #{ l @from, :format => :long }
%p== #{ t "views.single_words.to" } #{ l @to, :format => :long }

%table.striped-table2
  %tr
    %td &nbsp;
    %td
  %tr
    %td= I18n.t('activerecord.models.drawer.one')
    %td{:align=>"right"}= number_to_currency(@user.get_drawer.amount)
  %tr
    %td= I18n.t('activerecord.models.order.other')
    %td{:align=>"right"}= @user.orders.where(:created_at => @from..@to, :paid => 1).count
  %tr
    %td= I18n.t('activerecord.attributes.cash_made')
    %td{:align=>"right"}= number_to_currency @user.orders.where(:created_at => @from..@to, :paid => 1).sum(:total_cents)
  %tr
    %td= I18n.t('activerecord.attributes.rebate')
    %td{:align=>"right"}= number_to_currency @user.order_items.where(:created_at => @from..@to).collect {|oi|  oi.order.paid == 1 ? oi.rebate_amount : 0 }.sum