%h2=I18n.t('activerecord.models.drawer_transaction.other')
%table.striped-table2
  %tr
    %td= l @from, :format => :long
    %td=raw "&nbsp;"
    %td{:align=>'right'}= l @to, :format => :long
  - @user.drawer_transactions.visible.where("tag != 'CompleteOrder' and tag != 'Change'").where(:created_at => (@from-1.day)..(@to + 1.day)).each do |crd|
    %tr
      %td= l crd.created_at, :format => :short
      %td{:align=>"right"}= number_to_currency crd.amount
      %td= raw crd.notes
