<table align="center" width="100%">
  <tr>
    <td valign="top" align="center">
      <%= form_for(@user) do |f| %>
        <div class="actions">
          <%= f.submit %>
        </div>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= I18n.t("activerecord.errors.template.header.other", :count => @user.errors.count,:model => t("activerecord.models.user.one"))%></h2>
      
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <table align="center" width="80%">
        <tr>
           <td valign="top">
           
              <div class="freefield"><%= f.label t("activerecord.attributes.username") %><br />
              <%= f.text_field :username, :class => "keyboardable"%></div>
              
              <div class="freefield"><%= f.label t("activerecord.attributes.first_name") %><br />
              <%= f.text_field :first_name, :class => "keyboardable"%></div>
      
              <div class="freefield"><%= f.label t("activerecord.attributes.last_name") %><br />
              <%= f.text_field :last_name, :class => "keyboardable"%></div>
      
      

              
              <div class="freefield"><%= f.label t("activerecord.attributes.user.hourly_rate") %><br />
              <%= f.text_field :hourly_rate, :class => "keyboardable"%></div>
              
              <div class="freefield"><%= f.label t("activerecord.attributes.email") %><br />
              <%= f.email_field :email, :class => 'keyboardable' %></div>
              <div class="freefield"><%= f.label User.human_attribute_name :uses_drawer_id %><br />
              <%= f.collection_select :uses_drawer_id, @current_vendor.users.visible.where("username != '#{@user.username}'"), :drawer_id, :username, :include_blank => true %>
              
              </div>
            </td>
            <td valign="top">
              <div class="freefield">
                  <%= t "views.language" %><br />
                  <%= f.select :language, SalorRetail::Application::LANGUAGES.to_a.collect{ |a| a.reverse } %>
              </div>
      
              <div class="freefield"><%= f.label t("activerecord.attributes.password") %><br />
              <%= f.text_field :password, :class => 'keyboardable' %></div>
              
              <div class="freefield"><%= f.label t("activerecord.models.vendor.one") %><br />

              
              <div class="freefield"><%= f.label t("activerecord.attributes.telephone") %><br />
              <%= f.text_field :telephone, :class => "keyboardable"%></div>
              
              <div class="freefield"><%= f.label t("activerecord.attributes.cellphone") %><br />
              <%= f.text_field :cellphone, :class => "keyboardable"%></div>
              
              
            </td>
        </tr>
      </table>
      <table align="center" width="80%">
        <tr>
          <td>
              <div >
                <%= f.label t("activerecord.attributes.address") %><br />
                <%= f.text_area :address, :class => "keyboardable", :rows => 4, :cols => 40, :style => 'width: 400px;'%>
              </div>
            </td>
          </tr>
      </table>


      <table valign="top" width="98%">
        <tr>
          <td colspan="2">
          <!--
            API: <input type="text" name="employee[apitoken]" class="text-input" value="<%= @user.apitoken.blank? ? @user.make_token : @user.apitoken  %>" /> -->
          </td>
        </tr>
        <tr>
          <td valign="top" colspan="2">
            <h2> <%= t("views.forms.roles") %></h2>
            <div id="role_search">
              <input id="role_search_input" type="text" class="keyboardable" />
              <script type="text/javascript">
                $(function () {
                  $('#role_search_input').keyup(function () {
                    
                      $(".role-check").each( function () {
                            if ($('#role_search_input').val() == '') {
                              $(this).show();
                            } else if ($(this).attr('name').indexOf($('#role_search_input').val()) != -1) {
                              $(this).show();
                            } else {
                              $(this).hide();
                            }
                        }
                      );
                    } 
                  );   
                 });
              </script>
            </div>
            <br />
              <% for role in @current_vendor.roles.visible.order('name asc').all  %>
                <div class="role-check" name="<%= role.name.titleize%>">
                  <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id)  %>
                  <%= I18n.t(role.name) %>
                </div>
              <% end %>
          </td>
        </tr>
      </table>
          
      
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>      
    </td>
  </tr>
</table>
