%table.tools{ :width => '50%' }
  %tr.no-stripe
    %td
      .tool-icon
        = link_to(salor_icon(:add,{},32),"/#{klass.table_name}/new")
        %br
        %span.icon-caption=I18n.t('views.single_words.new')
      -if klass == Customer
        .tool-icon
          = link_to(salor_icon(:save_download,{},32),"/customers/download?page=#{params[:page]}&keywords=#{params[:keywords]}&order_by=#{params[:order_by]}")
          %br
          %span.icon-caption=I18n.t('menu.download')

%br
= render :partial => "shared/generic_search_wide", :locals => {:keywords => params[:keywords]} 
- if collection.respond_to?(:current_page)
  %div.pagination= paginate collection if collection

%table.list-view{ :width => '100%' }
  %tr
    %th
    - columns.each do |col|
      %th=I18n.t('activerecord.attributes.' + col.to_s).upcase
    %th
    %th

  - collection.each do |entry|
    - row_id = "#{klass.table_name.singularize}_#{entry.id}"
    - to_location = "window.location = '/#{entry.class.table_name}/#{entry.id}';"
    %tr
      - if klass == Plugin
        - icon = @current_plugin_manager.get_icon_for(entry)
        - if not icon.empty? then
          %td{:width => "40px"}
            %img{ :src => icon, :onclick => to_location, :id => row_id, :width => 48 }
        - else
          %td{:width => "40px"}=salor_icon(klass.table_name.singularize.to_sym,{:id => row_id,:onclick => to_location},48)
      - else
        %td{:width => "40px"}=salor_icon(klass.table_name.singularize.to_sym,{:id => row_id,:onclick => to_location},48)
      - columns.each do |col|
        - if entry.class == TaxProfile and col == :value then
          %td{:align=>:center}= number_to_percentage(entry.send(col))
        - elsif entry.class == Action and col == :whento then
          %td=I18n.t("when_list.#{entry.whento}") if entry.whento
        - else
          %td
            - val = entry.send(col)
            - if val.class == ActiveSupport::TimeWithZone
              = val.strftime("%Y-%m-%d %H:%M")
            - else
              = val
      - if @current_user.can("edit_#{klass.table_name}")
        %td{:align=>:center, :width=>"64px"}=link_to salor_icon(:edit,{},32), "/#{entry.class.table_name}/#{entry.id}/edit" 
      - else
        %td
      - if @current_user.can("destroy_#{klass.table_name}".to_sym)
        %td{:align=>:center, :width=>"64px"}=link_to salor_icon(:delete,{},32), "/#{entry.class.table_name}/#{entry.id}", :confirm => 'Are you sure?', :method => :delete 
      - else
        %td
- if klass == Customer 
  =render(:partial => "shared/dropzone", :locals => { :action => "/customers/upload"})
- if collection.respond_to?(:current_page)
  %div.pagination= paginate collection
