<div id="last_five_orders" class="last-five-orders hidden">

  <div class="generic-button-cool popup-hide-button" onclick="$('.last-five-orders').hide();">X</div>
  <% i = 49  %>
  <% x = 1 %>
  <% @current_vendor.orders.where(:paid => nil).where(:employee_id => @current_user.id).order("id desc").limit(5).each do |order| %>
  <%
    color = order.cash_register.color
  %>
  <div location="/orders/<%= order.id %>/edit" 
         class="last-five-order pointer last-five-orders-<%= i %> "         onmousedown="window.location = '/orders/<%= order.id %>/edit';"
          style="background-color: <%= color %>;"
         >
    <%= image_tag('/images/icons/' + icon(:order,32)) %><br />
    <span class="id">
      <%= order.tag.nil? or order.tag.empty? ? order.employee.username : order.tag %>
    </span>
    <br />
    <span><%= order.customer.full_name if order.customer %></span>
    <br />
    <span class="total">
      <%= salor_number_to_currency order.total %>
    </span>
  </div>
    <% i = i + 1  %>
    <% x = x + 1  %>
  <% end %>
</div>