.customer-display
  .logo= image_tag @current_vendor.image('logo')

  - @report[:list_of_items_raw].reverse[0..4].each do |item|
    - highlight = item[:price].blank? or item[:price].fractional < 0
    %div{ :class => "#{ highlight  ? 'highlighted' : '' }" }
      - item = format_item(item)
      - item.each do |k,v|
        - next if k == :type or k == :letter
        %span{ :class => k }= v

  %div#subsubtotal= humanized_money_with_symbol @report[:total]

  - unless @order.completed_at.nil?
    %div#change== #{ t('printr.order_receipt.change') }: #{ humanized_money_with_symbol @report[:change] }

  - if @report[:customer]
    .customerdetails
      %img{ :src => "/images/icons/#{ icon(:customer,32)  }"}
      - if not @report[:customer][:company_name].empty?
        %span= @report[:customer][:company_name]
      - else
        %span== #{ @report[:customer][:first_name] } #{ @report[:customer][:last_name] }
      %br
      %span== #{ t('printr.order_receipt.current_loyalty_points') }: #{ @report[:customer][:current_loyalty_points] }

- unless @order.completed_at.nil?
  :javascript
    setTimeout(function() {
      window.location = window.location.origin + "/vendors/#{ @current_vendor.id }/display_logo";
    },
    5000);