<%
  case params[:type]
    when 'normal'
      title = "menu.orders"
    when 'proforma'
      title = 'activerecord.models.order.proforma_orders'
    when 'unpaid'
      title = 'activerecord.models.order.unpaid_orders'
    when 'quote'
      title = 'activerecord.models.order.quotes"'
  end
  
%>
<%= raw content_box_top(t(title)) %>

<table class="tools" align="center">
  <tr>
    <td align="center">
      <div class='tools'>
        <div class="tool-icon">
          <a href='/orders/report_day'><%= salor_icon(:report,{},32) %></a><br /><span class='icon-caption'><%= t("menu.report_day") %></span>
        </div>
        <div class="tool-icon">
          <a href='/orders/order_reports'><%= salor_icon(:statistics,{},32) %></a><br /><span class='icon-caption'><%= t("menu.statistics") %></span>
        </div>
        <div class="tool-icon">
          <a href='/orders?type=normal'><%= salor_icon(:order,{},32) %></a><br /><span class='icon-caption'><%= t("activerecord.models.order.other") %></span>
        </div>
        <div class="tool-icon">
          <a href='/orders?type=proforma'><%= salor_icon(:proforma_order,{},32) %></a><br /><span class='icon-caption'><%= t("activerecord.models.order.proforma_orders") %></span>
        </div>
        <div class="tool-icon">
          <a href='/orders?type=unpaid'><%= salor_icon(:unpaid_order,{},32) %></a><br /><span class='icon-caption'><%= t("activerecord.models.order.unpaid_orders") %></span>
        </div>
        <div class="tool-icon">
          <a href='/orders?type=quote'><%= salor_icon(:quote,{},32) %></a><br /><span class='icon-caption'><%= t("activerecord.models.order.quotes") %></span>
        </div>
        <div class="tool-icon" >
          <%= link_to salor_icon(:save_download,{},32),"/orders?type=#{params[:type]}&page=#{params[:page]}&format=csv" %>
          <br /><span class='icon-caption'><%= I18n.t("menu.download") %></span>
        </div>
        <div class="tool-icon" >
          <%= link_to salor_icon(:thermal_printer,{},32),"/orders/receipts" %>
          <br /><span class='icon-caption'><%= I18n.t("menu.receipts") %></span>
        </div>
      </div>
    </td>
  </tr>
</table>

<table width="80%" class="stripe-me" align='center'>
<% @orders.each do |order| %>
  <tr>
    <td valign="top">
      <% if order.is_proforma %>
        <%= t('receipts.invoice.proforma_invoice') %> <%= order.nr %>
      <% elsif order.paid %>
        <%= t('receipts.invoice.invoice') + ' ' + order.nr.to_s if not order.is_quote %>
        <%= t('activerecord.models.order.quote') + ' ' + order.qnr.to_s if order.is_quote %>
      <% else %>
        <%= t('receipts.invoice.offer') %> <%= order.nr %>
      <% end %>
    </td>
    <td width='10%' valign="top">
      <%= order.user ? order.user.username : order.user.username %>
    </td>
    <td  width='10%' valign="top">
      <%= order.customer.full_name if order.customer %>
    </td>
    <td width='10%'> <%= order.tag %></td>
    <td><%= l(order.created_at,:format => :salor) %></td>
    <td><%= salor_number_to_currency order.total %> <% if order.total == 0.0 %> <small>(<%= salor_number_to_currency order.total %>)</small><% end %></td>
    <td width='10%' align='center'><%= link_to salor_icon(:print,{},32), "orders/#{ order.id }/print" %></td>
    <td width='10%' align='center'><%= link_to salor_icon(:show,{},32), order %></td>
    <td width='10%' align='center'><%=link_to(salor_icon(:cash_register,{},32), edit_order_path(order)) unless order.paid %></td>
  </tr>
<% end %>
</table>
<table align="center" width="100%">
  <tr align="center">
    <td valign="top" colspan="6">
      <%= paginate @orders if @orders %>
    </td>
  </tr>
</table>
