<%= raw content_box_top(t("menu.orders")) %>

<table align="center">
  <tr>
    <td align="center">
      <div class='tools'>
        <div class="tool-icon">
          <a href='orders/report_day'><img src='/images/icons/book_sun_64.png'></a><br /><span class='icon-caption'><%= t("menu.report_day") %></span>
        </div>
        <div class="tool-icon">
          <a href='orders/order_reports'><img src='/images/icons/statistics_64.png'></a><br /><span class='icon-caption'><%= t("menu.statistics") %></span>
        </div>
      </div>
    </td>
  </tr>
</table>

<table width="80%" class="stripe-me" align='center'>
<% @orders.each do |order| %>
  <tr>
    <td valign="top">
      <% if order.is_proforma %>
        <%= t('receipts.invoice.proforma_invoice') %> <%= order.nr %>
      <% elsif order.paid %>
        <%= t('receipts.invoice.invoice') %> <%= order.nr %>
      <% else %>
        <%= t('receipts.invoice.offer') %> <%= order.nr %>
      <% end %>
    </td>
    <td width='10%' valign="top">
      <%= order.employee ? order.employee.username : order.user.username %>
    </td>
    <td  width='10%' valign="top">
      <%= order.customer.full_name if order.customer %>
    </td>
    <td width='10%'> <%= order.tag %></td>
    <td><%= l(order.created_at,:format => :salor) %></td>
    <td><%= salor_number_to_currency order.gross %></td>
    <td width='10%' align='center'><%= link_to image_tag('/images/icons/' + icon(:document,32)), "orders/#{ order.id }/print" %></td>
    <td width='10%' align='center'><%= link_to image_tag('/images/icons/' + icon(:show,32)), order %></td>
    <td width='10%' align='center'><%= link_to(image_tag('/images/icons/' + icon(:edit,32)), edit_order_path(order)) if not order.paid %></td>
    <!--<td><%= link_to(image_tag('/images/icons/' + icon(:delete,32)), order, :confirm => 'Are you sure?', :method => :delete) if not order.paid %></td>-->
  </tr>
<% end %>
</table>
<table align="center" width="100%">
  <tr align="center">
    <td valign="top" colspan="6">
      <%= paginate @orders if @orders %>
    </td>
  </tr>
</table>
<%= raw content_box_bottom %>
