<script type="text/javascript">
  $(function () {
    Order = <%= raw @current_order.to_json %>;
    sr.fn.pos_core.updateOrder(Order);
    <%
      items = []
      @current_order.order_items.visible.each do |oi|
        items << oi.to_json
      end
    %>
    
    var order_items = [<%= raw items.join(',') %>];
    updateOrderItems(order_items);    
  });
</script>

<%= render :partial => "menu", :locals => {:order => @current_order} %>
<%= render :partial => "buttons/popup", :layout => false %> 

<div class='clear'></div>

<div id="pos-table-left-column-items" class="pos-table-left-column-items"></div>

<%= render :partial => "shared/search" %>
<%= render :partial => "complete_order" %>
<%= render :partial => "last_orders" %>
