= raw content_box_top(t("menu.reports"))

= form_tag 'report_day_range', :class => 'no-print', :method => :get do
  %div.from
    = label('from', t('.start_date'))
    = select_date(@from, :prefix => 'from')
  %div.to
    = label('to', t('.end_date'))
    = select_date(@to, :prefix => 'to')
  %div.actions
    %p{:align => 'center', :style => 'margin-left:-50px;'}
      = submit_tag t('orders.report.display'), :onclick => '$("#progress").show()'

%img{ :id => 'progress', :src => '/images/upload.gif', :style => 'display: none;' }

%div.tools
  %div.print_report_button{ :onmousedown => 'Salor.printPage();' }
    = salor_icon(:print, {}, 32)

%div.report-container
  %div
    %img.right{ :src => '/images/salor-logo-reports.png'}
  %div.clear
  %div
    %h2= t '.title'
    %h3== #{ l @from, :format => :just_day } bis #{ l @to, :format => :just_day }
    %table{ :class => 'striped-table2 has-total report' }
      %tr
        %th{ :class => 'date' }
        - @taxes.each do |tax|
          %th{ :class => 'bb' }== #{ tax.name }<br>#{ t('.net') }
        %th{ :class => 'br bb colsum' }== #{ t '.sum' }<br>#{ t('.net') }
        - @taxes.each do |tax|
          %th{ :class => 'bb center' }== #{ tax.name }<br>#{t('.gross')} #{ number_to_percentage tax.value, :precision => 0 }
        %th{ :class => 'br bb colsum' }= t '.rebate'
        %th{ :class => 'br bb colsum' }= t '.points'
        %th{ :class => 'br bb colsum' }== #{ t '.sum' }<br>#{ t('.gross') }

      - #setup subtotals
      - day_total_net = {}
      - @taxes.each { |t| day_total_net[t.id] = 0.0 }
      - day_total_gro = {}
      - @taxes.each { |t| day_total_gro[t.id] = 0.0 }
      - day_total = 0.0
      - day_total_rebate = 0.0
      - day_total_discount = 0.0
      - subtotal = 0.0

      - @from.to_date.upto(@to.to_date) do |day|
        - #setup day columns
        - day_net = {}
        - TaxProfile.all.each { |t| day_net[t.id] = 0.0 }
        - day_gro = {}
        - TaxProfile.all.each { |t| day_gro[t.id] = 0.0 }
        - day_rebate = 0.0
        - day_discount = 0.0

        - #setup order subtotals
        - o_total_net = {}
        - @taxes.each { |t| o_total_net[t.id] = 0.0 }
        - o_total_gro = {}
        - @taxes.each { |t| o_total_gro[t.id] = 0.0 }
        - day_total = 0.0
        - day_rebate = 0.0
        - day_discount = 0.0
        - Order.scopied.find(:all, :conditions => { :created_at => day.beginning_of_day..day.end_of_day, :paid => true }).each do |o|
          - #setup order columns
          - o_net = {}
          - TaxProfile.all.each { |t| o_net[t.id] = 0.0 }
          - o_gro = {}
          - TaxProfile.all.each { |t| o_gro[t.id] = 0.0 }
          - o_rebate = 0.0
          - o_discount = 0.0
          - o_total_rebate = 0.0
          - o_total_discount = 0.0


          - o.order_items.each do |oi|
            - item_price = case oi.behavior
              - when 'normal' then   oi.price
              - when 'gift_card' then oi.activated ? - oi.total : oi.total
              - when 'coupon' then oi.order_item ? - oi.order_item.coupon_amount : 0
            - item_price = oi.price * ( 1 - oi.rebate / 100.0 ) if oi.rebate
            - item_price = -oi.price if o.buy_order
            - item_total = oi.total_is_locked ? oi.total : item_price * oi.quantity
            - item_total = 0 if oi.refunded or o.refunded
            - o_gro[oi.tax_profile.id] += item_total
            - #------------------

          - @taxes.each do |tax|
            - o_net[tax.id] = o_gro[tax.id] / (1 + tax.value/100.0)
            - o_total_net[tax.id] += o_net[tax.id].round(2)
            - o_total_gro[tax.id] += o_gro[tax.id]

          - order_total = o_gro.to_a.sum{ |g| g[1] }
          - o_discount += o.lc_discount_amount
          - if not o.rebate.zero? and o.rebate_type == 'percent'
            - o_rebate = order_total * o.rebate / 100.0
          - elsif not o.rebate.zero? and o.rebate_type == 'fixed'
            - o_rebate = o.rebate
          - o_total_rebate += o_rebate
          - o_total_discount += o_discount
          - order_total = order_total - o_rebate - o_discount
          - #======================

          - day_rebate += o_total_rebate
          - day_discount += o_total_discount
          - day_total += order_total

          - @taxes.each do |tax|
            - day_gro[tax.id] += o_gro[tax.id]
            - day_net[tax.id] += o_gro[tax.id] / (1 + tax.value/100.0)


        - day_total_rebate += day_rebate
        - day_total_discount += day_discount
        - subtotal += day_total
        - @taxes.each do |tax|
          - day_total_net[tax.id] += day_net[tax.id].round(2)
          - day_total_gro[tax.id] += day_gro[tax.id]


        %tr
          %td= l day, :format => :iso_day
          - @taxes.each do |tax|
            %td{ :class => 'right'}= number_to_currency day_net[tax.id]
          %td{ :class => 'br colsum right' }= number_to_currency day_net.to_a.sum{ |n| n[1] }
          - @taxes.each do |tax|
            %td{ :class => 'right'}= number_to_currency day_gro[tax.id]
          %td{ :class => 'right'}= number_to_currency day_rebate
          %td{ :class => 'right'}= number_to_currency day_discount
          %td{ :class => 'br colsum right' }= number_to_currency day_total

      %tr.total
        %td{ :class => 'br sum table-right' }
        - @taxes.each do |tax|
          %td{ :class => 'sum' }= number_to_currency day_total_net[tax.id]
        %td{ :class => 'sum colsum br' }= number_to_currency day_total_net.to_a.sum { |n| n[1] }
        - @taxes.each do |tax|
          %td{ :class => 'sum' }= number_to_currency day_total_gro[tax.id]
        %td{ :class => 'sum colsum br' }= number_to_currency day_total_rebate
        %td{ :class => '' }= number_to_currency day_total_discount
        %td{ :class => 'sum colsum br' }= number_to_currency subtotal

= raw content_box_bottom
