<%= raw content_box_top(t("views.order_heading", :store => @order.vendor.name, :id => @order.nr)) %>
     
      <table id="order_items_table" width="80%" align=center class="ui-corner-all ui-widget ui-content stripe-me">
        <tr>
          <th><%= t("activerecord.attributes.name") %></th>
          <th><%= I18n.t("activerecord.attributes.sku") %></th>
          <th><%= t("activerecord.attributes.quantity") %></th>
          <th><%= t("activerecord.attributes.rebate") %></th>
          <th><%= t("activerecord.attributes.base_price") %></th>
          <th>&nbsp;</th>
        </tr>
        <%= salor_render :partial => "line_items", :locals => {:order_items => @order.order_items.visible} %>
        <tr>
          <td colspan=5 align="right"><%=  I18n.t("activerecord.attributes.total")%>:</td>
          <td align="right"><%= @order.gross%></td>
        </tr>
        <% @order.payment_methods.each do |pm| %>
          <tr>
            <td colspan="5" align="right"><%= pm.name %></td>
            <td align="right"><%= number_to_currency pm.amount %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan=5 align="right">GDA:</td>
          <td align="right"><%= @order.get_drawer_add%></td>
        </tr>
        <tr class="no-stripe">
            <td align=center colspan=6>
              <select id='refund_payment_method'>
              <%= options_for_select PaymentMethod.types_list %>
              </select>
            </td>
        </tr>
        
      </table>
<%
  if @order.refunded then
    reverse = "/images/icons/#{icon(:refund,32)}"
  else
    reverse = "/images/icons/#{icon(:refunded,32)}"
  end
%>
<table align="center">
  <tr>
    <td>
      <%= salor_icon(:printer,{:style => "cursor:pointer;", :onclick => "print_order('#{@order.id }');"},32) %>
    </td>
    <td>
      <%= link_to salor_icon(:a4print,{},32), "/orders/#{@order.id}/print" %>
    </td>
  </tr>
</table>

<script>
var payment_internal_types = [<%= raw PaymentMethod.types_list.map {|pm| "'#{pm[1]}'"}.join(',') %>];
var payment_external_types = [<%= raw PaymentMethod.types_list.map {|pm| "'#{pm[0]}'"}.join(',') %>];
</script>
<style>
  table.overflowing-table td {
    width: 20%;
    vertical-align: top;
    font-size: 12px;
  }
</style>
<table width="80%" align="center" class="ui-corner-all ui-widget ui-content stripe-me overflowing-table">
  <tr class="no-stripe">
    <td colspan=6 ><h2>Drawer Transactions: </h2><br /><hr /></td>
  </tr>
  <% @order.drawer_transactions.order("id desc").each do |dt| %>
    <tr >
        <td><%= number_to_currency(dt.amount) %> (<%= dt.drawer_amount %>)</td>
        <td><%= dt.drop ? 'Drop' : 'Payout' %> <%= l dt.created_at, :format => "%H:%I:%S" %></td>
        <td><%= dt.owner ? dt.owner.username : 'Unknown' %>[<%= dt.drawer_id %>]</td>
        <td><%= dt.tag %></td>
        <td <%= dt.order != nil and dt.order_id == @order.id ? raw('style="background-color: red;"') : ''%>><small>Nr: <%= dt.order.nr rescue '' %> ID: <%= dt.order.id rescue ''%></small></td>
        <td><%= salor_icon(:delete,{:onclick => "window.location = '/orders/undo_drawer_transaction?id=#{dt.id}&oid=#{@order.id}'", :class => "pointer"},16) if $User.role_cache.include? "manager"%></td>
    </tr>
  <% end %>
  <tr class="no-stripe">
    <td colspan=6 ><h2>Surrounding Drawer Transactions: </h2><br /><hr /></td>
  </tr>
  <% DrawerTransaction.where(["created_at between ? and ?",@order.created_at - 20.minutes,@order.created_at + 20.minutes]).order("id desc").each do |dt| %>
    <tr >
        <td><%= number_to_currency(dt.amount) %> (<%= dt.drawer_amount %>)</td>
        <td><%= dt.drop ? 'Drop' : 'Payout' %> <%= l dt.created_at, :format => "%H:%I:%S" %></td>
        <td><%= dt.owner ? dt.owner.username : 'Unknown' %>[<%= dt.drawer_id %>]</td>
        <td><%= dt.tag %></td>
        <td <%= dt.order != nil and dt.order_id == @order.id ? raw('style="background-color: red;"') : ''%>><small>Nr: <%= dt.order.nr rescue '' %> ID: <%= dt.order.id rescue ''%></small></td>
        <td><%= salor_icon(:delete,{:onclick => "window.location = '/orders/undo_drawer_transaction?id=#{dt.id}&oid=#{@order.id}'", :class => "pointer"},16) if $User.role_cache.include? "manager"%></td>
    </tr>
  <% end %>
  
  <tr class="no-stripe">
    <td colspan=6 ><h2>History: </h2><br /><hr /></td>
  </tr>
  <% @order.histories.order("id desc").each do |h| %>
    <tr>
      <td colspan="6">[<%= l h.created_at, :format => "%H:%I:%S" %>] <b><%= h.url[0,h.url.index("?")] rescue h.url %></b></td>
    </tr>
    <tr>
      <td title="<%= h.url %>">&nbsp;</td>
      <td title="<%= h.action_taken %>"><%= h.action_taken[0..45] %></td>
      <td onclick="$('#changes_made_<%= h.id %>').toggle();">
        <%= h.changes_made[0..25] %>
        <div id="changes_made_<%= h.id %>" class="hidden">
          <pre>
<%= JSON.pretty_unparse(JSON.parse(h.changes_made)) rescue "" %>
          </pre>
        </div>
      </td>
      <td colspan=3 onclick="$('#params_<%= h.id %>').toggle();">
      
        <%= h.params[0..25] %>
        <div id="params_<%= h.id %>" class="hidden">
          <pre>
<%= JSON.pretty_unparse(JSON.parse(h.params)) rescue "" %>
          </pre>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<br />
<br />
<br />
<br />


