<%= raw content_box_top(t("views.order_heading", :store => @order.vendor.name, :id => @order.id)) %>
     
      <table id="order_items_table" width="80%" align=center class="ui-corner-all ui-widget ui-content stripe-me">
        <tr>
          <th><%= t("activerecord.attributes.name") %></th>
          <th><%= I18n.t("activerecord.attributes.sku") %></th>
          <th><%= t("activerecord.attributes.quantity") %></th>
          <th><%= t("activerecord.attributes.base_price") %></th>
          <th>&nbsp;</th>
        </tr>
        <%= salor_render :partial => "line_items", :locals => {:order_items => @order.order_items.visible} %>
        <% @order.payment_methods.each do |pm| %>
          <tr>
            <td colspan="4" align="right"><%= pm.name %></td>
            <td align="right"><%= number_to_currency pm.amount %></td>
          </tr>
        <% end %>
        <tr class="no-stripe">
            <td align=center colspan=6>
              <select id='refund_payment_method'>
              <%= options_for_select PaymentMethod.types_list %>
              </select>
            </td>
        </tr>
      </table>
<%
  if @order.refunded then
    reverse = "/images/icons/#{icon(:refund,32)}"
  else
    reverse = "/images/icons/#{icon(:refunded,32)}"
  end
%>
<table align="center">
  <tr>
    <td>
      <%= salor_icon(:printer,{:style => "cursor:pointer;", :onclick => "print_order('#{@order.id }');"},32) %>
    </td>
    <td>
      <%= link_to salor_icon(:a4print,{},32), "/orders/#{@order.id}/print" %>
    </td>
  </tr>
</table>

<script>
var payment_internal_types = [<%= PaymentMethod.types_list.map {|pm| "'#{pm[1]}'"}.join(',') %>];
var payment_external_types = [<%= PaymentMethod.types_list.map {|pm| "'#{pm[0]}'"}.join(',') %>];
</script>


