<script type="text/javascript">
/*
  Prefer using these global JS variables instead of having erb all over the place so that js code can more easily be moved to the assets directory.
 */
<% if $Conf  %>
  window.Conf = <%= raw $Conf.attributes.to_json %>;
  <% else  %>
  window.Conf = {};
<% end %>
<% if $User then %>
  window.User = <%= raw $User.attributes.to_json %>;
  window.User.type = '<%= $User.class.to_s %>';
  window.Drawer = <%= raw $User.get_drawer.attributes.to_json %>;
  window.Meta = <%= raw $User.get_meta.attributes.to_json %>;
<% else %>
  window.User = {};  
  window.Meta = {};
  window.Drawer = {};
<% end %>
<% if $Register then %>
  window.Register = <%= raw $Register.attributes.to_json %>;
<% else %>
  window.Register = {};
<% end %>

var workstation = <%= workstation? %>;
var mobile = <%= not workstation? %>;
var i18nlocale = '<%= I18n.locale %>';
var i18nunit = '<%= I18n.t("number.currency.format.unit") %>';
var i18nseparator = '<%= I18n.t("number.currency.format.separator") %>';
var i18ndelimiter = '<%= I18n.t("number.currency.format.delimiter") %>';

var i18n_value_not_set = '<%= t("system.errors.value_not_set") %>';
var i18n_menu_ok = '<%= t("menu.ok") %>';
var i18n_menu_cancel = '<%= t("menu.cancel") %>';
var i18n_transaction_tag_one = '<%= I18n.t("activerecord.models.transaction_tag.one") %>';

<%
  if GlobalData.conf
    shippers = salor_user.get_shippers(nil)
    ships = []
    shippers.each do |ship|
      ships << "<option value='Shipper:#{ship.id}'>#{ship.name}</option>"
    end
    shippers = salor_user.get_vendors(nil)
    shippers.each do |ship|
      ships << "<option value='Vendor:#{ship.id}'>#{ship.name}</option>"
    end
    ships = ships.join(' ')
    inplace_ships = "<select id='inplaceedit'>#{ships}</select>"

    categories = salor_user.get_all_categories
    cats = []
    categories.each do |cat|
      cats << "<option value='#{cat.id}'>#{cat.name.gsub('"','\"')}</option>"
    end
    cats = cats.join(' ')
    inplace_cats = "<select id='inplaceedit'>#{cats}</select>"

    vendors = salor_user.get_vendors(nil)
    stores = []
    vendors.each do |store|
      stores << "<option value='#{store.id}'>#{store.name}</option>"
    end
    stores = stores.join(' ')
    inplace_stores = "<select id='inplaceedit'>#{stores}</select>"

    locations = Location.by_vendor(salor_user.meta.vendor_id)
    locs = []
    locations.each do |loc|
      locs << "<option value='#{loc.id}'>#{loc.name}</option>"
    end
    locs = locs.join(' ')
    inplace_locations = "<select id='inplaceedit' >#{locs}</select>"

    item_types = ItemType.all
    itps = []
    item_types.each do |itp|
      itps << "<option value='#{itp.id}'>#{itp.name}</option>"
    end
    itps = itps.join(' ')
    inplace_itemtypes = "<select id='inplaceedit' >#{itps}</select>"

    shipment_statuses = Shipment::TYPES
    itps = []
    shipment_statuses.each do |itp|
      itps << "<option value='#{itp[:value]}'>#{itp[:display]}</option>"
    end
    itps = itps.join(' ')
    inplace_shipmentstatuses = "<select id='inplaceedit' >#{itps}</select>"

    rebate_types = Order::REBATE_TYPES
    itps = []
    rebate_types.each do |itp|
      itps << "<option value='#{itp[1]}'>#{itp[0]}</option>"
    end
    itps = itps.join(' ')
    inplace_rebatetypes = "<select id='inplaceedit' >#{itps}</select>"
  end
%>

var inplace_ships = "<%= escape_javascript raw inplace_ships %>";
var inplace_cats = "<%= escape_javascript raw inplace_cats %>";
var inplace_cats = "<%= escape_javascript raw inplace_stores %>";
var inplace_locations = "<%= escape_javascript raw inplace_locations %>";
var inplace_itemtypes = "<%= escape_javascript raw inplace_itemtypes %>";
var inplace_shipmentstatuses = "<%= escape_javascript raw inplace_shipmentstatuses %>";
var inplace_rebatetypes = "<%= escape_javascript raw inplace_rebatetypes %>";


window.params = {
  action: "<%= params[:action] %>",
  controller: "<%= params[:controller] %>",
  user: { name: "<%= salor_user.username if salor_user %>" }
};

// ERRORS RELATED

<% if GlobalErrors.any? or GlobalErrors.any_fatal? %>
  $('.notice-container').html('');
  <% GlobalErrors.get_errors.each do |error| %>
    var error = $('<div class="error"><%= error[1] %></div><br />');
    $('.notice-container').append(error);
  <% end %>
  <% GlobalErrors.get_fatals.each do |error| %>
    var error = $('<div class="error"><%= error[1] %></div><br />');
    $('.notice-container').append(error);
  <% end %>
  initNotice();
  <% GlobalErrors.flush  %>
<% end %>


</script>
