<script type="text/javascript">
var filename = "_cash_drop.html.erb";

$(document).ready(function(){
  $(".trans-button").mousedown(selectTransButton);
  $(".cash-drop-amount").keyup(checkDropAmount);
});

function selectTransButton() {
  if ($(this).hasClass('trans-button')) {
    $(".trans-button").removeClass("button-highlight");
    $(this).addClass("button-highlight");
    $("#transaction_type").val($(this).attr('name'));
    cash_drop_save();
  }
}

function checkDropAmount() {
  $(this).val(toFloat($(this).val(), true));
  //checkContinueActive();
}

function checkContinueActive() {
  var button = $("#continue_button");
  if ($("#transaction_type").val() != '' && $(".cash-drop-amount").val() != '') {
    $(button).removeClass('button-inactive');
  } else {
    $(button).addClass('button-inactive');
  }
}

function show_cash_drop() {
  $('#cash_drop').show();
  $("#transaction_type").val('');
  $("#transButtonRow").removeClass('error-input');
  $(".trans-button").removeClass('button-highlight');
  //$('#cash_drop_form input[type=radio]').attr('checked',false);
  focusInput($('.cash-drop-amount'));

  setOnEnterKey(function(){
    cash_drop_save();
  });

  setOnEscKey(function(){
    hide_cash_drop();
  });
}

function hide_cash_drop() {
  $('#cash_drop').hide();
  $('.cash-drop-amount').removeClass('error-input');
  $('.cash-drop-amount').val('');
  focusInput($('#keyboard_input'));
  unsetOnEnterKey();
  unsetOnEscKey();
  $('#coincalculator').hide();
}

function cash_drop_save() {
  if ($('.cash-drop-amount').val() == '') {
    $('.cash-drop-amount').addClass('error-input');
    $('.trans-button').removeClass('button-highlight');
    focusInput($('.cash-drop-amount'));
    return;
  }
  $('.cash-drop-amount').removeClass('error-input');
  if($("#transaction_type").val() == '') {
    $("#transButtonRow").addClass('error-input');
    return;
  }
  $("transButtonRow").removeClass('error-input');
  /*
  if ($('#cash_drop_form .radio-checked').length == 0) {
    $('.cash-drop-radios').addClass('error-input');
    return;
  }
  $('.cash-drop-radios').removeClass('error-input');
  $('#cash_drop_form .radio-checked').removeClass('radio-checked');
  */
  $.get('/vendors/open_cash_drawer');
  $.ajax({
      type: 'POST',
      url: '/vendors/new_drawer_transaction',
      data: $('#cash_drop_form').serialize(),
      dataType: 'script',
      success: function (data) {
        hide_cash_drop();
      },
      error: function (data,status,err) {
        alert(err);
      }
  });
  focusInput($('#keyboard_input'));
}
<% if GlobalErrors.has_error("system.errors.must_cash_drop")  %>
$(function () {
      //show_cash_drop();
});
<% end %>

function show_coin_calculator() {
  $('#coincalculator').slideToggle();
}
</script>

<div id="cash_drop" class="cash-drop hidden">
<%= salor_render :partial => "shared/dt_tags" %>
<div class="cash-drop-error"></div>
<form id="cash_drop_form">
  <input type="hidden" id="transaction_type" name="transaction[trans_type]" value=""/>
  <span class='cash_drop_label'><%= I18n.t("menu.cash_register") %>:</span>
  <span class="pos-cash-register-amount"><%= salor_number_to_currency(GlobalData.salor_user.get_drawer.amount) if GlobalData.salor_user %></span>

  <% if GlobalData.salor_user and GlobalData.salor_user.can(:manager)  %>
      <p>
        <span class='cash_drop_label'><%= I18n.t("activerecord.models.employee.one") %></span>
        <select name="employee_id" id="employee_id">
          <option value="self" selected><%= GlobalData.salor_user.username %></option>
          <% Employee.scopied.each do |emp|  %>
            <option value="<%= emp.id %>"><%= emp.username %></option>
          <% end %>
        </select>
      </p>
  <% end %>

      <p>
        <span class='cash_drop_label'><%= I18n.t("activerecord.attributes.amount") %></span>
        <input type="text" name="transaction[amount]" class="cash-drop-amount text-input keyboardable-int" value="" size=3 />
      </p>
      <p>
        <span class='cash_drop_label'><%= I18n.t("activerecord.attributes.notes") %></span>
        <textarea name="transaction[notes]" class="keyboardable" rows="2" size=2></textarea>
       </p>

            <% if TransactionTag.scopied.any? then %>
            <div align="center">
             <input type="hidden" id="dt_tag" name="transaction[tag]" value="None">
            <div class="generic-button dt-tag-target" onmousedown="$('.dt-tags').show();">
              <%= I18n.t("activerecord.models.transaction_tag.one") %>
            </div>
            </div>
            <% end %>


           <div id="transButtonRow" class="button-row" align="center">
              <div class="button-confirm-left trans-button" name="drop" style="margin-left: auto;margin-right: auto;"><%= I18n.t("activerecord.attributes.drop") %></div>
              <div class="spacer-wide">&nbsp;&nbsp;&nbsp;</div>
              <div class="spacer-wide">&nbsp;&nbsp;&nbsp;</div>
              <div class="button-confirm trans-button" name="payout" style="margin-left: auto;margin-right: auto;"><%= I18n.t("activerecord.attributes.payout") %></div>
            </div>

</form>
<div class="clear-hr"></div>
<div class="button-row" align="right">
      <div class="button-cancel" onmousedown="hide_cash_drop();"><%= I18n.t("helpers.submit.cancel") %></div>
</div>
</div>

