#coincalculator.hidden
  %p
    = label_tag '1c', '1 Cent'
    = text_field_tag '1c', 0
  %p
    = label_tag '2c', '2 Cent'
    = text_field_tag '2c', 0
  %p
    = label_tag '5c', '5 Cent'
    = text_field_tag '5c', 0
  %p
    = label_tag '10c', '10 Cent'
    = text_field_tag '10c', 0
  %p
    = label_tag '20c', '20 Cent'
    = text_field_tag '20c', 0
  %p
    = label_tag '50c', '50 Cent'
    = text_field_tag '50c', 0
  %p
    = label_tag '1e', '1 Euro'
    = text_field_tag '1e', 0
  %p
    = label_tag '2e', '2 Euro'
    = text_field_tag '2e', 0
  %p
    = label_tag '5e', '5 Euro'
    = text_field_tag '5e', 0
  %p
    = label_tag '10e', '10 Euro'
    = text_field_tag '10e', 0
  %p
    = label_tag '20e', '20 Euro'
    = text_field_tag '20e', 0
  %p
    = label_tag '50e', '50 Euro'
    = text_field_tag '50e', 0
  %p
    = label_tag '100e', '100 Euro'
    = text_field_tag '100e', 0
  .button-row{:align => "right"}
    .button-cancel{ :onclick => "$('#coincalculator').hide()"}
      = t("menu.done")
      

:javascript
  $('#coincalculator input').click(
    function(){
      $(this).focus();
      $(this).select();
    }
  );
  $('#coincalculator input').keyup(
    function(){
      var sum;
      sum =
        parseInt($('#1c').val()) * 0.01 +
        parseInt($('#2c').val()) * 0.02 +
        parseInt($('#5c').val()) * 0.05 +
        parseInt($('#10c').val()) * 0.1 +
        parseInt($('#20c').val()) * 0.2 +
        parseInt($('#50c').val()) * 0.5 +
        parseInt($('#1e').val()) * 1 +
        parseInt($('#2e').val()) * 2 +
        parseInt($('#5e').val()) * 5 +
        parseInt($('#10e').val()) * 10 +
        parseInt($('#20e').val()) * 20 +
        parseInt($('#50e').val()) * 50 +
        parseInt($('#100e').val()) * 100;
      $('.cash-drop-amount').val(sum);
    }
  );
