<div class="widget master-wide">
    <a href="<%= path %>" onmousedown="window.location = '<%= edit_path %>';">
      <img src="/images/icons/<%= image %>" /><br />
      <%= raw text %>
    </a> 
      <div class="list slave">
        <div class="widget slave">
          <a href="<%= edit_path %>" onmousedown="window.location = '<%= edit_path %>';">
            <img src="/images/icons/<%= icon(:edit,16) %>" />
          </a>
        </div>
        <div class="widget slave">
          <%= link_to image_tag('/images/icons/' + icon(:delete,16)), del_path, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      </div>
      <!-- End ul.list -->
</div>
