<table align="center" class="center-piece" width="80%">
	<tr>
		<td valign="top" colspan="3" align="center" height="10px">
        <span class="box-title shadow"><%= t('views.three_easy_ways') %></span>
		</td>
	</tr>
  <tr>
		<td valign="top" class="right-border" width="33%">
			<p>
        <%= t('copy.online_method') %>
      </p>
      <br />
      <small><%= t('copy.any_note')%></small>
		</td>
    <td valign="top" class="right-border" width="33%">
			<p>
        <%= t('copy.dedicated_method') %>
      </p>
		</td>
    <td valign="top" width="33%">
			<p>
        <%= t('copy.local_method') %>
      </p>
      
		</td>
	</tr>
</table>
