<% order_items.reverse.each do |oi|%>
      <%
        price = oi.price
        total = oi.gross
        if oi.item.item_type.behavior == 'gift_card' and oi.item.activated then
          price = price * -1 unless price < 0
          total = total * -1 unless total < 0
        end
        next if oi.item.item_type.behavior == 'coupon'
      %>
        <tr id="order_item-<%= oi.id %>" 
            class="order-item <%= 'discount-applied' if oi.discount_applied %>" 
            gcard="<%= oi.item.item_type.behavior == 'gift_card' ? 'true' : 'false' %>"
            amnt="<%= oi.item.amount_remaining %>"
            activated="<%= oi.item.activated ? 'true' : 'false' %>">
            <% opts = "update_pos_display='true' model_id='#{oi.item.id}' klass='Item' field='name' data_type='String' id='in_place_edit_item_name_#{oi.item.id}'"  %>
            <%
              if oi.refunded then
                reverse = "/images/icons/#{icon(:refund,32)}"
              else
                reverse = "/images/icons/#{icon(:refunded,32)}"
              end
            %>
            <td class='order_table_item_name'><%= salor_icon(:delete,{:class => 'pointer', :onclick => "get('/orders/delete_order_item?id=#{oi.id}', '_order_line_items_void.html.erb')"},16) if not oi.order.paid %>&nbsp;&nbsp;&nbsp;<span class="editme item-name" <%= opts %>><%= oi.item.name %></span></td>
            <td>
              <%= oi.item.sku %>
              <% if GlobalData.salor_user.can(:edit_orders) and not curl("orders#new") and not curl("orders#update_order_items") %>
                <%= oi.refunded ? salor_icon(:refunded,{:onclick => 'quick_open_drawer();'},32) : link_to(salor_icon(:refund,{},32),'/orders/refund_item?void=true&id=' + oi.id.to_s, :onclick => 'quick_open_drawer();') %>
              <% end %>
              <%= action_button("/orders/activate_gift_card?id=#{oi.id}&amount=#{oi.amount_remaining}",salor_icon(:activate,{},32), {:update_pos_display => true}) if oi.behavior == 'gift_card' %>
              <%
                refresh = true
              %>
                <%= salor_icon(:split,{ :style => 'cursor: pointer;margin-left: 10px;',:onclick => "void_item(#{oi.id})"},32) if oi.quantity > 1 %>
            </td>
            
            <% opts = "update_pos_display='true' model_id='#{oi.id}' klass='OrderItem' field='quantity' data_type='Float' id='in_place_edit_quantity_#{oi.id}'"  %>
            <td align="right" class="order-item-quantity editme" <%= opts %>><%= oi.quantity %></td>
            
            <% topts = {:class => 'pos-lock-small toggle', :field => 'toggle_lock', :value => 'total', :klass => 'OrderItem', :model_id => oi.id } %>
            <% opts = "update_pos_display='true' model_id='#{oi.id}' klass='OrderItem' field='total' data_type='Float' id='in_place_edit_total_#{oi.id}'"  %>
            <td align="right">
              <%= oi.total_is_locked ? salor_icon(:locked,topts,32) : salor_icon(:unlocked,topts,32) %>
              <span class="order-item-total editme" <%= opts %>><%= salor_number_to_currency(total) %></span>
            </td>
        </tr>
        
      <% end %>
