<table id="order_items_table" width="100%" class="ui-corner-all ui-widget ui-content stripe-me scrollTable">
  <thead id="order_items_table_header" class='fixedHeader'>
    <tr>
      <th><%= t("activerecord.attributes.name") %></th>
      <th>
        <%= I18n.t("activerecord.attributes.sku") %>
      </th>
      <th><%= t("activerecord.attributes.quantity") %></th>
      <th><%= t("activerecord.attributes.price") %></th>
      <th><%= t("activerecord.attributes.coupon_total") %></th>
      <th><%= t("activerecord.attributes.total") %></th>
    </tr>
  </thead>
  <tbody id="scroll_content" class='scrollContent'>
  <%= salor_render :partial => "shared/order_line_items", :locals => {:order_items => order.order_items} %>
  </tbody>
</table>
