<%= raw(content_box_top(@vendor.name, {:width => '90%'})) %>
  <div class="list">
      <%= @current_plugin_manager.do_hook(:before_vendors_show_list) %>
      <% if @current_user.can(:edit_vendors) %>
        <div id="edit_vendor" class="widget master" onmousedown="window.location = '<%= edit_vendor_path(@vendor) %>';">
          <div align="center">
            <a href="<%= edit_vendor_path(@vendor) %>">
              <%= salor_icon(:settings,{},64) %>
              <br />
              <%= t("menu.configuration") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:show_tax_profiles) %>
        <div class="widget master" onmousedown="window.location = '<%= tax_profiles_path %>';">
          <div align="center">
            <a href="<%= tax_profiles_path %>">
              <%= salor_icon(:tax_profile,{},64) %>
              <br />
              <%= t("menu.tax_profiles") %>
            </a>
          </div>
          </div>
        <% end %>
        <% if @current_user.can(:index_categories) %>
        <div class="widget master" onmousedown="window.location = '<%= categories_path %>';">
          <div align="center">
            <a href="<%= categories_path %>">
              <%= salor_icon(:category,{},64) %>
              <br />
              <%= t("menu.categories") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:index_locations) %>
        <div class="widget master" onmousedown="window.location = '<%= locations_path %>';">
          <div align="center">
            <a href="<%= locations_path %>">
              <%= salor_icon(:locations,{},64) %>
              <br />
              <%= t("menu.locations") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:index_locations) %>
        <div class="widget master" onmousedown="window.location = '<%= stock_locations_path %>';">
          <div align="center">
            <a href="<%= stock_locations_path %>">
              <%= salor_icon(:stock_locations,{},64) %>
              <br />
              <%= t("menu.stock_locations") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:index_items) %>
        <div class="widget master" onmousedown="window.location = '<%= items_path %>';">
          <div align="center">
            <a href="<%= items_path %>">
              <%= salor_icon(:item,{},64) %>
              <br />
              <%= t("menu.items") %>
            </a>
          </div>
        </div>
        <div class="widget master" onmousedown="window.location = '<%= broken_items_path %>';">
          <div align="center">
            <a href="<%= broken_items_path %>">
              <%= salor_icon(:broken,{},64) %>
              <br />
              <%= t("menu.broken_items") %>
            </a>
          </div>
        </div>
        <% end %>
      <% if @current_user.can(:index_cash_registers) %>
        <div class="widget master" onmousedown="window.location = '<%= cash_registers_path %>';">
          <div align="center">
            <a href="<%= cash_registers_path %>">
              <%= salor_icon(:cash_register,{},64) %>
              <br />
              <%= t("menu.cash_registers") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:index_discounts) %>
        <div class="widget master" onmousedown="window.location = '<%= discounts_path %>';">
          <div align="center">
            <a href="<%= discounts_path %>">
              <%= salor_icon(:discount,{},64) %><br />
              <%= t("menu.discounts") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:index_shipments) %>
         <div class="widget master" onmousedown="window.location = '<%= shipments_path %>';">
          <div align="center">
            <a href="<%= shipments_path %>">
              <%= salor_icon(:shipment,{},64) %>
              <br />
              <%= t("menu.shipments") %>
            </a>
          </div>
        </div>
         <div class="widget master" onmousedown="window.location = '<%= shipment_types_path %>';">
          <div align="center">
            <a href="<%= shipment_types_path %>">
              <%= salor_icon(:shipment_type,{},64) %>
              <br />
              <%= t("menu.shipment_types") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:index_shippers) %>
         <div class="widget master" onmousedown="window.location = '<%= shippers_path %>';">
          <div align="center">
            <a href="<%= shippers_path %>">
              <%= salor_icon(:shipper,{},64) %>
              <br />
              <%= t("menu.shippers") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:index_orders) %>
        <div class="widget master" onmousedown="window.location = '<%= orders_path %>';">
          <div align="center">
            <a href="<%= orders_path %>">
              <%= salor_icon(:order,{},64)  %><br />
              <%= t("menu.orders") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:index_users) %>
        <div class="widget master" onmousedown="window.location = '<%= users_path %>';">
          <div align="center">
            <a href="<%= users_path %>">
              <%= salor_icon(:user,{},64) %>
              <br />
              <%= t("menu.users") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:index_customers) %>
         <div class="widget master" onmousedown="window.location = '/customers';">
          <div align="center">
            <a href="/customers">
            <%= salor_icon(:customer,{},64) %>
              <br />
              <%= t("menu.customers") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:index_transaction_tags) %>
        <div class="widget master" onmousedown="window.location = '<%= transaction_tags_path %>';">
          <div align="center">
            <a href="<%= transaction_tags_path %>">
              <%= salor_icon(:tags,{},64) %>
              <br />
              <%= t("menu.transaction_tags") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:show_actions) %>
        <div class="widget master" onmousedown="window.location = '<%= actions_path %>';">
          <div align="center">
            <a href="<%= actions_path %>">
              <%= salor_icon(:action,{},64) %>
              <br />
              <%= t("menu.actions") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:show_plugins) %>
        <div class="widget master" onmousedown="window.location = '<%= plugins_path %>';">
          <div align="center">
            <a href="<%= plugins_path %>">
              <%= salor_icon(:plugin,{},64) %>
              <br />
              <%= t("menu.plugins") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:show_payment_methods) %>
        <div class="widget master" onmousedown="window.location = '<%= payment_methods_path %>';">
          <div align="center">
            <a href="<%= payment_methods_path %>">
              <%= salor_icon(:payment,{},64) %>
              <br />
              <%= t("menu.payment_methods") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:show_countries) %>
        <div class="widget master" onmousedown="window.location = '<%= countries_path %>';">
          <div align="center">
            <a href="<%= countries_path %>">
              <%= salor_icon(:globe,{},64) %>
              <br />
              <%= t('activerecord.models.country.other') %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:show_sale_types) %>
        <div class="widget master" onmousedown="window.location = '<%= sale_types_path %>';">
          <div align="center">
            <a href="<%= sale_types_path %>">
              <%= salor_icon(:sale_type,{},64) %>
              <br />
              <%= t('activerecord.models.sale_type.other') %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:show_invoice_notes) %>
        <div class="widget master" onmousedown="window.location = '<%= invoice_notes_path %>';">
          <div align="center">
            <a href="<%= invoice_notes_path %>">
              <%= salor_icon(:invoice_note,{},64) %>
              <br />
              <%= t('activerecord.models.invoice_note.other') %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:show_buttons) %>
        <div class="widget master" onmousedown="window.location = '<%= buttons_path %>';">
          <div align="center">
            <a href="<%= buttons_path %>">
              <%= salor_icon(:button,{},64) %>
              <br />
              <%= t("menu.buttons") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:show_invoice_blurbs) %>
        <div class="widget master" onmousedown="window.location = '<%= invoice_blurbs_path %>';">
          <div align="center">
            <a href="<%= invoice_blurbs_path %>">
              <%= salor_icon(:invoice_blurb,{},64) %>
              <br />
              <%= t("menu.invoice_blurbs") %>
            </a>
          </div>
        </div>
        <% end %>
        <% if @current_user.can(:show_reports) %>
        <div class="widget master" onmousedown="window.location = '/reports';">
          <div align="center">
            <a href="/reports">
              <%= salor_icon(:save_download,{},64) %><br />
              <%= raw t("menu.law_reports") %>
            </a>
          </div>
        </div>
        <% end %>
        <%= @current_plugin_manager.do_hook(:after_vendors_show_list) %>
      </div>    
