<%= raw content_box_top(t("views.new_transaction_tag_heading", :store => Vendor.find(salor_user.meta.vendor_id).name))  %>
<table cellspacing="0">
  <tr>
    <td><strong>Name</strong><br /></td>
    <td><%= link_to image_tag("icons/" + icon(:add,32)), new_transaction_tag_path %></td>
    <td></td>
  </tr>

<% @transaction_tags.each do |transaction_tag| %>
  <tr class="<%= cycle('even','odd') %>">
    <td><%= transaction_tag.name %></td>
    <td><%= link_to image_tag("icons/" + icon(:edit,32)), edit_transaction_tag_path(transaction_tag) %></td>
    <td><%= link_to image_tag("icons/" + icon(:delete,32)), transaction_tag, :confirm => I18n.t("menu.delete_confirm"), :method => :delete %></td>
 
  </tr>
<% end %>
</table>

<%= raw content_box_bottom %>
