<div class="clear">
<br />
</div>
<div class="button-row" align='right'>
          <div class='button-print' onmousedown="window.location.href='/orders/report_day';"><%= t('views.report')%></div>
          <div class="spacer">&nbsp;</div>
          <div class="button-confirm" onmousedown="window.location = '/vendors/end_day';"><%= I18n.t("system.logout") %></div>
</div>

<br/>
<div  align="center" width="100%">

      <div id="eod-drawer-total"><span class='eod-drawer-total'>Kassenlade: <%= number_to_currency $User.get_drawer.reload.amount %></span></div>
          

</div>

<br/>
<br/>


<div align="center">
      <% I18n.t("number.currency.format.pieces").split(',').each do |piece| %>
        <div class="eod-piece">
      
              <label class="eod-calculator-input-label"><%= raw leftpad(piece.to_s.gsub('0.','.'),3,'&nbsp;') %></label>
       
              <input id="eod_piece_<%= num2name(piece) %>"
                 type="text"
                 name="eod_piece_<%= num2name(piece) %>"
                 class="text-input eod-calculator-input"
                 value=""
                 amount="<%= piece %>" />
        </div> 
      <% end %>
</div>

<br/>
<br/>
<br/>


<div class="button-row" align="center">
      <div id="eod-calculator-difference">Gezählt: <span class='eod-calculator-difference'><%= SalorBase.number_to_currency(0) %></span></div>
      <div id="eod-calculator-total">Differenz: <span class='eod-calculator-total'><%= SalorBase.number_to_currency(0) %></span></div>

</div>

<br/>
<br/>
<br/>

<table class="eod-master-table" align="center">
  
  <tr>
    <td valign="top">
      <!-- EOD By Category -->
      <table width="99%">
      <tr>
        <th>
          <%= I18n.t("activerecord.attributes.name") %>
        </th>
        <th>
          <%= I18n.t("activerecord.attributes.total") %>
        </th>
      </tr>
      <% cats_tags = {}  %>
          <% $User.get_meta.cash_register.end_of_day_report.each do |name,total| %>
           <tr class="stripe-me2">
             <td>
               <%= name %>
             </td>
             <td align="right">
               <%= number_to_currency(total) %>
             </td>
           </tr>
         <% end if GlobalData.salor_user.meta.cash_register %>
</table>
<% if $Register.paylife then %>
<h2> Cute Credit</h2>
<table width="100%">
  <% cute_total = 0 %>
  <% cute_eod_total = 0 %>
  <% $User.cute_credit_messages.each(:symbolize_keys => true) do |msg|  %>
    <% next if msg[:sa] != "P" %>
    <% cute_eod_total = 0 if msg[:ind].to_i == 2%>
    <tr>
      <td>
        Nr. <%= msg[:ref_id] %>
      </td>
      <td>
          <%= msg[:x_text] %>
          <% tmp = msg[:x_text] %>
          <% cute_total += SalorBase.string_to_float(tmp) %>
          <% cute_eod_total += SalorBase.string_to_float(tmp) %>
          <% ref_id = msg[:ref_id] %>
      </td>
    </tr>
  <% end -%>
  <tr>
    <td colspan="2" align="right" id="cute_credit_total">
       <%= I18n.t("paylife.total") %> <%= SalorBase.number_to_currency(cute_total) %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right" id="cute_credit_eod_total" eod_total="<%= cute_eod_total%>" ref_id="<%= ref_id %>">
       <%= I18n.t("paylife.eod_total") %> <%= SalorBase.number_to_currency(cute_eod_total) %>
    </td>
  </tr>
  </table>
  <script type="text/css">
  <% if cute_eod_total > 0 then %>
    $(function () {
      $('body').trigger({type: "CuteCreditEODNeeded"});
    });
  <% end -%>
  </script>
<% end %>
    </td>
  </tr>
</table>

