<%= salor_render :partial => "coin_calculator" %>
<div class="clear">
  &nbsp;<br />
</div>
      <div class="button-row" align="right" width="100%">
          <div class="button-cancel" onmousedown="eodPayout();"><%= I18n.t("menu.end_of_day_drop") %></div>
          <div class='button-print' onmousedown="window.location.href='/orders/report_day';">Bericht</div>
          <% if GlobalData.cash_register.artema_hybrid then %>
            <div class="spacer">&nbsp;</div>
            <div id="tagesende_button" class="input square-button" onmousedown="bycard_endday();">
              <%= t("menu.paylife_end_day")%>
            </div>
            <div class="spacer">&nbsp;</div>
          <% else  %>
            <div class="spacer">&nbsp;</div>
          <% end %>
          <div class="button-confirm" onmousedown="window.location = '/vendors/end_day';"><%= I18n.t("system.logout") %></div>
      </div>
      <br />
<table class="eod-master-table" align="center">
  <tr>
    <td colspan="2" class="even" valign="middle">
      <!-- Cash Total and Calculator Total -->
      <div class="eod-drawer-total"><%= SalorBase.number_to_currency(GlobalData.salor_user.get_drawer.amount) %></div>
      <div class="eod-calculator-total"><%= SalorBase.number_to_currency(0) %></div>
      <div class="eod-calculator-difference"><%= SalorBase.number_to_currency(0) %></div>
      <% if GlobalData.conf.open_cash_drawer  %>
        <div class="eod-drawer-button" onmousedown="quick_open_drawer();">
          &nbsp;&nbsp;&nbsp;<%= salor_icon(:cash_drawer, {:class => "no-select",:style => "top: -5px;cursor: pointer;"},16) %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td width="150px" class="even" valign="top">
    <!-- Change Calculator -->
      <% I18n.t("number.currency.format.pieces").split(',').each do |piece| %>
        <div class="eod-piece">
        <table width="99%">
          <tr>
            <td width="70px" align="right">
              <label class="eod-calculator-input-label"><%= raw leftpad(piece.to_s.gsub('0.','.'),3,'&nbsp;') %></label>
            </td>
            <td>
              <input id="eod_piece_<%= num2name(piece) %>"
                 type="text"
                 name="eod_piece_<%= num2name(piece) %>"
                 class="text-input eod-calculator-input"
                 value=""
                 amount="<%= piece %>" />
            </td>
          </tr>
        </table>
        </div> 
      <% end %>
      <br />

    </td>
    <td valign="top">
      <!-- EOD By Category -->
      <table width="99%">
      <tr>
        <th>
          <%= I18n.t("activerecord.attributes.name") %>
        </th>
        <th>
          <%= I18n.t("activerecord.attributes.total") %>
        </th>
      </tr>
      <% cats_tags = {}  %>
        <%  %>
          <% GlobalData.salor_user.meta.cash_register.end_of_day_report.each do |name,total| %>
           <tr class="stripe-me2">
             <td>
               <%= name %>
             </td>
             <td align="right">
               <%= number_to_currency(total) %>
             </td>
           </tr>
         <% end if GlobalData.salor_user.meta.cash_register %>
       </table>
<% if true then %>
<h2> Cute Credit</h2>
<table width="100%">
  <% cute_total = 0 %>
  <% cute_eod_total = 0 %>
  <% $User.cute_credit_messages.each(:symbolize_keys => true) do |msg|  %>
    <% next if msg[:sa] != "P" %>
    <% cute_eod_total = 0 if msg[:ind].to_i == 2%>
    <tr>
      <td>
        Nr. <%= msg[:ref_id] %>
      </td>
      <td>
          <%= msg[:x_text] %>
          <% tmp = msg[:x_text] %>
          <% cute_total += SalorBase.string_to_float(tmp) %>
          <% cute_eod_total += SalorBase.string_to_float(tmp) %>
          <% ref_id = msg[:ref_id] %>
      </td>
    </tr>
  <% end -%>
  <tr>
    <td colspan="2" align="right" id="cute_credit_total">
       <%= I18n.t("paylife.total") %> <%= SalorBase.number_to_currency(cute_total) %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right" id="cute_credit_eod_total" eod_total="" ref_id="">
       <%= I18n.t("paylife.eod_total") %> <%= SalorBase.number_to_currency(cute_eod_total) %>
    </td>
  </tr>
  </table>
  <script type="text/css">
  <% if cute_eod_total > 0 then %>
    $(function () {
      $('body').trigger({type: "CuteCreditEODNeeded"});
    });
  <% end -%>
  </script>
<% end %>
    </td>
  </tr>
</table>

