<%= raw content_box_top(t "views.cash_registers") %>
<div class="list">
  <% @cash_registers.each do |cash_register| %>
    <div class="widget master-wide">
      <div align="center">
        <a href="<%= cash_register_path(cash_register) %>">
          <img src="/images/icons/<%= icon(:cash_register) %>" /><br />
          <%= raw cash_register.name %>
        </a> <br /> <br />
          <div class="list slave">
            <div>
              <a href="<%= new_order_path(:cash_register_id => cash_register.id, :vendor_id => cash_register.vendor_id) %>">
                <img class="cash-register-login" src="/images/icons/<%= icon(:login,16) %>" />
              </a>
            </div>
            <div>
              <a href="<%= edit_cash_register_path(cash_register) %>">
                <img src="/images/icons/<%= icon(:edit,16) %>" />
              </a>
            </div>
            <div>
            <%= link_to image_tag('icons/' + icon(:delete,16)), cash_register, :confirm => 'Are you sure?', :method => :delete %>
            </div>
          </div>
          <!-- End ul.list -->
      </div>
    </div>
  <% end %>
  <div class="widget master">
      <div align="center">
        <a href="<%= new_cash_register_path %>">
          <img src="/images/icons/<%= icon(:add) %>" /><br />
          <%= t "menu.new_cash_register" %>
      	</a>
      </div>
    </div>
</div>
<%= raw content_box_bottom %>
