= stylesheet_link_tag 'invoice_default'
= stylesheet_link_tag 'invoice_default_print', :media => 'print'
= javascript_include_tag 'invoices.js'
- case @order.paid
  - when true
    - title = "menu.orders"
  - else
    - title = 'activerecord.models.order.unpaid_order'
    
- title = 'receipts.proforma_invoice' if @order.is_proforma
= raw content_box_top(t(title))

.tools
  %span{ :onmousedown => 'sr.fn.salor_bin.showPrintDialog();' }= salor_icon(:a4print, {}, 32, t('orders.print.print'))
  - if params[:delivery_note]
    = link_to salor_icon(:document, {}, 32, t('orders.print.invoice')), "/orders/#{ @order.id }/print"
  - else
    = link_to salor_icon(:gearpage, {}, 32, t('orders.print.delivery_note')), "/orders/#{ @order.id }/print?delivery_note=1"
  = link_to salor_icon(:label, {}, 32, t('orders.print.labels')), "/items/selection?order_id=#{ @order.id }"
  - if @order.is_proforma
    = link_to salor_icon(:order,{},32,I18n.t("menu.new_order")),"/orders/new_from_proforma?order_id=#{@order.id}"
  - if @order.is_unpaid or @order.paid.nil?
    = link_to salor_icon(:merge,{},32,I18n.t("menu.merge_into_current_order")),"/orders/merge_into_current_order?id=#{@order.id}"
  %br
  = form_tag "/orders/#{@order.id}/print", :id => 'print_form' do
    = hidden_field_tag 'delivery_note', params[:delivery_note]
    %span
      = select_tag :locale_select, options_for_select(SalorRetail::Application::LANGUAGES.to_a.collect{ |a| a.reverse }, params[:locale_select]), :onchange => "$('#print_form').submit();"
    %span
      = select_tag :currency, options_for_select(SalorRetail::Application::CURRENCIES, params[:currency]), :onchange => "$('#print_form').submit();"
      
- locale_before = I18n.locale
- I18n.locale = params[:locale_select]
    
.clear
- item_pagination_count_one = @current_vendor.pagination_invoice_one
- item_pagination_count_other = @current_vendor.pagination_invoice_other

- if @order.subscription
  = render :partial => 'details_subscription'

.paper-invoice
  = render :partial => 'orders/invoices/default/header_page_one'
  
  - if params[:delivery_note] == "1"
    %h2== #{ I18n.t("receipts.delivery_note") } #{ @order.nr }
    %p= text_area_tag 'delivery_note_comment', @order.delivery_note_comment
  - else
    - if @order.is_proforma
      %h2== #{ I18n.t("receipts.proforma_invoice") } #{ @order.nr }
    - elsif @order.paid or @order.is_unpaid
      %h2== #{ I18n.t("receipts.invoice") } #{ @order.nr }
    - elsif @order.is_quote
      %h2== #{ I18n.t("receipts.offer") } #{ @order.qnr }
    - if @order.completed_at
      %h3= I18n.l(@order.completed_at, :format => :just_day)
    %p= text_area_tag 'invoice_comment', @order.invoice_comment
    %p= raw(Kramdown::Document.new(@report[:invoice_note][:header]).to_html) if @report[:invoice_note][:header]
    
  - if params[:delivery_note] == "1"
    - item_count = @order.order_items.visible.size
    - item_pagination_count_one = item_count if item_pagination_count_one > item_count
    - additional_page_count = 1 + (item_count - item_pagination_count_one - 1) / item_pagination_count_other
    = render :partial => 'orders/invoices/default/item_list_delivery_note', :locals => { :item_start => 0, :item_end => item_pagination_count_one - 1 }
  - else
    - item_count = @report[:list_of_items_raw].size
    - item_pagination_count_one = item_count if item_pagination_count_one > item_count
    - additional_page_count = 1 + (item_count - item_pagination_count_one - 1) / item_pagination_count_other
    = render :partial => 'orders/invoices/default/item_list_invoice', :locals => { :item_start => 0, :item_end => item_pagination_count_one - 1 }
    
  = render :partial => 'orders/invoices/default/totals' if additional_page_count.zero?

    
    
    

- additional_page_count.times do |i|
  - item_start = item_pagination_count_one + i * item_pagination_count_other
  - item_end = item_start + item_pagination_count_other - 1
  - item_end = item_count - 1 if item_count <= (item_pagination_count_one + (i+1) * item_pagination_count_other)
  .paper-invoice
    = render :partial => 'orders/invoices/default/header_page_other'
    - if params[:delivery_note]
      = render :partial => 'orders/invoices/default/item_list_delivery_note', :locals => { :item_start => item_start, :item_end => item_end }
    - else
      = render :partial => 'orders/invoices/default/item_list_invoice', :locals => { :item_start => item_start, :item_end => item_end }

    = render :partial => 'orders/invoices/default/totals' if i == additional_page_count - 1
     
     
- I18n.locale = locale_before
     
    
:javascript
  $('#invoice_comment').on('change', function() {
    $.ajax({
      url: '/vendors/edit_field_on_child',
      data: {id:#{@order.id},klass:'Order',field:'invoice_comment',value:$(this).val()}    
    })
  })
  
  $('#delivery_note_comment').on('change', function() {
    $.ajax({
      url: '/vendors/edit_field_on_child',
      data: {id:#{@order.id},klass:'Order',field:'delivery_note_comment',value:$(this).val()}    
    })
  })
