/ we are on the last page
- unless params[:delivery_note] == "1"
  %table.striped-table2.has-total
    - if @order.is_proforma
      %tr
        %td{ :colspan => 4 }= t('printr.order_receipt.total').upcase
        %td.total= humanized_money_with_symbol @order.total.exchange_to(@ec)
    %tr
      %td{ :colspan => 4 }= t('activerecord.attributes.total').upcase
      - if @order.is_proforma then
        %td.total= humanized_money_with_symbol @order.amount_paid.exchange_to(@ec)
      - else
        %td.total= humanized_money_with_symbol @report[:total].exchange_to(@ec)

  %br
  %br
  %br
  %table.striped-table2.small
    - if @order.is_unpaid then
      - @order.payment_method_items.each do |pm|
        %tr
          %td.editable-payment-method.pointer{ :model_id => pm.id, :amount => pm.amount}= pm.payment_method.name
          %td.total= humanized_money_with_symbol pm.amount.exchange_to(@ec)
    - else
      - @report[:paymentmethods].each do |k,v|
        %tr
          %td= v[:name]
          %td.total= humanized_money_with_symbol v[:amount].exchange_to(@ec)


  %br
  %br
  %table.striped-table2.small
    %tr
      %th
      %th
      %th.right= t('printr.order_receipt.net')
      %th.right= t('printr.order_receipt.tax')
      %th.right= t('printr.order_receipt.gross')
    - @report[:list_of_taxes_raw].each do |tax|
      - tax = format_tax(tax)
      %tr
        - tax.each do |k,v|
          %td.total= v
          
  %p= raw(Kramdown::Document.new(@report[:invoice_note][:footer]).to_html) if @report[:invoice_note][:footer]

%div.invoice_blurb_footer= raw Kramdown::Document.new(@report[:invoice_blurbs][:invoice][:footer]).to_html

%p= @report[:customer][:tax_number] if @report[:customer]

.center
  /logo here