<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @customer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @customer.last_name %>
</p>

<p>
  <b>Street1:</b>
  <%= @customer.street1 %>
</p>

<p>
  <b>Street2:</b>
  <%= @customer.street2 %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @customer.postalcode %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state %>
</p>

<p>
  <b>Country:</b>
  <%= @customer.country %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>Telephone:</b>
  <%= @customer.telephone %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @customer.cellphone %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
