<div id="last_five_orders" class="last-five-orders hidden">
  <div class="generic-button-cool popup-hide-button" onclick="$('.last-five-orders').hide();">X</div>
<% i = 49  %>
<% x = 1 %>
  <% Order.where(['vendor_id = ? and (paid IS NULL or paid = 0)', GlobalData.salor_user.meta.vendor_id]).order("id desc").limit(5).each do |order| %>
  <%
    color = order.get_owner.meta.color
    color = order.cash_register.color
  %>
  <div location="/orders/<%= order.id %>/edit" 
         class="last-five-order pointer last-five-orders-<%= i %> <%= 'selected' if order.id == GlobalData.salor_user.meta.order_id %>" 
         onmousedown="window.location = '/orders/<%= order.id %>/edit';"
          style="background-color: <%= color %>;"
         >
    <%= image_tag('/images/icons/' + icon(:order,32)) %><br />
    <span class="id"><%= order.tag.empty? ? "#{order.id} - #{order.get_owner.username}" : order.tag %></span> <br />
    <span class="total"><%= salor_number_to_currency order.total %></span>
  </div>
    <% i = i + 1  %>
    <% x = x + 1  %>
  <% end %>
</div>
