<% total = 0 %>
<% @order_items.reverse[0..2].each do |oi| %>
  <%
    item_price = case oi.behavior
      when 'normal' then   oi.price
      when 'gift_card' then oi.activated ? - oi.total : oi.total
      when 'coupon' then oi.order_item ? - oi.order_item.coupon_amount : 0
    end
    item_price = oi.price * ( 1 - oi.rebate / 100.0 ) if oi.rebate
    item_price = -oi.price if @order.buy_order
    item_total = oi.total_is_locked ? oi.total : item_price * oi.quantity
    item_total = 0 if oi.refunded or @order.refunded

    total += item_total
  %>
  <p>
    <span class='qty'><%= oi.quantity.round == oi.quantity ? oi.quantity.to_i : oi.quantity %></span>
    <span class='name'><%= oi.item.name[0..28] %></span>
    <span class='price'><%= number_to_currency item_price %></span>
    <span class='total'><%= number_to_currency item_total %></span>
  </p>
<% end %>

<p class='subtotal customer-screen-total'><span class='subtotal'><%= number_to_currency @order.total %></span></p>

<table class="clear" align="right">
  <tr class="stripe-me2">
    <% if @order.customer %>
    <td>
        <p class="clear">
        <img src="/images/icons/<%= icon(:customer,32)  %>" align="left" style="margin-right: 10px;"/><%= @order.customer.full_name %> 
        <br /><small style="font-size: 50%;"> (<%= @order.loyalty_card.points %> Treuepunkte) </small>
      </p>
    </td>
    <% end %>
    <% if @order.rebate_type == 'fixed' and not @order.rebate.zero? %>
     <td>
        <p>Rabatt: <%= number_to_currency @order.rebate %></p>
     </td>
    <% end %>
    <% if @order.rebate_type == 'percent' and not @order.rebate.zero? %>
      <td>
        <p>Rabatt: <%= @order.rebate %>%</p>
      </td>
    <% end %>
      <% if not @order.lc_points.nil?%>
        <% points = @order.vendor.salor_configuration.dollar_per_lp * @order.lc_points %> 
        <% if not points.nil? then  %>
          <td>
            <p class='lc_points'>Abzug: <%= @order.lc_points %> Punkte bzw. <%= number_to_currency points %></p>
          </td>
        <% end %>
      <% end %>
  </tr>
  <% if @order.paid? %>
   <tr>
     <td> 
      <p>Gegeben: <%= number_to_currency @order.get_in_cash_amount %></p>
      <p>Retour: <%= number_to_currency (@order.in_cash - @order.total) %></p>
     </td>
   </tr>
   <% else  %>
   <tr>
     <td align="right" colspan="2"> 
      <p id="complete_order_change" align="right">Retour: <%= number_to_currency (@order.front_end_change) %></p>
     </td>
   </tr>
  <% end %>
  <% if not @order.p_text.blank? or not @order.p_result.blank? then  %>
    <tr>
       <td> 
        <p><%= @order.p_result %></p>
        <p><%= @order.p_text %></p>
       </td>
     </tr>
  <% end %>
</table>
