%h2 Show Messages
= form_tag 'cute_credit', :class => 'no-print', :method => :get do
  %div.from
    = label('from', t('.start_date'))
    = select_date(@from, :prefix => 'from')
  %div.to
    = label('to', t('.end_date'))
    = select_date(@to, :prefix => 'to')
  %div.actions
    %p{:align => 'center', :style => 'margin-left:-50px;'}
      = submit_tag t('orders.report.display'), :onclick => '$("#progress").show()'
%h2 Print Messages
= form_tag 'print_day_range', :class => 'no-print print-day-range', :method => :get do
  %div.from
    = label('from', t('.start_date'))
    = select_datetime(@from, :prefix => 'from')
  %div.to
    = label('to', t('.end_date'))
    = select_datetime(@to, :prefix => 'to')
  %div.actions
    %p{:align => 'center', :style => 'margin-left:-50px;'}
      %span{ :onclick => 'printCuteMessages()'}= t('orders.report.display')
%table.cute_messages_table
  - if @results
    - @results.each(:stringify_keys => true) do |msg|
      %tr
        %td= l Time.at(msg['sent_at'].to_i), :format => :just_day
        %td= msg['msg']
        %td= msg['receipt_text']
