= raw content_box_top(t("views.orders"))

%div.tools
  %div.print_report_button{ :onmousedown => 'Salor.printPage();' }
    = salor_icon(:print, {}, 32)

%div.report-container.invoice
  %div
    %img.right{ :src => '/images/salor-logo-reports.png'}
    - if Vendor.find_by_id(GlobalData.salor_user.meta.vendor_id).logo_image
      %img.left{ :src => "/vendors/#{ GlobalData.salor_user.meta.vendor_id }/logo_invoice" }
  %div.clear
  %div
    %h2== #{ I18n.t("receipts.invoice") }
    %h3= I18n.l(@order.created_at, :format => :long)

    %div.company_data= raw Kramdown::Document.new(@vendor.salor_configuration.receipt_blurb).to_html

    %div.customer_data
      - if @report[:customer]
        = @report[:customer][:company_name]
        %br
        == #{ @report[:customer][:first_name] } #{ @report[:customer][:last_name] }
        %br
        = @report[:customer][:street1]
        %br
        = @report[:customer][:street2]
        %br
        == #{ @report[:customer][:postalcode]} #{ @report[:customer][:city] }
        %br
        == #{ t('printr.order_receipt.current_loyalty_points') }: #{ @report[:customer][:current_loyalty_points] }

    .clear


    %table.striped-table2.has-total
      %tr
        - @report[:list_of_items_raw].first.keys.each do |k|
          - next if k == :type
          %th= t("activerecord.attributes.#{ k }")
      - @report[:list_of_items_raw].each do |item|
        - item = format_item(item)
        %tr
          - item.each do |k,v|
            - next if k == :type
            %td{ :class => k }= v
      - unless @report[:lc_points_discount].zero?
        %tr
          %td{ :colspan => 3 }= t('printr.order_receipt.lc_points_substracted')
          %td.quantity= Integer(@report[:lc_points])
          %td.total= number_to_currency @report[:lc_points_discount]

      - if not @report[:discount_subtotal].zero?
        %tr.total
          %td{ :colspan => 4 }= t('printr.order_receipt.subtotal1')
          %td.total= number_to_currency @report[:subtotal1]
        %tr
          %td{ :colspan => 4 }= t('printr.order_receipt.discount_subtotal')
          %td.total= number_to_currency @report[:discount_subtotal]

      - if not @report[:rebate_subtotal].zero?
        %tr.total
          %td{ :colspan => 4 }= t('printr.order_receipt.subtotal2')
          %td.total= number_to_currency @report[:subtotal2]
        %tr
          %td{ :colspan => 4 }= t('printr.order_receipt.rebate_subtotal')
          %td.total= number_to_currency @report[:rebate_subtotal]

      - if not @report[:coupon_subtotal].zero?
        %tr.total
          %td{ :colspan => 4 }= t('printr.order_receipt.subtotal3')
          %td.total= number_to_currency @report[:subtotal3]
        %tr
          %td{ :colspan => 4 }= t('printr.order_receipt.coupon_subtotal')
          %td.total= number_to_currency @report[:coupon_subtotal]

      - if @report[:percent_rebate_amount]
        %tr.total
          %td{ :colspan => 4 }= t('printr.order_receipt.subtotal4')
          %td.total= number_to_currency @report[:subtotal4]
        %tr
          %td{ :colspan => 3 }= t('printr.order_receipt.rebate_percent')
          %td.right= number_to_percentage @report[:percent_rebate]
          %td.total= number_to_currency @report[:percent_rebate_amount]

      - elsif @report[:fixed_rebate_amount]
        %tr.total
          %td{ :colspan => 4 }= t('printr.order_receipt.subtotal4')
          %td.total= number_to_currency @report[:subtotal4]
        %tr
          %td{ :colspan => 4 }= t('printr.order_receipt.rebate_fixed')
          %td.total= number_to_currency @report[:fixed_rebate_amount]


      %tr
        %td{ :colspan => 4 }= t('printr.order_receipt.subsubtotal')
        %td.total= number_to_currency @report[:subsubtotal]


    - if @report[:refund_subtotal].zero?
      %table.taxes.striped-table2
        - @report[:paymentmethods].to_a.each do |pm|
          %tr
            %td= pm[0]
            %td.total= number_to_currency pm[1]
        %tr
          %td= t('printr.order_receipt.change')
          %td.total= number_to_currency @report[:change_given]

    - else
      %p== #{ t('printr.order_receipt.refunded') }: #{ @report[:refund_subtotal] }


    %table.taxes.striped-table2
      %tr
        %th
        %th
        %th= t('printr.order_receipt.net')
        %th= t('printr.order_receipt.tax')
        %th= t('printr.order_receipt.gross')
      - @report[:list_of_taxes_raw].each do |tax|
        - tax = format_tax(tax)
        %tr
          - tax.each do |k,v|
            %td.total= v

    = @order.vendor.salor_configuration.receipt_blurb_footer.to_s if @order.vendor
