= raw content_box_top(t("views.orders"))

- report = @order.get_report

%div.tools
  %div.print_report_button{ :onmousedown => 'Salor.printPage();' }
    = salor_icon(:print, {}, 32)

%div.report-container.invoice
  %div
    %img.right{ :src => '/images/salor-logo-reports.png'}
    - if Vendor.find_by_id(GlobalData.salor_user.meta.vendor_id).logo_image
      %img.left{ :src => "/vendors/#{ GlobalData.salor_user.meta.vendor_id }/logo_invoice" }
  %div.clear
  %div
    %h2== #{ I18n.t("receipts.invoice") }
    %h3= I18n.l(@order.created_at, :format => :long)

    %div.company_data= raw Kramdown::Document.new(@vendor.salor_configuration.receipt_blurb).to_html

    %div.customer_data
      - if report[:customer]
        = report[:customer][:company_name]
        %br
        == #{ report[:customer][:first_name] } #{ report[:customer][:last_name] }
        %br
        = report[:customer][:street1]
        %br
        = report[:customer][:street2]
        %br
        == #{ report[:customer][:postalcode]} #{ report[:customer][:city] }
        %br
        == #{ t('printr.order_receipt.current_loyalty_points') }: #{ report[:customer][:current_loyalty_points] }

    .clear

    - format_item = lambda do |item|
      - if item[:type] == 'integer'
        - item[:price] = number_to_currency item[:price]
        - item[:total] = number_to_currency item[:total]
        - item[:quantity] = Integer(item[:quantity])
      - elsif item[:type] == 'float'
        - item[:price] = number_to_currency item[:price]
        - item[:total] = number_to_currency item[:total]
        - item[:quantity] = number_with_precision item[:quantity], :precision => 3
      - elsif item[:type] == 'percent'
        - item[:total] = number_to_currency item[:total]
        - item[:price] = number_to_percentage item[:price]
        - item[:quantity] = Integer(item[:quantity])
      - return item

    - format_tax = lambda do |tax|
      - tax[:value] = number_to_percentage tax[:value]
      - tax[:net] = number_to_currency tax[:net]
      - tax[:tax] = number_to_currency tax[:tax]
      - tax[:gross] = number_to_currency tax[:gross]
      - return tax

    %table.striped-table2
      %tr
        - report[:list_of_items_raw].first.keys.each do |k|
          - next if k == :type
          %th= t("activerecord.attributes.#{ k }")
      - report[:list_of_items_raw].each do |item|
        - item = format_item.call(item)
        %tr
          - item.each do |k,v|
            - next if k == :type
            %td== #{v}


    %h3 Zahlungsmethoden
    %table.taxes.striped-table2
      %tr
        %th.left Methode
        %th.right Betrag
      - report[:paymentmethods].to_a.each do |pm|
        %tr
          %td= pm[0]
          %td= number_to_currency pm[1]
    


    %h3 Steuerklassen
    %table.taxes.striped-table2
      %tr
        %th
        %th
        %th netto
        %th USt.
        %th brutto
      - report[:list_of_taxes_raw].each do |tax|
        - tax = format_tax.call(tax)
        %tr
          - tax.each do |k,v|
            %td= v

    = @order.vendor.salor_configuration.receipt_blurb_footer.to_s if @order.vendor
