= raw content_box_top(t("menu.reports"))

= form_tag 'report', :class => 'no-print', :method => :get do
  %div.from
    = label('from', t('.start_date'))
    = select_date(@from, :prefix => 'from')
  %div.to
    = label('to', t('.end_date'))
    = select_date(@to, :prefix => 'to')
  %div.actions
    %p{:align => 'center', :style => 'margin-left:-50px;'}
      = submit_tag t('orders.report.display'), :onclick => '$("#progress").show()'

%img{ :id => 'progress', :src => '/images/upload.gif', :style => 'display: none;' }

%div.tools
  %div.print_report_button{ :onmousedown => 'Salor.printPage();' }
    = salor_icon(:print, {}, 32)

%div.report-container
  %div
    %img.right{ :src => '/images/salor-logo-reports.png'}
    - if Vendor.find_by_id(GlobalData.salor_user.meta.vendor_id).logo_image
      %img.left{ :src => "/vendors/#{ GlobalData.salor_user.meta.vendor_id }/logo_invoice" }
  %div.clear
  %div
    %h2= t '.title'
    %h3== #{ l @from, :format => :just_day } bis #{ l @to, :format => :just_day }
    %table{ :class => 'striped-table2 has-total' }
      %tr
        %th{ :class => 'id' }
        %th{ :class => 'date' }
        %th{ :class => 'name' }
        - @taxes.each do |tax|
          %th{ :class => 'bb' }== #{ tax.name }<br>#{ t('.net') }
        %th{ :class => 'br bb colsum' }== #{ t '.sum' }<br>#{ t('.net') }
        - @taxes.each do |tax|
          %th{ :class => 'bb' }== #{ tax.name }<br>#{t('.gross')} #{ number_to_percentage tax.value, :precision => 0 }
        %th{ :class => 'br bb colsum' }= t '.rebate'
        %th{ :class => 'br bb colsum' }= t '.points'
        %th{ :class => 'br bb colsum' }== #{ t '.sum' }<br>#{ t('.gross') }

      - #setup order subtotals
      - o_total_net = {}
      - @taxes.each { |t| o_total_net[t.id] = 0.0 }
      - o_total_gro = {}
      - @taxes.each { |t| o_total_gro[t.id] = 0.0 }
      - total = 0.0
      - total_rebate = 0.0
      - total_discount = 0.0
      - @orders.each do |o|

        - #setup order columns
        - o_net = {}
        - TaxProfile.all.each { |t| o_net[t.id] = 0.0 }
        - o_gro = {}
        - TaxProfile.all.each { |t| o_gro[t.id] = 0.0 }
        - o_rebate = 0.0
        - o_discount = 0.0
        - o_total_rebate = 0.0
        - o_total_discount = 0.0

        - o.order_items.each do |oi|
          - item_price = case oi.behavior
            - when 'normal' then   oi.price
            - when 'gift_card' then oi.activated ? - oi.total : oi.total
            - when 'coupon' then oi.order_item ? - oi.order_item.coupon_amount : 0
          - item_price = oi.price * ( 1 - oi.rebate / 100.0 ) if oi.rebate
          - item_price = -oi.price if o.buy_order
          - item_total = oi.total_is_locked ? oi.total : item_price * oi.quantity
          - item_total = 0 if oi.refunded or o.refunded
          - o_gro[oi.tax_profile.id] += item_total
          - #------------------

        - @taxes.each do |tax|
          - o_net[tax.id] = o_gro[tax.id] / (1 + tax.value/100.0)
          - o_total_net[tax.id] += o_net[tax.id].round(2)
          - o_total_gro[tax.id] += o_gro[tax.id]

        - order_total = o_gro.to_a.sum{ |g| g[1] }
        - o_discount += o.lc_discount_amount
        - if not o.rebate.zero? and o.rebate_type == 'percent'
          - o_rebate = order_total * o.rebate / 100.0
        - elsif not o.rebate.zero? and o.rebate_type == 'fixed'
          - o_rebate = o.rebate
        - o_total_rebate += o_rebate
        - o_total_discount += o_discount
        - order_total = order_total - o_rebate - o_discount
        - #======================

        - total_rebate += o_total_rebate
        - total_discount += o_total_discount
        - total += order_total

        %tr
          %td.right= link_to "# #{o.id}", order_path(o)
          %td.center= l o.created_at, :format => :just_time
          %td{ :class => 'br right' }= o.user.username
          - @taxes.each do |tax|
            %td{ :class => 'right'}= number_to_currency o_net[tax.id]
          %td{ :class => 'br colsum right' }= number_to_currency o_net.to_a.sum { |n| n[1] }
          - @taxes.each do |tax|
            %td{ :class => 'right'}= number_to_currency o_gro[tax.id]
          %td{ :class => 'right'}= number_to_currency o_total_rebate
          %td{ :class => 'right'}= number_to_currency o_total_discount
          %td{ :class => 'br colsum right', :style => "#{'background-color: #DDD' if order_total.round(2) != o.total.round(2) }" }= number_to_currency order_total

      %tr.total
        %td{ :colspan => 3, :class => 'br sum table-right' }= t('.sum_total')
        - @taxes.each do |tax|
          %td{ :class => 'sum right' }= number_to_currency o_total_net[tax.id]
        %td{ :class => 'sum colsum br right' }= number_to_currency o_total_net.to_a.sum { |n| n[1] }
        - @taxes.each do |tax|
          %td{ :class => 'sum right' }= number_to_currency o_total_gro[tax.id]
        %td{ :class => 'sum colsum br right' }= number_to_currency total_rebate
        %td{ :class => 'right' }= number_to_currency total_discount
        %td{ :class => 'sum colsum br right' }= number_to_currency total

    = raw content_box_bottom
