<%= raw content_box_top(t("views.order_heading", :store => @order.vendor.name, :id => @order.id)) %>
      <table id="order_items_table" width="50%" align=center class="ui-corner-all ui-widget ui-content stripe-me">
        <tr>
          <th><%= t("activerecord.attributes.name") %></th>
          <th><%= I18n.t("activerecord.attributes.sku") %></th>
          <th><%= t("activerecord.attributes.quantity") %></th>
          <th><%= t("activerecord.attributes.price") %></th>
          <th><%= t("activerecord.attributes.coupon_total") %></th>
          <th><%= t("activerecord.attributes.total") %></th>
        </tr>
        <tr>
          <td align=center colspan=6>
            <select id='refund_payment_method'>
            <%= options_for_select PaymentMethod.types_list %>
            </select>
          </td>
        <%= salor_render :partial => "shared/order_line_items", :locals => {:order_items => @order.order_items} %>
      </table>

      <p align=center><%= t("views.total") %>: <%= salor_number_to_currency(@order.total) %></p>
      <p align=center><%= t("views.retour") %>: <%= salor_number_to_currency(@order.change_given) %></p>
      <p align=center><%= t("activerecord.attributes.refund") %>: <%= salor_number_to_currency(@order.refund_total) %></p>


<%
  if @order.refunded then
    reverse = "/images/icons/#{icon(:refund,32)}"
  else
    reverse = "/images/icons/#{icon(:refunded,32)}"
  end
%>
<table align="center">
  <tr>
    <td>
      <%  if GlobalData.salor_user.can(:edit_orders) then %>
        <%= @order.refunded? ? salor_icon(:refunded,{},32) : salor_icon(:refund,{:onclick => "refund_order(#{@order.id});"},32) %>
      <% end %>
    </td>
    <td>
      &nbsp; &nbsp;<%= salor_icon(:printer,{:style => "cursor:pointer;", :onclick => "print_order('#{@order.id }');"},32) %>
    </td>
  </tr>
</table>



    <h3 align=center>Zahlungsmethoden</h3>
    <table align=center width='20%' class="ui-corner-all ui-widget ui-content stripe-me">
      <% @order.payment_methods.each do |pm|  %>
      <tr>
        <td><%= t pm.internal_type %></td>
        <td><%= number_to_currency pm.amount %></td>
      </tr>
      <% end %>
    </table>



<script>
var payment_internal_types = [<%= PaymentMethod.types_list.map {|pm| "'#{pm[1]}'"}.join(',') %>];
var payment_external_types = [<%= PaymentMethod.types_list.map {|pm| "'#{pm[0]}'"}.join(',') %>];
</script>




<% if $User.is_technician? %>
    <table class="payment-methods-table" width="100%">
      <% @order.payment_methods.each do |pm|  %>
      <tr>
        <td><%= edit_me(:name,pm,pm.name) %></td>
        <td><%= edit_me(:internal_type,pm,pm.internal_type) %></td>
        <td><%= edit_me(:amount,pm,pm.amount) %></td>
        <td>
          <div class="generic-button" onmousedown="$.get('/orders/remove_payment_method?id=<%= @order.id %>&pid=<%= pm.id %>')">
            Delete
          </div>
        </td>
      </tr>
      <% end %>
    </table>
<% end %>
