<table align="center" width="100%" >
  <tr>
    <td valign="top">
      <table id="order_items_table" width="100%" class="ui-corner-all ui-widget ui-content stripe-me">
          <tr>
            <th><%= t("activerecord.attributes.name") %></th>
            <th>
              <%= I18n.t("activerecord.attributes.sku") %>
            </th>
            <th><%= t("activerecord.attributes.quantity") %></th>
            <th><%= t("activerecord.attributes.total") %></th>
          </tr>
            <%= salor_render :partial => "shared/order_line_items_void", :locals => {:order_items => @order.order_items} if @order %>
        </table>
        <table align="center" width="100%">
          <tr>
            <td>&nbsp;</td>
            <td align="right" class='money'><%= t("views.total") %>: <span id="total"><%= salor_number_to_currency(@order.total) %></span></td>
          </tr>
          <tr>
            <td colspan="3">&nbsp;</td>
            <td align="right" class='money'><%= t("activerecord.attributes.refund") %>: <span id="total"><%= salor_number_to_currency(@order.refund_total) %></span></td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<%= salor_render :partial => "order_menu" %>
<br />



