- if @country.errors.any?
  #error_explanation
    %h3= t 'activerecord.errors.template.header', :count => @country.errors.size, :model => Country.model_name.human
    %ul
      - @country.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @country do |country_form|
    %table{:width=>'90%',:align=>'center'}
      %tr
        %td{:colspan=>2}
          %h2= @country.new_record? ? (t 'menu.new_country') : (t 'menu.edit_coutry')
          %hr
      %tr
        %td= country_form.label t('activerecord.attributes.name')
        %td= country_form.text_field :name, :size => '10'
      %tr
        %td{:colspan=> 2,:align=>'right'}
          %p= submit_tag( controller.action_name == 'new' ? (t('helpers.submit.create', :model => Country.model_name.human)) : (t('menu.edit', :model => Country.model_name.human)) )
