<%= raw content_box_top(t "views.item_types") %>
<ul class="list">
  <% @item_types.each do |item_type| %>
    <%= render(:partial => "shared/edit_li", :locals => {
      :path => edit_item_type_path(item_type),
      :image => icon(:item_type),
      :text => item_type.name,
      :edit_path => edit_item_type_path(item_type),
      :del_path => item_type 
    }) %>
  <% end %>
  <li>
      <div align="center">
        <a href="<%= new_item_type_path %>">
          <img src="/images/icons/<%= icon(:add) %>" /><br />
          <%= t "menu.new_item_type" %>
      	</a>
      </div>
    </li>
</ul>
