#last_orders
  .generic-button-cool.popup-hide-button{ :onclick => "$('#last_orders').hide();" } ✗
  
  #last_uncompleted_orders
    %h2= t 'menu.last_uncompleted'
    - @current_vendor.orders.where(:completed_at => nil).order("updated_at DESC").limit(5).each do |o|
      .recent-order{ :onmousedown => "window.location='/orders/#{ o.id }/edit';", :style => "background-color: #{ o.cash_register.color };" }
        %p.recent-order-number= o.user.username[0..7]
        %p.recent_price= number_to_currency o.total
        %p.recent_tag= o.tag if o.tag
        
  %hr
  
  #last_completed_orders
    %h2= t 'menu.last_completed'
    - @current_vendor.orders.visible.where("completed_at IS NOT NULL").order("nr DESC").limit(5).each do |o|
      .recent-order{ :style => "background-color: #{ o.cash_register.color };" }
        %p.recent-order-number== ##{ o.nr } #{ o.user.username[0..7] }
        %p.recent_price== #{ number_to_currency(o.total) } ➠ #{ number_to_currency(o.change) }
        %div.dark-background
          = salor_icon(:thermal_printer, { :onmousedown => "sr.fn.salor_bin.printOrder('#{o.id}');"}, 32)
          = salor_icon(:a4print, { :onmousedown => "window.location='/orders/#{ o.id }/print'"}, 32)