- case params[:type]
  - when 'normal'
    - title = 'menu.orders'
  - when 'proforma'
    - title = 'activerecord.models.order.proforma_orders'
  - when 'unpaid'
    - title = 'activerecord.models.order.unpaid_orders'
  - when 'quote'
    - title = 'activerecord.models.order.quotes'
  - when 'subscription'
    - title = 'activerecord.models.order.subscriptions'

= raw content_box_top(t(title))

.tools
  .tool-icon= link_to salor_icon(:report, {}, 32, t("menu.report_day")), '/vendors/report_day'
  .tool-icon= link_to salor_icon(:order, {}, 32, t("activerecord.models.order.other")), '/orders?type=normal'
  .tool-icon= link_to salor_icon(:proforma_order, {}, 32, t("activerecord.models.order.proforma_orders")), '/orders?type=proforma'
  .tool-icon= link_to salor_icon(:unpaid_order, {}, 32, t("activerecord.models.order.unpaid_orders")), '/orders?type=unpaid'
  .tool-icon= link_to salor_icon(:quote, {}, 32, t("activerecord.models.order.quotes")), '/orders?type=quote'
  .tool-icon= link_to salor_icon(:subscription_order, {}, 32, t("activerecord.models.order.subscriptions")), '/orders?type=subscription'
  .tool-icon= link_to salor_icon(:thermal_printer, {}, 32, t("menu.receipts")), '/orders/receipts'


- if params[:type] == 'subscription'
  = render :partial => 'shared/list_view', :locals => {  :klass => Order, :width => '60%',:collection => @orders, :columns => [:nr, :customer_name, :total, :subscription_start, :subscription_interval, :subscription_last, :subscription_next]}
  %p
    Total per month:
    = humanized_money_with_symbol @current_vendor.recurrable_order_total
  %h3= t('.recurrable_subscriptions')
  = link_to salor_icon(:subscription_order, {}, 32, t('.create_all_recurring_orders')), '/orders/create_all_recurring'
  = render :partial => 'shared/list_view', :locals => {  :klass => Order, :width => '60%',:collection => @current_vendor.recurrable_subscription_orders, :columns => [:nr, :customer_name, :total, :subscription_start, :subscription_interval, :subscription_last, :subscription_next]}
- else
  = render :partial => 'shared/list_view', :locals => {  :klass => Order, :width => '60%',:collection => @orders, :columns => [:nr, :total, :completed_at, :user_name, :drawer_user_name, :customer_name,]}