<%= raw content_box_top(I18n.t("headings.discounts_for", :store => @vendor.name)) %>

<div class='tools'>
<%= link_to salor_icon(:add,{},32),new_discount_path(:vendor_id => salor_user.meta.vendor_id) %>
</div>

<table width="90%" cellspacing="0" align="center">
<% @discounts.each do |discount| %>
  <tr class="<%= cycle('even','odd') %>">
    <td><%= discount.name[0...35] %></td>
    <td><%= l discount.start_date, :format => :salor %></td>
    <td><%= l discount.end_date, :format => :salor  %></td>
    <td><%= link_to(discount.vendor.name,"/vendors/#{discount.vendor_id}/edit") if discount.applies_to == 'Vendor' and discount.vendor %></td>
    <td><%= link_to(discount.category.name,"/categories/#{discount.category_id}") if discount.applies_to == 'Category' and discount.category %></td>
    <td><%= link_to(discount.location.name,"/locations/#{discount.location_id}") if discount.applies_to == 'Location' and discount.location %></td>
    <td><%= link_to(discount.item_sku,"/items/#{discount.item.id}/edit") if discount.applies_to == 'Item' %></td>
    <td>
      <%= discount.types_display %>
    </td>
    <td>
      <%= salor_number_to_currency discount.amount if discount.amount_type == 'fixed'  %>
      <%= number_to_percentage discount.amount if discount.amount_type == 'percent'  %>
    </td>
    <td width="40px"><%= link_to salor_icon(:edit,{},16), edit_discount_path(discount) %></td>
    <td width="40px"><%= link_to salor_icon(:delete,{},16), discount, :confirm => 'Are you sure?', :method => :delete %></td>
      
  </tr>
<% end %>
</table>
<%= raw content_box_bottom %>
