= raw content_box_top(t("menu.reports"))
%div.centered-contents
  = form_tag '/reports/selector', :class => 'no-print', :method => :get do
    = label('from', t('orders.report.start_date'))
    = select_date(@from, :prefix => 'from')
    %br
    = label('to', t('orders.report.end_date'))
    = select_date(@to, :prefix => 'to')
    %br
    = submit_tag t('helpers.submit.save'), :onclick => '$("#progress").show()'

%img{ :id => 'progress', :src => '/images/upload.gif', :style => 'display: none;' }
