= raw content_box_top(t("menu.reports"))



%div.tools
  = form_tag '/reports/selector', :class => 'no-print', :method => :get do
    %table{:align => :center}
      %tr
        %td{:align => :left, :width => "20%"}
          = label 'from', t('views.single_words.from')
        %td{:align => :right}
          = select_date(@from, :prefix => 'from', :order => [:day,:month,:year])
      %tr
        %td{:align => :left}
          = label 'to', t('views.single_words.to')
        %td{:align => :right}
          = select_date(@to, :prefix => 'to', :order => [:day,:month,:year])
      %tr
        %td{ :colspan => 2, :align => :right}
          = submit_tag t('helpers.submit.save'), :onclick => '$("#progress").show()', :id => 'display_report_day'
          %img{ :id => 'progress', :src => '/images/upload.gif', :style => 'display: none;' }



