%h2=I18n.t('headings.time_sheet')
%table.striped-table2
  %tr
    %td= "Login"
    %td= "Logout"
    %td= "Hours"
    %td= I18n.t("activerecord.attributes.employee.hourly_rate")
    %td{:align=>'right'}= "Amount Due"
    %td
  - @employee.employee_logins.where(:login => (@from - 1.day)..(@to + 1.day)).each do |login|
    %tr{:model_id => login.id}
      %td= text_field_tag("login", login.login.strftime("%Y/%m/%d %H:%M:%S"), :class=> 'employee_login_time', :model_id => login.id )
      - if login.logout
        %td= text_field_tag("logout", login.logout.strftime("%Y/%m/%d %H:%M:%S"),:class=> 'employee_logout_time', :model_id => login.id )
        %td{:align=>"right"}= (login.shift_seconds.to_f / 60 / 60 ).round(2)
        %td{:align=>"right"}= number_to_currency login.hourly_rate
        %td{:align=>"right"}= number_to_currency login.amount_due
      - else
        %td= text_field_tag("logout", "N/A",:class=> 'employee_logout_time', :model_id => login.id )
        %td{ :class=> 'employee_logout_time', :model_id => login.id, :align=>"right"}= "N/A"
        %td{:align=>"right"}= number_to_currency login.hourly_rate
        %td{:align=>"right"}= "N/A"
      %td{:onclick => 'remove_employee_login(this);', :class => "pointer"}
        %div{:class => 'black-text no-print'}=I18n.t('menu.destroy')
