= stylesheet_link_tag 'invoice_default'
= stylesheet_link_tag 'invoice_default_print', :media => 'print'

= raw content_box_top(t("views.orders"))

.tools
  %span{ :onmousedown => 'Salor.printPage();' }= salor_icon(:a4print, {}, 32, t('orders.print.print'))
  %br
  = form_tag "/employees/#{@employee.id}", :method => :get do
    = label 'from', t('orders.report_day.from')
    = select_date(@from, :prefix => 'from')
    %br
    = label 'to', t('orders.report_day.to')
    = select_date(@to, :prefix => 'to')
    %br
    %select{:id => "limit_select", :name => "limit"}
      %option 15
      %option 25
      %option 50
    %br
    = submit_tag t('helpers.submit.ok'), :onclick => '$("#progress").show()'
.clear

.paper-invoice.invoice_print
  =render "employee_details"
  =render "employee_drawer_transactions"
  .center
    %img.salorlogo{ :src => '/images/salor-logo-reports.png'}