<script type="text/javascript" src="/assets/jquery.modcoder.excolor.js"></script>

<script>
  $(function(){ $("#cash_register_color").modcoder_excolor(); });
</script>

<table align="center" width="100%">
  <tr>
    <td valign="top" align="center">
      <%= form_for(@cash_register) do |f| %>
        <% if @cash_register.errors.any? %>
          <div id="error_explanation">
            <h2><%= I18n.t("activerecord.errors.template.header.other", :count => @cash_register.errors.count,:model => t("activerecord.models.cash_register.one"))%></h2>
      
            <ul>
            <% @cash_register.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <table width="90%" align="center">
          <tr>
            <td>
                <div class="field">
                  <%= f.label t("activerecord.attributes.name") %><br />
                  <%= f.text_field :name, :class => "keyboardable"%>
                  <%= f.hidden_field :vendor_id, :value => salor_user.meta.vendor_id %>
                </div>
                <div class="field">
                  <%= f.label t("activerecord.attributes.hide_discounts") %><br />
                  <%= f.check_box :hide_discounts %>
                </div>
                <div class="field">
                  <%= f.label t("activerecord.attributes.hide_buttons") %><br />
                  <%= f.check_box :hide_buttons %>
                </div>
                <div class="field">
                  <%= f.label t("activerecord.attributes.no_print") %><br />
                  <%= f.check_box :no_print %>
                </div>
                <div class="field">
                  <%= f.label t("activerecord.attributes.salor_printer") %><br />
                  <%= f.check_box :salor_printer %>
                </div>
                <div class="field">
                  <%= f.label t("activerecord.attributes.cash_drawer") %><br />
                  <%= f.select :cash_drawer_path, @devicenodes, :include_blank => true %>
                </div>
                <div class="field">
                  <%= f.label :color %> 
                  <%= f.hidden_field :color %>
                </div>
                <div class="field">
                  <%= f.label t("activerecord.attributes.detailed_edit") %><br />
                  <%= f.check_box :detailed_edit %>
                </div>
        </td>
        <td>
            <div class="field">
              <%= f.label t("activerecord.attributes.thermal_printer") %><br />
              <%= f.select :thermal_printer, @devicenodes, :include_blank => true %>
            </div>
            <div class="field">
              <%= f.label VendorPrinter.human_attribute_name 'sticker_printer' %><br />
              <%= f.select :sticker_printer, @devicenodes, :include_blank => true %>
            </div>
            <br />
            <div class="field">
              <%= f.label t("activerecord.attributes.pole_display") %><br />
              <%= f.select :pole_display, @devicenodes, :include_blank => true %>
            </div>
            <br />
            <div class="field">
              <%= f.label t("activerecord.attributes.customer_screen_blurb") %><br />
              <%= f.text_field :customer_screen_blurb, :class => "keyboardable"%>
            </div>
            <br />
            <div class="field">
              <%= f.label t("activerecord.attributes.scale") %><br />
              <%= f.select :scale, @devicenodes, :include_blank => true %>
            </div>
            <div class="field">
              <%= f.label t("activerecord.attributes.address") %><br />
              <%= f.text_field :ip, :class => "keyboardable"%>
            </div>

            <!--
            <br />
            <div class="field">
              <%= f.label t("activerecord.attributes.bank_machine_path") %><br />
              <%= f.text_field :bank_machine_path, :class => "keyboardable"%>
            </div>
            <br />
            <h3><%= I18n.t("headings.bank_machine_types") %></h3>
            <div class="field">
              <%= f.label t("activerecord.attributes.paylife") %><br />
              <%= f.check_box :paylife %>
            </div>
            -->
            <div class="field">
              <%= f.label "+/-" %><br />
              <%= f.check_box :show_plus_minus %>
            </div>
        </td>
        </tr>
        <tr>
          <td colspan="2">
        <div class="actions">
          <%= f.submit %>
        </div>
        </td>
        </tr>
        </table>
      <% end %>
    </td>
  </tr>
</table>
