<%= raw content_box_top(t("views.cash_register_heading", :name => @cash_register.name, :store => @vendor.name)) %>

<%= raw content_box_top(I18n.t("menu.orders"),{:width => '100%', :small => true}, :hideuser => true) %>
<table align="center" width="100%" class="stripe-me middle-text">
<% @orders.each do |order| %>
  <tr>
    <td valign="top">
      <%= order.vendor.name %>
    </td>
    <td valign="top">
      <%= order.user_id ? order.user.username : order.user.username %>
    </td>
    <td valign="top">
      <%= I18n.t("views.order_number",:id => order.id) %>
    </td>
    <td><%= l(order.created_at,:format => :short) %></td>
    <td align="right"><%= salor_number_to_currency order.total %></td>
    <td align="right"><%= link_to image_tag('/images/icons/' + icon(:show,32)), order %></td>
  </tr>
<% end %>
</table>
<%= raw content_box_bottom %>

<%= raw content_box_bottom %>
