<div class="list">
    <table width="100%" class="stripe-me">
    <tr>
      <% [:name,:base_price,:sku,:quantity,:packaging_unit, '',''].each do |key| %>
        <% if not key == '' %>
          <th class="pointer" onclick="window.location = '?order_by=<%= key %>&page=<%= params[:page]%>';"><%= I18n.t("activerecord.attributes.#{key}") %></th>
        <% else %>
          <th> &nbsp;</th>
        <% end %>
      <% end %>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to item.name, item_path(item) %>
        </td>
        <td>
          <%= if item.behavior == 'coupon' and item.coupon_type == 1
                number_to_percentage(item.base_price)
              elsif item.behavior == 'coupon' and item.coupon_type == 3
                # nothing
              else
                salor_number_to_currency(item.base_price)
              end
          %>
        </td>
        <td>
          <%= item.sku %>
        </td>
        
        <td>
          <%= item.quantity %>
        </td>
        
        <td>
          <%= item.packaging_unit %>
        </td>
        
        <td>
        <div onmousedown="window.location ='<%= edit_item_path(item)%>';" style="padding: 5px;">
          <%= link_to(salor_icon(:edit,{},20), edit_item_path(item)) %>
          </div>
        </td>
        <td>
          <%= link_to(salor_icon(:delete,{},20), item, :confirm => 'Are you sure?', :method => :delete) %>
        </td>
      </tr>
    <% end %>
    </table>
</div> 
 
