<%= form_tag do %>
<%= label('from', t('orders.report.start_date')) %><br />
  <%= select_date(@from, :prefix => 'from') %>
  <br />
  <%= label('to', t('orders.report.end_date')) %><br />
  <%= select_date(@to, :prefix => 'to') %>
  <br />
  <div class="actions">
    <%= submit_tag :export %>
  </div>
<% end %>
