<%= raw content_box_top(t("views.listing_items")) %>

<table class='tools' align="center">
  <tr>
    <td align="center">
      <div class='tools'>
        <div class="tool-icon" align="center" onmousedown="window.location = '<%= new_item_path(:vendor_id => params[:vendor_id]) %>'">
          <%= link_to salor_icon(:add,{},24), new_item_path(:vendor_id => params[:vendor_id]) %><br /><span class='icon-caption'><%= I18n.t("menu.new_item") %></span>
        </div>
        <div class="tool-icon" onmousedown="window.location = '/items/update_location'">
          <%= link_to salor_icon(:location,{:class => 'pointer'},24),"/items/update_location" %><br /><span class='icon-caption'><%= I18n.t("menu.update_location") %></span>
        </div>
        <div class="tool-icon" onmousedown="window.location = '/items/update_real_quantity'">
          <%= link_to salor_icon(:counter,{:class => 'pointer'},24),"/items/update_real_quantity" %><br /><span class='icon-caption'><%= I18n.t("menu.update_real_quantity") %></span>
        </div>
      
        <div class="tool-icon">
          
          <a href='/items/selection'><%= salor_icon(:thermal_printer,{},24) %></a><br /><span class='icon-caption'><%= I18n.t("menu.print") %></span>
        </div>
        
        <div class="tool-icon">
          <a href='/items/report'><%= salor_icon(:report,{},24) %></a><br /><span class='icon-caption'><%= t('.inventory_report') %></span>
        </div>
        
        <div class="tool-icon" >
            <%= link_to salor_icon(:down,{},24),"/items/download?page=#{params[:page]}&keywords=#{params[:keywords]}&order_by=#{params[:order_by]}" %>
            
          <br /><span class='icon-caption'><%= I18n.t("menu.download") %></span>
        </div>

      </div>
    </td>
  </tr>
</table>

<%= render :partial => "items_list" %>

<div class="pagination" align="center">
  <%= paginate @items if @items %>
</div>