= raw content_box_top(t("views.upload_items"))

%img{ :id => 'progress', :src => '/images/upload.gif', :style => 'display: none;' }

= form_tag '/items/upload', :multipart => true do |form|
  %table{:width => "70%", :align => :center}
    %tr
      %td{:colspan => 3}
        %h2 Format: Salor
    %tr
      %td
        = label_tag 'CSV'
      %td
        = file_field_tag :file, :size => 15
      %td
        %input{ :type => 'submit', :onclick => '$("#progress").show()', :value => t('menu.upload')}

%br
%br



= form_tag '/items/upload_danczek_tobaccoland_plattner', :multipart => true do |form|
  %table{:width => "70%", :align => :center}
    %tr
      %td{:colspan => 3}
        %h2 Format: Danczek / Tobaccoland / Plattner / Moosmayer
    %tr
      %td
        = label_tag 'CSV'
      %td
        = file_field_tag :file, :size => 15
      %td
        %input{ :type => 'submit', :onclick => '$("#progress").show()', :value => t('menu.upload')}

%br
%br


= form_tag '/items/upload_house_of_smoke', :multipart => true do |form|
  %table{:width => "70%", :align => :center}
    %tr
      %td{:colspan => 3}
        %h2 Format: House of Smoke / Dios
    %tr
      %td
        = label_tag 'CSV'
      %td
        = file_field_tag :file, :size => 15
      %td
        %input{ :type => 'submit', :onclick => '$("#progress").show()', :value => t('menu.upload')}

%br
%br


= form_tag '/items/upload_optimalsoft', :multipart => true do |form|
  %table{:width => "70%", :align => :center}
    %tr
      %td{:colspan => 3}
        %h2 Format: Optimalsoft
    %tr
      %td
        = label_tag 'PRD.OPT'
      %td
        = file_field_tag :file, :size => 15
      %td
        %input{ :type => 'submit', :onclick => '$("#progress").show()', :value => t('menu.upload')}
        
= form_tag '/customers/upload_optimalsoft', :multipart => true do |form|
  %table{:width => "70%", :align => :center}
    %tr
      %td
        = label_tag 'KNDN.OPT'
      %td
        = file_field_tag :file, :size => 15
      %td
        %input{ :type => 'submit', :onclick => '$("#progress").show()', :value => t('menu.upload')}



= raw content_box_bottom
