<script type="text/javascript">
  $(document).ready(function () {
      $('#general').show();
      $('.link').click(function () {
          $('.active').removeClass('active');
          $(this).addClass('active');
          $('.form-container').hide();
          $($(this).attr('href')).show();
      });
  });
</script>
<div align="center">
<%= form_for @vendor do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t("activerecord.errors.template.header.other", :count => @vendor.errors.count,:model => t("activerecord.models.vendor.one"))%></h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  <div class="general-form">
      <div class="form-menu">
          <div class="link active" href="#general">
          <%= t("menu.general_configuration") %>
        </div>
        <div class="link" href="#additional">
          <%= t("menu.additional") %>
        </div>
      </div>
      <div class="tab-container">
        <div id="general" class="general-form-container form-container">
          
            <%= f.hidden_field :user_id, :value => salor_user.is_employee? ? salor_user.user.id : salor_user.id %> <br />
              <%= f.fields_for :salor_configuration do |conf| %>
              <table>
                <tr>
                  <td valign="top" width="260px">
                    <div class="field">
                      <%= f.label t("activerecord.attributes.name") %><br />
                      <%= f.text_field :name, :class => "keyboardable"%>
                    </div>
                    <div class="field">
                      <h2> <%= t("menu.loyalty_cards") %> </h2>
                    </div>
                    <div class="field">
                      <%= conf.label t("activerecord.attributes.lp_per_dollar") %><br />
                      <%= conf.text_field :lp_per_dollar, :class => "keyboardable"%>
                    </div>
                    <div class="field">
                      <%= conf.label t("activerecord.attributes.dollar_per_lp") %><br />
                      <%= conf.text_field :dollar_per_lp, :class => "keyboardable"%>
                    </div>
                    <% if AppConfig.standalone == true  %>
                      <div class="field">  
                        <h2><%=t :"vendors.clear_cache_header" %></h2>
                      </div>
                      <div class="field" style="width:200px;">
                        <div class="button-confirm" onclick="get('/vendors/clearcache', '_form.html.erb');"><%=t :"vendors.clear_cache_button" %></div>
                      </div>
                    <% end %>
                  </td>
                  <td valign="top">
                 <h2> <%= t("menu.general_configuration") %> </h2>
                    <div class="field">
                      <%= conf.label t("activerecord.attributes.telephone") %><br />
                      <%= conf.text_field :telephone, :class => "keyboardable"%>
                    </div>
                    <div class="field">
                      <%= conf.label t("activerecord.attributes.address") %><br />
                      <%= conf.text_area :address, :rows => 3, :class => "keyboardable" %>
                    </div>
                    <div class="field">
                      <%= conf.label t("activerecord.attributes.receipt_blurb") %><br />
                      <%= conf.text_area :receipt_blurb, :rows => 3, :class => "keyboardable" %>
                    </div>
                    <div class="field">
                      <%= conf.label t("activerecord.attributes.pagination") %><br />
                      <%= conf.text_field :pagination, :class => "keyboardable-int" %>
                    </div>
                    <div class="field">
                      <%= conf.label t("activerecord.attributes.itemsviewlist") %><br />
                      <%= conf.check_box :items_view_list %>
                    </div>
                    <div class="field">
                      <%= conf.label t("activerecord.attributes.stylesheets") %><br />
                      <%= conf.select :stylesheets, ['','default','darker','retro','goldenrod','sky','hippy'] %>
                    </div>
                    <% if AppConfig.standalone == true  %>
                      <div class="field">
                        <%= conf.label t("activerecord.attributes.cash_drawer") %><br />
                        <%= conf.text_field :cash_drawer, :class => "keyboardable" %>
                      </div>
                      <div class="field">
                        <%= conf.label t("activerecord.attributes.url") %><br />
                        <%= conf.text_field :url, :class => "keyboardable" %>
                      </div>

                      <div class="field">
                        <%= conf.label t("activerecord.attributes.open_cash_drawer") %><br />
                        <%= conf.check_box :open_cash_drawer %>
                      </div>                    
                    <% end %>
                    <br />
                    <div class="field">
                      <%= conf.label t("activerecord.attributes.auto_drop") %><br />
                      <%= conf.check_box :auto_drop %>
                    </div>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td>
                      <%= conf.label t("activerecord.attributes.csv_imports_url") %><br />
                      <%= conf.text_field :csv_imports_url, :style => "width: 80%;" %><br />
                      <%= conf.label t("activerecord.attributes.csv_imports") %><br />
                      <%= conf.text_area :csv_imports, :rows => 7, :cols => 45, :class => "keyboardable" %> 
                  </td>
                </tr>
              </table>
              <%= conf.hidden_field :vendor_id %>
              <% end %>

        </div> <!-- end id="general" -->
        <div id="additional" class="additional-form-container form-container hidden">
          <% if AppConfig.standalone == true  %>
            <h2> <%= I18n.t("activerecord.attributes.vendor_printers") %> </h2>
              <%= salor_icon(:add,{:onclick => 'add_vp();'},32) %>
              <div id="vendor_printers" class="field vendor-printers-div">
              <% i = 0  %>
              <% @vendor.vendor_printers.each do |vp| %>
                <div id="" class="vendor_printer">
                  <div id="" class="field">
                    <%= label_tag :name  %> <br />
                    <input type="text" name="vendor[set_vendor_printers][][name]" class="text-input keyboardable" value="<%= vp.name %>" />
                  </div>
                  <div id="" class="field">
                    <%= label_tag :path %> <br />
                    <input type="text" name="vendor[set_vendor_printers][][path]" class="text-input keyboardable" value="<%= vp.path %>" />
                  </div>
                  <div id="" class="field">
                    <%= label_tag :cash_register_id %> <br />
                    <select name="vendor[set_vendor_printers][][cash_register_id]">
                      <%= options_from_collection_for_select(CashRegister.scopied, 'id', 'name', vp.cash_register_id) %>
                    </select>
                  </div>
                  <div id="" class="field">
                    <%= label_tag :printer_type %> <br />
                    <select name="vendor[set_vendor_printers][][printer_type]">
                      <option value="escpos" <%= "selected" if vp.printer_type == 'escpos' %>>ESCPOS Standard Receipt Printer</option>
                      <option value="slcs" <%= "selected" if vp.printer_type == 'slcs' %>>SLCS Sticker Printer</option>
                    </select>
                  </div>
                  <%= salor_icon(:delete,{:onclick => '$(this).parent().remove();'},32) %>
                </div>
                  <% i = i + 1  %>  
              <% end %>
              </div>
              <script type="text/javascript">
                  var i = <%= i %> + 1;
                  function add_vp() {
                    var elem = $('<div class="vendor_printer"></div>');
                    elem.append('<%= label_tag "name" %> <br />')
                    ninp = $('<input type="text" name="vendor[set_vendor_printers][][name]" class="text-input" value="" />');
                    elem.append(ninp);
                    elem.append('<br /><%= label_tag "path" %> <br />');
                    pinp = $('<input type="text" name="vendor[set_vendor_printers][][path]" class="text-input" value="" />');
                    elem.append(pinp);
                    elem.append('<br /><%= label_tag "cash_register_id" %> <br />');
                    cinp = $('<select name="vendor[set_vendor_printers][][cash_register_id]"><%= escape_javascript options_from_collection_for_select(CashRegister.all, 'id', 'name') %></select>');
                    elem.append(cinp);
                    elem.append('<br /><%= label_tag "printer_type" %> <br />');
                    tinp = $('<select name="vendor[set_vendor_printers][][printer_type]"><option value="escpos">ESCPOS Standard Receipt Printer</option><option value="slcs">SLCS Sticker Printer</option></select>');
                    elem.append(tinp);
                    elem.append("<br />");
                    var del = $('<%= salor_icon(:delete,{},32) %>');
                    del.click(function () {
                        $(this).parent().remove();
                    });
                    elem.append(del);
                    $('#vendor_printers').append(elem);
                    make_keyboardable(ninp);
                    make_keyboardable(pinp);
                    i++;
                  }
              </script>
            <% end %> <!-- End If AppConfig.standalone -->
        </div><!-- end id="additional" -->
      </div>
  </div>
<div class="actions">
    <%= f.submit I18n.t('helpers.submit.save') %>
</div>
<% end %>
</div>

<br>
<br>
<% if $User.is_technician? then %>
<form accept-charset="UTF-8" action="/vendors/1" class="edit_vendor" enctype="multipart/form-data" id="edit_vendor_1" method="post">
<div style="margin:0;padding:0;display:inline">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="_method" type="hidden" value="put" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /></div>
  <label for="vendor_receipt_logo_header">Rechnungslogo Kopf</label>
  <input id="vendor_receipt_logo_header" name="vendor[receipt_logo_header]" type="file">
  <br>

  <label for="vendor_receipt_logo_header">Rechnungslogo Fuß</label>
  <input id="vendor_receipt_logo_footer" name="vendor[receipt_logo_footer]" type="file">
  <br>

  <label for="vendor_logo">Logo</label>
  <input id="vendor_logo" name="vendor[logo]" type="file">
  <br>

  <label for="vendor_logo_invoice">Logo Rechnung</label>
  <input id="vendor_logo_invoice" name="vendor[logo_invoice]" type="file">
  <input id="vendor_submit" name="commit" type="submit" value="Filiale aktualisieren" />
</form>
<% end -%>








