<%= raw content_box_top(t("menu.vendors")) %>
<div class="list">
      <% if salor_user.can(:show_tax_profiles) %>
        <div class="widget master" onmousedown="window.location = '<%= tax_profiles_path(:vendor_id => @vendor.id) %>';">
          <div align="center">
            <a href="<%= tax_profiles_path(:vendor_id => @vendor.id) %>">
              <img src="/images/icons/<%= icon(:tax_profile,64) %>" /><br />
              <%= t("menu.tax_profiles") %>
            </a>
          </div>
          </div>
          <% end %>

    <% GlobalData.vendors.each do |store| %>
      <div class="widget master-wide" >
        <div align="center">
        <a href="/vendors/<%= store.id %>">
          <img src="/images/icons/<%= icon(:vendor) %>" onmousedown="window.location = '/vendors/<%= store.id %>';"/><br />
          <%= store.name %>
      	</a>
      </div>
    </div>
  <% end %>
  <% if $User.can(:create_vendors) %>
  <div class="widget master">
      <div align="center">
        <a href="<%= new_vendor_path %>">
          <img src="/images/icons/<%= icon(:add) %>" /><br />
          <%= t "menu.new_vendor" %>
      	</a>
      </div>
    </div>
  <% end %>
  <br />
  <div class="widget master">
      <div align="center">
        <%if request.url.include? 'salortrainer' %>
          <a href="http://salor/vendors">
            <%= salor_icon :user7 %>
            <br />
            <%= t "menu.salorlive" %>
        	</a>
        <% else %>
          <a href="http://salortrainer/vendors">
            <%= salor_icon :user6 %>
            <br />
            <%= t "menu.salortrainer" %>
        	</a>
        <% end %>
      </div>
    </div>
  <div class="widget master">
      <div align="center">
        <a href="/home/remote_service">
          <%= salor_icon :nurse %>
          <br />
          <%= t "menu.remote_service" %>
      	</a>
      </div>
    </div>
</div>
