<div align="center">


  <%= form_for(@shipment, :html => {:id => 'shipments_form'}) do |f| %>
    <% if @shipment.errors.any? %>
      <div id="error_explanation">
        <h2><%= I18n.t("activerecord.errors.template.header", :count => @shipment.errors.count,:model => Shipment.model_name.human)%></h2>

        <ul>
        <% @shipment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    
    <table width="100%" align="center">
      <tr>
        <td align="left">
          <div class="button-confirm"><%= link_to(t('helpers.submit.cancel'), shipments_path) %></div>
          <% unless @shipment.new_record? %>
          <div class="button-confirm"><%= link_to(t('shipments.index.report'), shipment_path(@shipment)) %></div>
          <% end %>
        </td>
        <td align="right">
          <div class="actions"><%= f.submit(t('helpers.submit.save'), :id => "submit") %></div>
        </td>
      </tr>
      <tr>
        <td valign="top">  
          <h2><%= t("menu.general_configuration") %></h2>
        </td>
        <td>
          <hr />
        </td>
      </tr>
      <tr>
        <td> <%= f.label t("activerecord.attributes.name") %> </td>
        <td> <%= f.text_field :name, :class => "keyboardable"%> </td>
      </tr>
      <tr>
        <td> <%= f.label t("activerecord.attributes.paid") %> </td>
        <td> <%= f.check_box :paid %> </td>
      </tr>
      
      <tr>
        <td> <%= f.label t("activerecord.attributes.status") %> </td>
        <td> <%= f.collection_select :shipment_type_id, @shipment_types, :id, :name, :include_blank => true %> </td>
      </tr>
      
      <tr>
        <td> <%= f.label t("activerecord.attributes.the_receiver") %> </td>
        <td> <%= f.select :the_receiver, @shipment.receiver_shipper_list.collect{|t| [t[:name],t[:value]]} %> </td>
      </tr>
      
      <tr>
        <td> <%= f.label t("activerecord.attributes.the_shipper") %> </td>
        <td> <%= f.select :the_shipper, @shipment.receiver_shipper_list.collect {|t| [t[:name],t[:value]]}.unshift(['', '']) %> </td>
      </tr>
      
      <tr>
        <td valign="top">  
          <h2><%= t("menu.items") %></h2>
        </td>
        <td>
          <hr />
        </td>
      </tr>
    </table>
  <% end %>

  <% unless @shipment.new_record? %>
  <%= render :partial => "shipment_item_form" %>
  <% end %>



</div>