= raw content_box_top(I18n.t("headings.shipments"))
  
%div.pagination= paginate @shipments if @shipments


%table{:width=>"90%",:align=>"center"}
  %tr
    %td{:colspan=>9,:align=>'right'}
      = link_to (t 'menu.new_shipment'), new_shipment_path, :class => 'links new-model-button'
  %tr
    %td{:colspan=>9}
      %h2= t('activerecord.models.shipment.other')
      %hr
  %tr
    %th= Shipment.human_attribute_name(:name)
    %th= Shipment.human_attribute_name(:from)
    %th= Shipment.human_attribute_name(:to)
    %th= Shipment.human_attribute_name(:price)
    %th= Shipment.human_attribute_name(:paid)
    %th= Shipment.human_attribute_name(:status)
    %th
    %th
   
  - @shipments.each do |s|
    - sname = s.shipper.nil? ? t("system.errors.value_not_set") : s.shipper.name
    - rname = s.receiver.nil? ? t("system.errors.value_not_set") : s.receiver.name
    %tr
      %td= link_to s.name, shipment_path(s)
      %td= sname
      %td= rname
      %td= salor_number_to_currency(s.price)
      %td= s.paid
      %td= s.shipment_type.name if s.shipment_type
      %td= link_to salor_icon(:edit,{},32,t(:edit)), edit_shipment_path(s)
      %td= link_to image_tag('button_small_delete.png', :title => Shipment.human_attribute_name(:hidden), :alt => Shipment.human_attribute_name(:hidden)), shipment_path(s), :method => :delete, :confirm => t(:are_you_sure)