= stylesheet_link_tag 'invoice_default'
= stylesheet_link_tag 'invoice_default_print', :media => 'print'

= raw content_box_top(@shipment.name)

.tools
  .tool-icon{ :onmousedown => 'sr.fn.salor_bin.showPrintDialog()' }= salor_icon(:print, {}, 32)
  .tool-icon{ :onmousedown => "window.location = '/shipments/#{ @shipment.id }/edit'" }
    = salor_icon(:edit, {}, 32)
  

.clear

.paper-invoice  
  %h2== #{ Shipment.model_name.human } #{ @shipment.name }
  .right
    %p
      %b== #{ I18n.t("views.single_words.to") }:
      = l @shipment.created_at, :format => :date_short
    %p
      %b== #{ I18n.t("activerecord.attributes.price") }:
      = humanized_money_with_symbol @shipment.purchase_price_total
    %p
      %b== #{ I18n.t("activerecord.attributes.status") }:
      = @shipment.shipment_type.name if @shipment.shipment_type
    %p
      %b== #{ I18n.t("views.single_words.from") }:
      = @shipment.shipper.name if @shipment.shipper
    %p
      %b== #{ I18n.t("views.single_words.to") }:
      = @shipment.receiver.name if @shipment.receiver
  
    
  - if @shipment.notes.any?
    %h2= I18n.t("headings.notes")
    - @shipment.notes.each do |note|
      .note{ :id =>"note-#{ note.id }" }
        %span.note-title= note.title
        %br
        %p.note-body= note.body


  %h3= I18n.t("headings.shipment_items")
  %table.striped-table2
    %tr
      %th= ShipmentItem.human_attribute_name(:name)
      %th= ShipmentItem.human_attribute_name(:sku)
      %th= Item.human_attribute_name(:purchase_price)
      %th= Item.human_attribute_name(:tax_profile_id)
      %th= ShipmentItem.human_attribute_name(:quantity)
      %th= t('.purchase_price_sum')
    - @shipment.shipment_items.visible.reverse.each do |si|
      %tr
        %td= si.name
        %td= si.sku
        %td.right= humanized_money_with_symbol si.purchase_price
        %td.right= si.tax_profile.name if si.tax_profile
        %td.center= si.quantity
        %td.right= humanized_money_with_symbol si.purchase_price_total if si.purchase_price_total
    %tr.total
      %td{ :colspan => 5 }
      %td.right= humanized_money_with_symbol @shipment.purchase_price_total
      
.paper-invoice
  %p
    .dialog-button{ :onclick => "sr.fn.shipments.moveAllItemsIntoStock(#{ @shipment.id });" }= t('menu.move_shipment_item')
  %table.striped-table2
    %tr
      %th= ShipmentItem.human_attribute_name(:name)
      %th= ShipmentItem.human_attribute_name(:sku)
      %th= ShipmentItem.human_attribute_name(:quantity)
      %th
      %th
    - @shipment.shipment_items.visible.reverse.each do |si|
      - item = @shipment.vendor.items.visible.find_by_sku(si.sku)
      - item_stocks = item.item_stocks.visible if item
      - item_stocks ||= []
      %tr
        %td= si.name
        %td= si.sku
        %td= si.quantity
        %td
          - if si.in_stock_quantity == si.quantity
            = t ('views.forms.shipment.types.in_stock')
          - elsif item.nil? and si.tax_profile.nil?
            = t ('.need_tax_profile')
          - else
          
            = text_field_tag "shipment_item_quantity_to_move_#{ si.id }", (si.quantity - si.in_stock_quantity.to_f), :class => 'shipment_item_quantity_to_move', :onclick => "$(this).select()"
            
            - unless item.blank? or item_stocks.blank?
              = select_tag "shipment_item_move_to_#{ si.id }", options_for_select(@shipment.vendor.location_stock_location_list), :class => 'shipment_item_move_to' , :include_blank => true, :onchange => "$('#shipment_item_move_button_#{ si.id }').fadeIn();"
              
              .dialog-button{ :id => "shipment_item_move_button_#{ si.id }", :style => "display:none;", :onclick => "sr.fn.shipments.move_item_into_stock(#{ si.id }, $('#shipment_item_quantity_to_move_#{ si.id }').val(), $('#shipment_item_move_to_#{ si.id }').val() );" }= t('.move_into_stock')
              
            - else
            
              .dialog-button{ :id => "shipment_item_move_button_#{ si.id }", :onclick => "sr.fn.shipments.move_item_into_stock(#{ si.id }, $('#shipment_item_quantity_to_move_#{ si.id }').val() );" }= t('.move_into_stock')
        %td
          - if item
            - if item_stocks.blank?
              %table
                %tr
                  %th= t 'views.locations'
                  %th= t 'views.quantity'
                %tr
                  %td= item.location.name if item.location
                  %td= item.quantity
            - else
              %table
                %tr
                  %th= t 'views.locations'
                  %th= t 'views.quantity'
                - item_stocks.each do |is|
                  %tr
                    %td= is.location.name if is.location
                    %td= is.quantity