<%= form_for nest_image(@vendor), :html => { :multipart => true } do |f| %>

  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t("activerecord.errors.template.header.other", :count => @vendor.errors.count,:model => t("activerecord.models.vendor.one"))%></h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  


<table width="90%" align="center" class="clear">
  <tr>
    <td valign="top" colspan="2" align="right">
      <div class="actions clear">
        <%= f.submit I18n.t('helpers.submit.save'), :id => 'save_button' %>
      </div>
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr">
      <%= f.label t("activerecord.attributes.name") %>
    </td>
    <td valign="top" class="value">
      <%= f.text_field :name, :class => "keyboardable"%>
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr">
      <%= f.label "Time Zone" %>
    </td>
    <td valign="top" class="value">
      <%= f.time_zone_select :time_zone %>
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr">
      <%= f.label "Token" %>
    </td>
    <td valign="top" class="value">
      <%= f.text_field :token, :class => "keyboardable"%>
    </td>
  </tr>
  
  <tr>
    <td valign="top" colspan="2">
      <hr />
      <h2> <%= t("menu.loyalty_cards") %> </h2>
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr">
      <%= f.label t("activerecord.attributes.lp_per_dollar") %>
    </td>
    <td valign="top" class="value">
      <%= f.text_field :lp_per_dollar, :class => "keyboardable"%>
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr">
      <%= f.label t("activerecord.attributes.dollar_per_lp") %>
    </td>
    <td valign="top" class="value">
      <%= f.text_field :dollar_per_lp, :class => "keyboardable"%>
    </td>
  </tr>
  
  <tr>
    <td valign="top" colspan="2">
      <hr />
      <h2> <%= t("menu.configuration") %> </h2>
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr">
      <%= f.label t("activerecord.attributes.pagination") %>
    </td>
    <td valign="top" class="value">
      <%= f.text_field :pagination, :class => "keyboardable-int" %>
    </td>
  </tr>
  
  <tr>
    <td valign="top" colspan="2">
      <hr />
      <h2> <%= t("menu.receipts") %> </h2>
    </td>
  </tr>
  
  <%= f.fields_for :images do |image_form| %>
    <tr>
      <td valign="top" class="attr">
        <%= f.label image_form.object.image_type.to_s %>
      </td>
      <td valign="top" class="value">
        <%= image_form.file_field :file_data %>
        <%= image_form.hidden_field :image_type %>
      </td>
      <td>
        <div class='form_image clear'>
          <%= f.label :logo %>
          <br />
          <img src="<%= @vendor.image('logo') %>" />
          <br />
          <%= f.label :invoice_logo %>
          <br />
          <img src="<%= @vendor.image('invoice_logo') %>" />
        </div>
      </td>
    </tr>
  <% end %>
  
  <tr>
    <td valign="top" class="attr">
      <%= f.label :receipt_logo_header %>
    </td>
    <td valign="top" class="value">
      <input id="vendor_receipt_logo_header" name="vendor[receipt_logo_header]" type="file">
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr">
       <%= f.label :receipt_logo_footer %>
    </td>
    <td valign="top" class="value">
      <input id="vendor_receipt_logo_footer" name="vendor[receipt_logo_footer]" type="file">
    </td>
  </tr>
  
  <tr>
    <td valign="top" colspan="2">
      <hr />
      <h2> <%= t("views.advanced_field").split(' ').first %> </h2>
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr">
      <%= f.label t("menu.buttons") %>
    </td>
    <td valign="top" class="value">
      <%= f.check_box :csv_buttons %><br /> <br />
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr">
      <%= f.label t("menu.customers") %>
    </td>
    <td valign="top" class="value">
      <%= f.check_box :csv_customers %><br /> <br />
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr">
      <%= f.label t("menu.discounts") %>
    </td>
    <td valign="top" class="value">
      <%= f.check_box :csv_discounts %><br /> <br />
    </td>
  </tr>
  
  <tr>
    <td valign="top" class="attr" colspan="2">
      <hr />
      <br />
      <br />
    </td>
  </tr>
  
<!--  End Form Content  -->
  <tr>
    <td valign="top" colspan="2" align="right">
      <div class="actions">
          <%= f.submit I18n.t('helpers.submit.save') %>
      </div>
    </td>
  </tr>
  
</table>
<% end %>
