<%= raw content_box_top(t("menu.vendors")) %>
<div class="list">
    <% @vendors.each do |store| %>
      <div class="widget master-wide"  >
        <div align="center">
        <a href="/vendors/<%= store.id %>">
          <img id="vendor_<%= store.id %>" src="/images/icons/<%= icon(:vendor) %>" height="64px" onmousedown="window.location = '/vendors/<%= store.id %>';"/><br />
          <%= store.name %>
      	</a>
      </div>
    </div>
  <% end %>

  <div class="widget master">
    <div align="center">
      <a href="/session/remote_service">
        <%= salor_icon :nurse,{},64 %>
        <br />
        <%= t "menu.remote_service" %>
      </a>
    </div>
  </div>
  <div class="widget master">
    <div align="center">
      <a href="/session/documentation">
        <%= salor_icon :info,{},64 %>
        <br />
        <%= t "menu.documentation" %>
      </a>
    </div>
  </div>
</div>
