= stylesheet_link_tag 'invoice_default'
= stylesheet_link_tag 'invoice_default_print', :media => 'print'

- categories = @report['categories']
- taxes = @report['taxes']
- paymentmethods = @report['paymentmethods']
- proforma_paymentmethods = @report['proforma_paymentmethods']
- gift_cards_redeemed = @report['gift_cards_redeemed']
- gift_card_redeem_total = @report['gift_card_redeem_total']
- gift_cards_sold = @report['gift_cards_sold']
- gift_card_sales_total = @report['gift_card_sales_total']
- refunds  =  @report['refunds']
- revenue =   @report['revenue']
- transactions   = @report['transactions']
- transactions_sum   = @report['transactions_sum']
- calculated_drawer_amount =   @report['calculated_drawer_amount']
- categories_sum = @report['categories_sum']

= raw content_box_top(t("menu.reports"))



= form_tag "/vendors/report_day", :class => 'no-print', :id => 'date_range', :method => :get do
  %div.tools
    %table{:align => :center}
      %tr
        %td{:align => :left, :width => "20%"}
          = label 'from', t('.from')
        %td{:align => :right}
          = select_date(@from, :prefix => 'from', :order => [:day,:month,:year])
      %tr
        %td{:align => :left}
          = label 'to', t('.to')
        %td{:align => :right}
          = select_date(@to, :prefix => 'to', :order => [:day,:month,:year])
      %tr
        %td{:align => :left}
          %select{:id => 'user_select', :name => 'user_id' }
            %option
            = options_from_collection_for_select(@users, 'id', 'username', params[:user_id])
        %td{ :align => :right}
          = submit_tag t('orders.report.display'), :onclick => '$("#progress").show()', :id => 'display_report_day'
      %tr
        %td{:colspan => 2, :align => :center}
          = salor_icon(:a4print, {:onclick => 'print_dialog()'}, 40, t('menu.print_dialog'))
          = salor_icon(:thermal_printer, {:onclick => "print_url(Register.thermal_printer,'/vendors/render_report_day',decodeURIComponent($('#date_range').serialize()));" }, 40, t('.thermal'))
    %br
    %img{ :id => 'progress', :src => '/images/upload.gif', :style => 'display: none;' }

.clear

.paper-invoice
  %h2== #{ t '.title' } #{ l @from, :format => :just_day } - #{ l @to, :format => :just_day }<br />#{ @current_vendor.name }<br />#{ @user.name_with_username if @user }
  
  %p= l DateTime.now

  %p== #{ t '.count_orders' }: #{ @report['count_orders'] }
  %p== #{ t '.count_order_items' }: #{ @report['count_order_items'] }


  - [[:pos,'.sales'], [:neg,'.payments']].each do |i|
    %h3= t i[1]

    %table.striped-table2
      %tr
        %th.left= t '.sums_by_category'
        %th.right= t '.gross'
        %th.right= t '.net'
        %th.right= t '.tax'
      - categories[i[0]].to_a.each do |c|
        %tr
          %td.left= c[0].blank? ? t('printr.eod_report.no_category') : c[0]
          %td.right= humanized_money_with_symbol c[1][:gro]
          %td.right= humanized_money_with_symbol c[1][:net]
          %td.right= humanized_money_with_symbol c[1][:gro] - c[1][:net]

    %table.striped-table2
      %tr
        %th.left= t '.sums_by_tax_profile'
        %th.right= t '.gross'
        %th.right= t '.net'
        %th.right= t '.tax'
      - taxes[i[0]].to_a.each do |t|
        %tr
          %td.left= number_to_percentage t[0]
          %td.right= humanized_money_with_symbol t[1][:gro]
          %td.right= humanized_money_with_symbol t[1][:net]
          %td.right= humanized_money_with_symbol t[1][:gro] - t[1][:net]
          
    - if i[0] == :pos and gift_cards_sold.any?
      %table.striped-table2
        %tr
          %th.left= t '.gift_card_sales_total'
          %th
          %th.right
        - gift_cards_sold.each do |gc|
          %tr
            %td.left
              = link_to(gc.sku, edit_item_path(gc.item))
            %td= link_to("#{ t('orders.print.invoice') } ##{ gc.order.nr } #{ I18n.l(gc.order.paid_at, :format => :date_short) }", "/orders/#{ gc.order_id }/print")
            %td.right= humanized_money_with_symbol gc.total
        %tr.total
          %td.right{:colspan => 3}= humanized_money_with_symbol gift_card_sales_total
            
            



    %table.striped-table2
      %tr
        %th.left= t '.sums_by_payment_methods'
        %th.right
      - paymentmethods[i[0]].to_a.each do |p|
        %tr
          %td.left= p[0]
          %td{:id => "#{i[0]}_#{p[0]}_sum", :class => "right"}= humanized_money_with_symbol p[1]
          
    - if i[0] == :pos and gift_cards_redeemed.any?
      %table.striped-table2
        %tr
          %th.left= t '.gift_card_redeem_total'
          %th
          %th.right
        - gift_cards_redeemed.each do |gc|
          %tr
            %td.left
              = link_to(gc.sku, edit_item_path(gc.item))
            %td= link_to("#{ t('orders.print.invoice') } ##{ gc.order.nr } #{ I18n.l(gc.order.paid_at, :format => :date_short) }", "/orders/#{ gc.order_id }/print")
            %td.right= humanized_money_with_symbol gc.total
        %tr.total
          %td.right{:colspan => 3}= humanized_money_with_symbol gift_card_redeem_total

    %p{:id => "#{i[0]}_sum_gross"}
      == #{ t '.sum_gross' }:
      %b== #{ humanized_money_with_symbol categories_sum[i[0]][:gro] }
    %p{:id => "#{i[0]}_sum_net"}
      == #{ t '.sum_net' }:
      %b== #{ humanized_money_with_symbol categories_sum[i[0]][:net] }
    

      
      
      
      
      

%div.paper-invoice

  %h3= t '.refunds'
  %table.striped-table2
    %tr
      %th.left= t '.type'
      %th.left= t 'orders.print.invoice'
      %th.right= t '.gross'
    - refunds.each do |k,v|
      %tr
        %td.left= v[:name]
        %td.left= @current_vendor.orders.find_by_nr(k)
        %td.right= humanized_money_with_symbol v[:amount]


        
  %h3= t '.revenue'
  %p== #{ t '.gross' }: #{ humanized_money_with_symbol revenue[:gro] }
  %p== #{ t '.net' }: #{ humanized_money_with_symbol revenue[:net] }
        
        

  %h3= t '.proforma_payments'
  %table.striped-table2
    %tr
      %th.left= t '.sums_by_payment_methods'
      %th.right
    - proforma_paymentmethods.to_a.each do |p|
      %tr
        %td.left= p[0]
        %td{:class => "right"}= humanized_money_with_symbol p[1]


  

  
  
  




  %h3= t '.transactions'
  %table.striped-table2
    %tr
      %th.left= t '.transaction_tag'
      %th.left= t '.notes'
      %th.left= t '.time'
      %th.right= t '.drop'
      %th.right= t '.payout'
    - transactions.each do |d|
      %tr
        %td.left= t ('.' + d[:tag])
        %td.left= d[:notes]
        %td.left= d[:time].strftime('%d. %b %H:%M')
        %td.right= humanized_money_with_symbol d[:amount] if d[:amount].fractional > 0
        %td.right= humanized_money_with_symbol d[:amount] if d[:amount].fractional < 0
  %p== #{ t '.sum_transactions' }: #{ humanized_money_with_symbol transactions_sum }

  
  
  %h3= t '.cash_drawer'

  - if @from.beginning_of_day == Time.now.beginning_of_day and @user # today and user
    %p== #{ I18n.t("printr.eod_report.system_drawer_amount") }: #{ humanized_money_with_symbol @user.get_drawer.amount }

  %p== #{ I18n.t("printr.eod_report.calculated_drawer_amount") }: #{ humanized_money_with_symbol calculated_drawer_amount }
  - unless calculated_drawer_amount.zero?
    %p
      %b= t 'printr.eod_report.warning_drawer_amount_not_zero'

  %hr
  %p== (#{ request.ip }) (#{ @current_user.username }) (#{ @current_register.name })
