= stylesheet_link_tag 'invoice_default'
= stylesheet_link_tag 'invoice_default_print', :media => 'print'

= raw content_box_top(t("vendors.sales_statistics.title"))


= form_tag "/vendors/sales_statistics", :class => 'no-print', :id => 'date_range', :method => :get do
  %table.tools{ :width => '70%' }
    %tr
      %td{:align => :left, :width => "20%"}
        = label 'from', t('.from')
      %td{:align => :right}
        = select_date(@from, :prefix => 'from', :order => [:day,:month,:year])
    %tr
      %td{:align => :left}
        = label 'to', t('.to')
      %td{:align => :right}
        = select_date(@to, :prefix => 'to', :order => [:day,:month,:year])
    %tr
      %td{:align => :left}
        = label 'category', t('.category')
      %td{:align => :right}
        %select{ :id => "category_id", :name => "category_id" }
          %option
          = options_from_collection_for_select @categories, :id, :name, :include_blank => true
    %tr
      %td
      %td{ :align => :right}
        = submit_tag t('orders.report.display'), :onclick => '$("#progress").show()', :id => 'display_report_day'
    %tr
      %td{:colspan => 2, :align => :center}
        = salor_icon(:a4print, {:onclick => 'sr.fn.salor_bin.showPrintDialog()'}, 40, t('menu.print_dialog'))
    %tr
      %td{:colspan => 2, :align => :center}= image_tag 'loader.gif', :id => 'progress', :style => 'display: none;'

      .clear

.paper-invoice
  %h2== #{ t '.title' }: #{ l @from, :format => :just_day } - #{ l @to, :format => :just_day }<br />#{ @current_vendor.name }<br />#{ @user.name_with_username if @user } 
  
  %table.striped-table2
    %tr
      %th= t ".category"
      %th= t ".item_name"
      %th SKU
      %th= t ".quantity"
      %th= t ".sum"
    - total_cents = 0
    - @reports[:order_item_quantities_by_category].each do |arr|
      - total_cents += arr[4]
      %tr
        %td
          - unless arr[0].nil?
            = @current_vendor.categories.find_by_id(arr[0]).name
        %td= @current_vendor.items.find_by_id(arr[1]).name
        %td= arr[2]
        %td= number_with_precision arr[3]
        %td= humanized_money_with_symbol Money.new(arr[4], @current_vendor.currency)
    %tr
      %td
      %td
      %td
      %td
      %td= humanized_money_with_symbol Money.new(total_cents, @current_vendor.currency)
        
  %p= l DateTime.now