:css
  .move-transactions * div {
    display: inline-block
   }
.technician-control-panel
  .move-transactions
    %h2 Move transactions for date range
    = form_tag "/vendors/move_transactions" do
      .from
        = label('from', 'From Date')
        = select_datetime(@from, :prefix => 'from')
      .to
        = label('to', 'To Date')
        = select_datetime(@to, :prefix => 'to')
      .from-user
        = label('from_user', 'From User')
        = raw $User.user_select :name => 'from_emp',:id => 'from_emp'
      .to-user
        = label('to_user', 'To User')
        =  raw $User.user_select :name => 'to_emp', :id => 'to_emp'
      .actions
        %p{:align => 'center', :style => 'margin-left: 20px;'}
          = submit_tag 'Move Transactions' 

