= raw content_box_top(@shipper.name)

= form_tag shipper_upload_path(@shipper), :multipart => true do |form|
  %table{:width => "70%", :align => :center}
    %tr
      %td
        %h2== Format: #{ @shipper.import_format }
    %tr
      %td
        = file_field_tag :file, :size => 15
    %tr
      %td
        %input{ :type => 'submit', :onclick => '$(".progressbar").show()', :value => t('menu.upload')}
    %tr
      %td= image_tag 'loader.gif', :class => 'progressbar', :style => "display: none;"