<table align="center" width="100%">
  <tr>
    <td valign="top" align="center">
      <%= form_for(@user, :url => "/home/update_user", :html => { :method => :post }) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= I18n.t("activerecord.errors.template.header.other", :count => @user.errors.count,:model => t("activerecord.models.user.one"))%></h2>

            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <table align="center" width="300px">
        <tr>
           <td valign="top">
             <div class="freefield"><%= f.label t("activerecord.attributes.username") %><br />
               <%= f.text_field :username, :class => 'keyboardable-disabled', :disabled => 'disabled' %>
             </div>

             <div class="freefield"><%= f.label t("activerecord.attributes.password") %><br />
              <%= f.password_field :password, :class => 'keyboardable' %></div>

             <div class="freefield">
                  <%= t "views.language" %><br />
                  <%= f.select :language, supported_languages.collect {|l| [l[:name],l[:locale]]} %>
              </div>

              <%= f.hidden_field :user_id, :value => @user.id %>

            </td>
        </tr>
      </table>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </td>
  </tr>
</table>
