!!!

- add_param(:type => params[:type]) if params[:type] and not params[:type].blank?

%html
  %head
    %title SalorRetail
    - if mobile?
      %link{ :rel => "apple-touch-icon", :href => "apple-touch-icon-57x57.png"}
      %link{ :rel => "apple-touch-icon", :sizes => "72x72", :href => "apple-touch-icon-72x72.png"}
      %link{ :rel => "apple-touch-icon", :sizes => "114x114", :href => "apple-touch-icon-114x114.png"}

    = stylesheet_link_tag 'print', :media => 'print'
    = stylesheet_link_tag 'ui-min.css'
    = stylesheet_link_tag 'generic'
    = stylesheet_link_tag workstation? ? 'workstation' : 'mobile'

    = javascript_include_tag 'application'
    = javascript_include_tag "locales/main.#{I18n.locale}.js",'underscore'
    - if @current_user
      = render :partial => "shared/application_js"
    - if mobile?
      = javascript_include_tag 'mobile'
    - else
      = javascript_include_tag 'workstation'
      = javascript_include_tag 'jquery.checkbox'

    = javascript_include_tag params[:controller]

  %body#body
    .background
      = render :partial => "shared/header_menu" if @current_user and @current_user.can(:see_header) 
      = render :partial => "shared/notice"
      .errors.hidden
      .help.hidden
      = render :partial => "shared/cash_drop" if @current_user
      
      = yield
      
      %span.version= SalorRetail::Application::VERSION

    #simple_input_dialog{:title => "Salor Dialog", :class => "salor-dialog hidden"}
      %label{ :for => "input", :class => "input_label" }None
      %input{ :type=>"password", :name=>"input", :id=> "dialog_input", :class=>"text ui-widget-content ui-corner-all"}
      %p.validateTips