<script type="text/javascript">
  $(document).ready(function () {
      $('#general').show();
      $('.link').click(function () {
          $('.active').removeClass('active');
          $(this).addClass('active');
          $('.form-container').hide();
          $($(this).attr('href')).show();
      });
      $("#item_coupon_applies").keyup(function(){
        $(this).val($(this).val().toUpperCase());
      })
       $("#item_sku").keyup(function(){
        $(this).val($(this).val().toUpperCase());
      })
 });
 /*
 handleKeyboardEnter = false;
 setOnEnterKey(function(){
   alert('doink');
 });
 */
</script>
  <table style="width: 300px;" align="center">
    <tr>
    <td width="200px">
       <div class="tool-icon" style="width: 100px;">
          <%= link_to image_tag('/images/icons/' + icon(:broken, 32)), new_broken_item_path(:sku => @item.sku, :name => @item.name, :base_price => @item.base_price) %><br />
         <span class="icon-caption"> <%= I18n.t("menu.new_broken_item") %></span>
        </div>
    </td>
      <td>
        <div class="tool-icon" style="width: 100px;">
          <%= link_to image_tag('/images/icons/' + icon(:action, 32)), new_action_path(:item => { :sku => @item.sku, :name => @item.name + " Action ##{@item.actions.length + 1}", :weight => @item.actions.length + 1}) %><br />
          <span class="icon-caption"><%= I18n.t("menu.new_action") %></span>
        </div>
      </td>
      <td>
         <div class="tool-icon" style="width: 100px;">
         <% if @item.category then
                cat_name = @item.category.name 
              else
                cat_name = ''
              end
          %>
          <%= link_to image_tag('/images/icons/' + icon(:button, 32)), new_button_path(:item => { :sku => @item.sku, :name => @item.name, :category => cat_name}) %><br />
          <span class="icon-caption"><%= I18n.t("menu.new_button") %></span>
        </div>
      </td>
    </tr>
  </table>
<div style="clear: both;">
  &nbsp;
</div>
<div align="center">
<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t("activerecord.errors.template.header.other", :count => @item.errors.count,:model => t("activerecord.models.item.one"))%></h2>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="general-form" >
      <div class="form-menu">
          <div class="link active" href="#general">
          <%= t("menu.general_configuration") %>
        </div>
        <div class="link" href="#parts">
          <%= t("activerecord.attributes.parts") %>
        </div>
        <!--
          <div class="link" href="#batches">
            <%= t("menu.batches") %>
          </div>
        -->
        <div class="link" href="#additional">
          <%= t("menu.additional") %>
        </div>
        <div class="link" href="#info">
          <%= t("menu.actions") %>
        </div>
      </div>
      <div class="tab-container">
        <div id="general" class="general-form-container form-container">
          <table align="center">
            <tr>
              <td valign="top" colspan="2">
                  <%= salor_render :partial => "item_required", :locals => {:f => f} %>
              </td>
              <td valign="top">
                <% current = @item %>
                <% ancestorcount = 0 %>
                <% begin %>
                  <% parent = current.parent %>
                  <% if parent %>
                    <% ancestorcount += 1 %>
                    <p>Parent <%= ancestorcount %>: <%= link_to parent.name, edit_item_path(parent) %></p>
                    <p><%= t 'activerecord.attributes.quantity' %>: <%= parent.quantity %> | <%= t 'activerecord.attributes.price' %>: <%= number_to_currency parent.base_price %></p>
                  <% end %>
                  <% current = parent %>
                <% end while parent %>
                <% current = @item %>
                <% ancestorcount = 0 %>
                <% begin %>
                  <% child = current.child %>
                  <% if child %>
                    <% ancestorcount += 1 %>
                    <p>Child <%= ancestorcount %>: <%= link_to child.name, edit_item_path(child) %></p>
                    <p><%= t 'activerecord.attributes.quantity' %>: <%= child.quantity %> | <%= t 'activerecord.attributes.price' %>: <%= number_to_currency child.base_price %></p>
                  <% end %>
                  <% current = child %>
                <% end while child %>
              </td>
            </tr>
            <tr>
              <td valign="top" colspan="2">

                  <div id="coupon" class="field hidden">
                    <%= f.label t("activerecord.attributes.coupon_applies"),t('views.forms.applies_to_item') %><br />
                    <%= f.text_field :coupon_applies, :class => "keyboardable"%>
                    <br />
                    <%= f.label t("activerecord.attributes.coupon_type") %><br />
                    <%= f.select :coupon_type, coupon_types.collect {|ct| [ct[:text],ct[:value]]} %>
                  </div>
                  <div id="gcardamount" class="field hidden">
                    <%= f.label t("activerecord.attributes.amount_remaining") %><br />
                    <%= f.text_field :amount_remaining %>
                  </div>

              </td>
            <tr>
          </table>
          </div><!-- end id="general" -->
          <div id="additional" class="additional-form-container form-container hidden">
            <div class="metric-input">
                <p>
                  <%= f.label t("activerecord.attributes.height") %><br />
                  <%= f.text_field :height,:class => "keyboardable-int delimit-number", :size => 7 %> <%= f.select :height_metric, AppConfig.height_metrics.split(',').collect {|metric| [metric,metric]} %>
                </p>

                </div>

                <div class="metric-input">
                  <p>
                    <%= f.label t("activerecord.attributes.weight") %><br />
                  <%= f.text_field :weight,:class => "keyboardable-int delimit-number", :size => 7 %> <%= f.select :weight_metric, AppConfig.weight_metrics.split(',').collect {|metric| [metric,metric]} %>
                  </p>
                </div>

                <div class="metric-input">
                  <p>
                    <%= f.label t("activerecord.attributes.length") %><br />
                  <%= f.text_field :length,:class => "keyboardable-int delimit-number", :size => 7 %> <%= f.select :length_metric, AppConfig.length_metrics.split(',').collect {|metric| [metric,metric]} %>
                  </p>
                </div>

                <div class="metric-input">
                  <p>
                    <%= f.label t("activerecord.attributes.width") %><br />
                  <%= f.text_field :width,:class => "keyboardable-int delimit-number", :size => 7 %> <%= f.select :width_metric, AppConfig.width_metrics.split(',').collect {|metric| [metric,metric]} %>
                  </p>
                </div>

                <div class="metric-input">
                  <p>
                    <%= f.label t("activerecord.attributes.sales_metric") %><br />
                    <%= f.select :sales_metric, AppConfig.sales_metrics.split(',').collect {|metric| [metric,metric]} %>
                  </p>
                </div>
                <div class="field">
                  <p>
                    <%= f.label t("activerecord.attributes.min_quantity") %><br />
                    <%= f.text_field :min_quantity, :class => "keyboardable-int delimit-number" %>
                  </p>
                </div>
                <div class="field">
                  <p>
                    <%= f.label t("activerecord.attributes.active") %><br />
                    <%= f.check_box :active %>
                  </p>
                </div>
                <div class="field">
                  <p>
                    <%= f.label t("activerecord.attributes.ignore_qty") %><br />
                    <%= f.check_box :ignore_qty %>
                  </p>
                </div>
                <div class="field">
                  <p>
                    <%= f.label t("activerecord.attributes.shipper_sku") %><br />
                    <%= f.text_field :shipper_sku %>
                  </p>
                </div>
                <div class="field">
                  <%= f.label t("activerecord.attributes.the_shipper") %><br />
                  <%= f.select :shipper_id, Shipper.scopied.collect {|t| [t.name,t.id]}.unshift(['NA',0]) %>
                </div>
                <div class="field">
                  <p>
                    <%= f.label t("activerecord.attributes.packaging_unit") %><br />
                    <%= f.text_field :packaging_unit, :class => "keyboardable-int delimit-number" %>
                  </p>
                </div>
                <div class="field">
                  <p>
                    <%= f.label t("activerecord.attributes.parent_sku") %><br />
                    <%= f.text_field :parent_sku, :class => "keyboardable" %>
                  </p>
                </div>
                <div class="field">
                  <p>
                    <%= f.label t("activerecord.attributes.child_sku") %><br />
                    <%= f.text_field :child_sku, :class => "keyboardable" %>
                  </p>
                </div>
          </div> <!-- end id="additional" -->
          <div id="parts" class="form-container additional-form-container parts-form-container hidden">
                <table width="99%">
                  <tr>
                  <td width="70%">
                    &nbsp;
                  </td>
                    <td class="parts-options" align="right">
                      <div align="center">
                          <%= f.label t("activerecord.attributes.calculate_part_price") %>
                          <%= f.check_box :calculate_part_price %>
                      </div>
                      <div >
                        <%= image_tag "/images/icons/" + icon(:add,32), :onclick => "addPart();" %> <br />
                      </div>
                    </td>
                  </tr>
                </table>
                <script type="text/javascript">
                function addPart() {
                  var elem = $("<div class='part'></div>");
                  elem.append($('<%= label_tag I18n.t("activerecord.attributes.sku") %><br />'));
                  var inp = $('<input id="inp<%= rand(9999) %>" type="text" name="item[part_skus][][sku]" class="text-input keyboardable part-input" value="" />');

                  elem.append(inp);

                  elem.append($('<%= label_tag I18n.t("activerecord.attributes.part_quantity") %>'));
                  var qinp = $('<input id="qinp<%= rand(9999) %>" type="text" name="item[part_skus][][part_quantity]" class="text-input keyboardable-int part-input" value="" />');


                  elem.append(qinp);
                  var del = $('<div align="right" style="padding-top: 10px;"><%= image_tag "/images/icons/" + icon(:delete,16) %></div>');
                  del.click(function () {
                      $(this).parent().remove();
                  });
                  elem.append(del);
                  $("#parts_target").prepend(elem);
                  make_keyboardable(inp);
                  make_keyboardable(qinp);
                }
                </script>
                <div id="parts_target" class="parts">
                  <% if @item.parts.any?  %>
                    <% @item.parts.each do |part|  %>
                      <div id="part-<%= part.id %>" class="part">
                        <%= label_tag I18n.t("activerecord.attributes.sku") %> <br />
                        <%= text_field_tag "item[part_skus][][sku]", part.sku, :class => 'keyboardable' %><br />
                        <%= label_tag I18n.t("activerecord.attributes.part_quantity") %> <br />
                        <%= text_field_tag "item[part_skus][][part_quantity]", part.part_quantity, :class => 'keyboardable-int delimit-number' %><br />
                        <div id="" class="" align="right" style="padding-top: 10px;">
                          <%= image_tag("/images/icons/" + icon(:delete,16), :onclick => "$('#part-#{part.id}').remove();") %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
      </div><!-- end id="parts" -->
      <div id="batches" class="additional-form-container batches-form-container form-container hidden">

        <table width="99%">
            <tr>
              <td width="70%">
                &nbsp;
              </td>
              <td class="batches-options" align="right">
                <div >
                  <%= image_tag "/images/icons/" + icon(:add,32), :onclick => "addBatch();" %> <br />
                </div>
              </td>
            </tr>
        </table>
        <script type="text/javascript">
        function addBatch() {
          var elem = $("<div class='batch'></div>");
          elem.append($('<%= label_tag I18n.t("activerecord.attributes.sku") %><br />'));
          var inp = $('<input id="inp<%= rand(9999) %>" type="text" name="item[batch_skus][][sku]" class="text-input keyboardable batch-input" value="" />');

          elem.append(inp);
          elem.append("<br />");

          elem.append($('<%= label_tag I18n.t("activerecord.attributes.expires_on") %> <br />'));
          var qinp = $('<input id="qinp<%= rand(9999) %>" type="text" name="item[batch_skus][][expires_on]" class="text-input keyboardable batch-input" value="" />');


          elem.append(qinp);
          elem.append("<br />");
          var del = $('<div align="right" style="padding-top: 10px;"><%= image_tag "/images/icons/" + icon(:delete,16) %></div>');
          del.click(function () {
              $(this).parent().remove();
          });
          elem.append(del);
          $("#batch_target").prepend(elem);
          make_keyboardable(inp);
          make_keyboardable(qinp);
        }
        </script>
          <div id="batch_target" class="batches">
          <% if @item.batches.any?  %>
            <% @item.batches.each do |batch|  %>
              <div id="batch-<%= batch.id %>" class="batch">
                <%= label_tag I18n.t("activerecord.attributes.sku") %> <br />
                <%= text_field_tag "item[batch_skus][][sku]", batch.sku, :class => 'keyboardable' %>
                <%= label_tag I18n.t("activerecord.attributes.expires_on") %> <br />
                <%= text_field_tag "item[batch_skus][][expires_on]", batch.expires_on, :class => 'keyboardable' %>
                <div id="" class="" align="right" style="padding-top: 10px;">
                  <%= image_tag("/images/icons/" + icon(:delete,16), :onclick => "$('#batch-#{batch.id}').remove();") %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

       </div> <!-- end id="batches" -->
       <div id="info" class="additional-form-container batches-form-container form-container hidden">
       <% if @item.actions.any?  %>
       <h3> <%= I18n.t("activerecord.models.action.other") %></h3>
       <table width="80%" align="center">
        <% @item.actions.each do |action|  %>
          <tr class="stripe-me2">
            <td> <%= link_to action.name, edit_action_path(action) %> </td>
            <td>
              <%=I18n.t("when_list.#{Action.when_list.find {|w| action.whento.to_sym == w}}") %>
            </td>
            <td>
              <%= I18n.t("behavior_list.#{Action.behavior_list.find {|b| b == action.behavior.to_sym }}")  %>
            </td>
            <td>
              <%= action.value %>
            </td>
            <td>
              <%= salor_number_to_currency(Action.simulate(@item, action).base_price) %>
            </td>
            <td>
              <div>
              <%= link_to image_tag('/images/icons/' + icon(:delete,16)), action,:confirm => 'Are you sure?', :method => :delete %>
            </div>
            </td>
          </tr>
        <% end %>
       </table>
       <% end %>
       <% discounts = OrderItem.get_discounts.find_all {|disc| 
          (disc.applies_to == 'Item' and disc.item_sku == @item.sku) or 
          (disc.applies_to == 'Category' and disc.category_id == @item.category_id) or
          (disc.applies_to == 'Location' and disc.location_id == @item.location_id)
             
       }  %>
       <% if discounts.any? then  %>
         <h3> <%= I18n.t("activerecord.models.discount.other") %></h3>
         <table width="80%" align="center">
          <% discounts.each do |discount|  %>
            <tr class="stripe-me2">
              <td> <%= link_to discount.name, "/discounts/#{discount.id}/edit"%> </td>
              <td>
                <%= Discount::TYPES.find {|d| d[:value] == discount.amount_type}[:text] %>
              </td>
              <td>
                <%= discount.amount %>
              </td>
              <td>
                <%= salor_number_to_currency(discount.simulate(@item).base_price) %>
              </td>
            </tr>
          <% end %>
         </table>
       <% end %>
       <% coupons = Item.scopied.where(["coupon_applies = ?",@item.sku]) %>
       <% if coupons.any? then  %>
        
       <% end %>
      </div> <!-- end id="info" -->
      </div>
  </div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
