<%= raw content_box_top(t "menu.overview") %>
<table align="center" width="100%">
  <tr>
    <td valign="top">
      <div class="salor-presentation" align="center">
      <%
      # the hash of reports
      reports = GlobalData.salor_user.get_owner.report
      
      %>
        <table>
          <tr>
            <td class="reports-totals">
              <img src="/images/salor-logo.png" align="left" class="salor-logo"/>
            </td>
            <td class='reports-orders-total reports-totals'>
              <%= I18n.t("activerecord.models.order.other") %>: <%= salor_number_to_currency(reports[:orders_total]) %>
            </td>
          </tr>
          <tr>
            <td class="reports-totals">
              <%= I18n.t("activerecord.models.order.other") %>: <%= reports[:orders_count] %>
            </td>
            <td class="reports-totals">
              <%= I18n.t("activerecord.models.order_item.other") %>: <%= reports[:order_items_count] %>
            </td>
          </tr>
          <tr>
            <td class="reports-totals">
               <%= I18n.t("activerecord.models.item.other") %>: <%= reports[:items_count] %>
            </td>
            <td class="reports-totals">
               <%= I18n.t("reports.item_zero") %>: <%= reports[:items_zero_count] %>
            </td>
          </tr>
        </table>        
      </div>
      <div class='backup'>
        <p><%= link_to t('.backup_database'), '/home/backup_database' %></p>
        <p><%= link_to t('.backup_logfile'), '/home/backup_logfile' %></p>
      </div>
    </td>
    </tr>
    <tr>
      <td>
        <%= salor_render :partial => "shared/expiring" %>
      </td>
    </tr>
  <tr>
    <td>
      <%= salor_render :partial => "shared/almost_out" %>
    </td>
  </tr>  
</table>
<%= raw content_box_bottom %>
<!-- end  -->
<%= salor_render :partial => "shared/in_place_edit" %>
