<%= raw content_box_top(I18n.t("headings.item_selection")) %>
<script type="text/javascript">
  function repup(str) {
    return encodeURI(str); 
  }
  function run_salor_printer() {
  	var skus = $('.labels-snag-me').val().split("\n");
  	for (i in skus) {
  		var sku = skus[i];
  		SalorPrinter.printURL('<%= $User.get_meta.cash_register.thermal_printer %>','<%= $Conf.url %>/items/render_label?type=label&skus=' + sku);
  	}
  }
</script>
<div style="text-align: center;" >
<%= form_tag '/items/labels', :remote => true do %>
  <p><%= text_area_tag 'skus', nil, :class => 'labels-snag-me', :cols => 20, :rows => 15 %></p>
  <p>
    <input type="radio" name="type" value="label" checked>Regaletikett<br>
    <input type="radio" name="type" value="sticker">Klebeetikett<br>
  </p>
  <p><%= label_tag 'all', 'Alle' %><%= check_box_tag 'all' %></p>
  <% if $Conf.salor_printer then  %>
    <button onclick="run_salor_printer();">OK</button>
  <% else  %>
    <p><%= submit_tag %></p>
  <% end -%>
<% end %>
</div>
<%= raw content_box_bottom %>

<script>
window.setTimeout("set_focus()", 1000);
function set_focus(){
$('#skus')[0].focus();
}
</script>
