<%= raw content_box_top(I18n.t("headings.item_selection")) %>
<script type="text/javascript">
  window.setTimeout("set_focus()", 1000);
    function set_focus(){
    $('#skus')[0].focus();
  }
  function print() {
    var skus = $('#skus').val().split("\n");
    if($("#label:checked").val() == 'label') {
      print_url(Register.thermal_printer,'/items/labels', '&type=label&skus=' + skus);
    }
    if($("#sticker:checked").val() == 'sticker') {
      print_url(Register.sticker_printer,'/items/labels', '&type=sticker&skus=' + skus);
    }
  }
</script>
<div style="text-align: center;" >
<%= form_tag '/items/labels', :remote => true do %>
  <p><%= text_area_tag 'skus', nil, :class => 'labels-snag-me keyboardable', :cols => 20, :rows => 15, :style => 'width:245px;height:245px;' %></p>
  <p>
  <input id='label' type="radio" name="type" value="label" checked><%= I18n.t("views.eticket") %><br>
  <input id='sticker' type="radio" name="type" value="sticker"><%= I18n.t("views.sticky_ticket") %><br>
  </p>
  <button onclick="print();">Print</button>
<% end %>
</div>
<%= raw content_box_bottom %>
