<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Sku:</b>
  <%= @item.sku %>
</p>

<p>
  <b>Image:</b>
  <%= @item.image %>
</p>

<p>
  <b>Vendor:</b>
  <%= @item.vendor_id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
