= javascript_include_tag "remotesupport.js"

#request_service
  = text_field_tag 'service_connect_host', 'red-e.eu'
  %br
  = text_field_tag 'service_connect_user', 'service'
  %br
  = text_field_tag 'service_connect_password', ''
  %br
  .connect_service_button_container
    .generic-button#connect_service_ssh{ :onclick => 'sr.fn.remotesupport.connect("ssh");' }= t('home.remote_service..connect_ssh')
  .connect_service_button_container
    .generic-button#connect_service_vnc{ :onclick => 'sr.fn.remotesupport.connect("vnc");' }= t('home.remote_service..connect_vnc')
  #connection_status= t('home.remote_service.requesting_connection_status')
  %br
  = image_tag 'loader.gif', :id => 'progress'

:javascript
  var i18n_connected = "#{ escape_javascript t 'home.remote_service..connected' }";
  var i18n_disconnected = "#{ escape_javascript t 'home.remote_service..disconnected' }";
  sr.fn.remotesupport.setup();
