<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tax_profile.name %>
</p>

<p>
  <b>Value:</b>
  <%= @tax_profile.value %>
</p>

<p>
  <b>Default:</b>
  <%= @tax_profile.default %>
</p>

<%= link_to 'Edit', edit_tax_profile_path(@tax_profile) %> |
<%= link_to 'Back', tax_profiles_path %>
