= raw content_box_top(I18n.t("menu.wholesaler_update"))
.clear
- @uploaders.each do |u|
  %h2= u.shipper.name
  %table
    %tr
      %td updated items
      %td= u.updated_items
    %tr
      %td created items
      %td= u.created_items
    %tr
      %td created categories
      %td= u.created_categories
    %tr
      %td created_items
      %td
        - u.created_item_ids.each do |id|
          - item = @current_vendor.items.visible.find_by_id(id)
          = link_to("#{ item.name }, #{ item.sku }", item_path(item.id))
    %tr
      %td Messages:
      %td= raw u.messages.join("<br />")
    