%h2= @country.new_record? ? (t '.new_country') : (t '.edit_country')

- if @country.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @country.errors.size, :model => Country.model_name.human
    %ul
      - @country.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @country do |sale_type_form|
    %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    %table
      %tr
        %td= sale_type_form.label 'name'
        %td= sale_type_form.text_field :name, :size => '10'