        <%= form_for(@discount) do |f| %>
        <%= f.hidden_field :vendor_id, :value => salor_user.meta.vendor_id%>
        <% if @discount.errors.any? %>
          <div id="error_explanation">
            <h2><%= I18n.t("activerecord.errors.template.header.other", :count => @discount.errors.count,:model => t("activerecord.models.discount.one"))%></h2>
      
            <ul>
            <% @discount.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field">
          <%= f.label t("activerecord.attributes.name") %><br />
          <%= f.text_field :name, :class => 'keyboardable' %>
        </div>
        <div class="field">
          <%= f.label t("activerecord.attributes.start_date") %><br />
          <%= f.datetime_select :start_date %>
        </div>
        <div class="field">
          <%= f.label t("activerecord.attributes.end_date") %><br />
          <%= f.datetime_select :end_date %>
        </div>
        <div class="field">
          <%= f.label t("activerecord.attributes.applies_to") %><br />
          <%= f.select :applies_to, Discount::APPLIES.collect {|ap| [ap[0],ap[1]]}, {:include_blank => true} %>
        </div>
        <div id='category' class="field">
          <%= f.label t("activerecord.models.category.one") %><br />
          <%= f.collection_select :category_id,GlobalData.categories,:id,:name %>
        </div>
        <div id='location' class="field">
          <%= f.label t("activerecord.models.location.one") %><br />
          <%= f.collection_select :location_id,GlobalData.locations,:id,:name %>
        </div>
        <div id='item' class="field">
          <%= f.label t("activerecord.attributes.item_sku") %><br />
          <%= f.text_field :item_sku, :class => 'keyboardable', :onblur => "$(this).val($(this).val().toUpperCase())" %>
        </div>
        <div class="field">
          <br /><br />
          <%= f.label t("activerecord.attributes.amount") %> &nbsp;&nbsp; <br />
          <%= f.text_field :amount, :size => 7, :class => 'keyboardable-int' %>
          <br /><br />
          <%= f.hidden_field :amount_type,  :value => 'percent' %>
          <br /><br />
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>      

<script>
  switch($('#discount_applies_to').val()) {
    case 'Location': $('#location').show(); break;
    case 'Category': $('#category').show(); break;
    case 'Item': $('#item').show(); break;
};

$('#discount_applies_to').change( function(){ 
  switch($('#discount_applies_to').val()) {
    case 'Vendor': $('#category').hide(); $('#location').hide(); $('#item').hide(); break;
    case 'Location': $('#category').hide(); $('#location').show(); $('#item').hide(); break;
    case 'Category': $('#category').show(); $('#location').hide(); $('#item').hide(); break;
    case 'Item': $('#category').hide(); $('#location').hide(); $('#item').show(); break;
  }
});
</script>

