<%= form_for(@node) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table width="80%" align="center">
  <tr>
    <td valign="top">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sku %><br />
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :node_type %><br />
    <%= f.text_field :node_type %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :is_self %><br />
    <%= f.check_box :is_self %>
  </div>
    </td>
    <td>
  <div class="field">
    <%= f.label :accepts_tax_profiles %><br />
    <%= f.check_box :accepts_tax_profiles %>
  </div>
      
  <div class="field">
    <%= f.label :accepts_buttons %><br />
    <%= f.check_box :accepts_buttons %>
  </div>


  <div class="field">
    <%= f.label :accepts_categories %><br />
    <%= f.check_box :accepts_categories %>
  </div>


  <div class="field">
    <%= f.label :accepts_items %><br />
    <%= f.check_box :accepts_items %>
  </div>


  <div class="field">
    <%= f.label :accepts_customers %><br />
    <%= f.check_box :accepts_customers %>
  </div>


  <div class="field">
    <%= f.label :accepts_loyalty_cards %><br />
    <%= f.check_box :accepts_loyalty_cards %>
  </div>


  <div class="field">
    <%= f.label :accepts_discounts %><br />
    <%= f.check_box :accepts_discounts %>
  </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
  <div class="field">
    <%= f.label :accepted_ips %><br />
    <%= f.text_area :accepted_ips, :rows => 5 %>
  </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
  <div class="actions">
    <%= f.submit %>
  </div>
    </td>
  </tr>
</table>
<% end %>
