
<%= form_for(@customer) do |f| %>
<table width="90%" align="center">
  <tr>
    <td colspan="2" align="right"> 
      <div class="actions">
        <%= f.submit t('helpers.submit.save')%>
      </div>
      <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= I18n.t("activerecord.errors.template.header.other", :count => @customer.errors.count,:model => t("activerecord.models.customer.one"))%></h2>
          <ul>
          <% @customer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </td>
  </tr>
  
<!--   Begin Form Fields -->
  <tr>
    <td colspan="2">  
      <hr />
      <h2><%= t("menu.general_configuration") %></h2>
    </td>
  </tr>
  <tr>
    <td> <label for="customer_company_name"><%= t("activerecord.attributes.company_name") %></label> </td>
    <td> <input class="keyboardable" id="customer_company_name" name="customer[company_name]" value="<%= @customer.company_name %>" size="30" type="text" /> </td>
  </tr>
  <tr>
    <td> <label for="customer_first_name"><%= t("activerecord.attributes.first_name") %></label> </td>
    <td> <input class="keyboardable" id="customer_first_name" name="customer[first_name]" value="<%= @customer.first_name %>" size="30" type="text" /> </td>
  </tr>
                 
  <tr>
    <td> <label for="customer_last_name"><%= t("activerecord.attributes.last_name") %></label> </td>
    <td> <input class="keyboardable" id="customer_last_name" name="customer[last_name]" value="<%= @customer.last_name %>" size="30" type="text" /> </td>
  </tr>
  
  <tr>
    <td> <label for="customer_tax_number"><%= Customer.human_attribute_name :tax_number %></label> </td>
    <td> <input class="keyboardable" id="customer_tax_number" name="customer[tax_number]" value="<%= @customer.tax_number %>" size="30" type="text" /> </td>
  </tr>
  <tr>
    <td> <label for="customer_telephone"><%= t("activerecord.attributes.telephone") %></label> </td>
    <td> <input class="keyboardable-int" id="customer_telephone" name="customer[telephone]" value="<%= @customer.telephone %>" size="30" type="text" /> </td>
  </tr>
         
  <tr>
    <td> <label for="customer_cell"><%= t("activerecord.attributes.cellphone") %></label> </td>
    <td> <input class="keyboardable-int" id="customer_cellphone" name="customer[cellphone]" value="<%= @customer.cellphone %>" size="30" type="text" /> </td>
  </tr>
      
  <tr>
    <td> <label for="customer_email"><%= t("activerecord.attributes.email") %></label> </td>
    <td> <input class="keyboardable" id="customer_email" name="customer[email]" value="<%= @customer.email %>" size="30" type="text" /> </td>
  </tr>  
  <tr>
    <td colspan="2">  
      <hr />
      <h2><%= t("menu.additional") %></h2>
    </td>
  </tr>
  <tr>
    <td> <label for="customer_street_street1"><%= t("activerecord.attributes.street1") %></label> </td>
    <td> <input class="keyboardable" id="customer_street1" name="customer[street1]" value="<%= @customer.street1 %>" size="30" type="text" /> </td>
  </tr>
         
  <tr>
    <td> <label for="customer_street2"><%= t("activerecord.attributes.street2") %></label> </td>
    <td> <input class="keyboardable" id="customer_street2" name="customer[street2]" value="<%= @customer.street2 %>" size="30" type="text" /> </td>
  </tr>
         
  <tr>
    <td> <label for="customer_city"><%= t("activerecord.attributes.city") %></label> </td>
    <td> <input class="keyboardable" id="customer_city" name="customer[city]" value="<%= @customer.city %>" size="30" type="text" /> </td>
  </tr>
         
  <tr>
    <td> <label for="customer_postalcode"><%= t("activerecord.attributes.postalcode") %></label> </td>
    <td> <input class="keyboardable" id="customer_postalcode" name="customer[postalcode]" value="<%= @customer.postalcode %>" size="30" type="text" /> </td>
  </tr>
         
  <tr>
    <td> <label for="customer_state"><%= t("activerecord.attributes.state") %></label> </td>
    <td> <input class="keyboardable" id="customer_state" name="customer[state]" value="<%= @customer.state %>" size="30" type="text" /> </td>
  </tr>
     
  <tr>
    <td> <label for="customer_country"><%= t("activerecord.attributes.country") %></label> </td>
    <td> 
      <input class="keyboardable" id="customer_country" name="customer[country]" value="<%= @customer.country %>" size="30" type="text" />
    </td>
  </tr>
  

  <tr>
    <td colspan="2">  
      <hr />
      <h2><%= t("views.loyalty_card") %></h2>
    </td>
  </tr>
  
  <%= f.fields_for :loyalty_cards, @customer.loyalty_cards.first do |lf| %>
    <tr>
      <td><%= lf.label :points %></td>
      <td><%= lf.text_field :points %></td>
    </tr>
    <tr>
      <td><%= lf.label :sku %></td>
      <td><%= lf.text_field :sku %></td>
    </tr>
    
  <% end %>
  
  <tr>
    <td colspan="2">  
      <% @customer.loyalty_cards.each do |lc| %>
        <% if not lc.sku.blank?  %>
          <div class="new-item-field">
            <%
              b = Barcode.new(lc)
              barcodepath = b.create
            %>
            <div style="display: inline-block; background-color: white;">
              <img src="<%= barcodepath %>.png" />
            </div>
            <%= salor_icon(:sticker_printer, {:onclick => "sr.fn.salor_bin.printUrl(sr.data.session.cash_register.sticker_printer, '/customers/labels', '&id=#{ @customer.id }&type=sticker&style=default')"},32)%> 
            &nbsp;&nbsp;&nbsp;
            <%= salor_icon(:thermal_printer,{ :onclick => "sr.fn.salor_bin.printUrl(sr.data.session.cash_register.thermal_printer,'/customers/labels', '&id=#{ @customer.id }&type=label&style=default')"},32) %> 
          </div>
        <% end %>
      <% end %>
    </td>
  </tr>
  
  <tr id="notes_row">
    <td colspan="2">  
      <hr />
      <h2><%= t("views.notes") %></h2> <br />
      <%= link_to_add_fields(I18n.t('views.single_words.new'),f,:notes,"sr.fn.customers.addNoteFields") %>
      <br />
      <br />
    </td>
  </tr>
  <%= f.fields_for(:notes) do |notes|%>
    
        <%= render 'note_fields', :f => notes%>

  <% end %>
  <tr>
    <td colspan="2" align="right"> 
      <div class="actions">
        <%= f.submit t('helpers.submit.save')%>
      </div></td>
  </tr>

             
<!-- end Form -->
<% end %>
