<table align="center" width="100%">
  <tr>
    <td valign="top" align="center">
      <%= form_for(@category) do |f| %>
        <% if @category.errors.any? %>
          <div id="error_explanation">
            <h2><%= I18n.t("activerecord.errors.template.header.other", :count => @category.errors.count,:model => t("activerecord.models.category.one"))%></h2>
      
            <ul>
            <% @category.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
          <%= f.hidden_field :vendor_id, :value => salor_user.meta.vendor_id %>
        <div class="field">
          <%= f.label t("activerecord.attributes.name") %><br />
          <%= f.text_field :name, :class => 'keyboardable' %>
          <br />
          <%= f.label t("activerecord.attributes.eod_show") %><br />
          <%= f.check_box :eod_show %>
          <br />
          <%= f.label t("activerecord.attributes.tag") %><br />
          <%= f.collection_select :tag, TransactionTag.scopied.all.unshift(TransactionTag.new(:name => '')),:name, :name %>
          <br />
          <%= f.label Category.human_attribute_name(:color) %><br />
          <%= f.text_field :color %>
          <br />
          <%= f.label Category.human_attribute_name(:order) %><br />
          <%= f.text_field :order %>
        </div>
        <br />
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </td>
  </tr>
</table>
