<script type="text/javascript">
  $(document).ready(function () {
      $('#general').show();
      $('.link').click(function () {
          $('.active').removeClass('active');
          $(this).addClass('active');
          $('.form-container').hide();
          $($(this).attr('href')).show();
      });
  });
</script>
<div align="center">
<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t("activerecord.errors.template.header.other", :count => @shipment.errors.count,:model => t("activerecord.models.shipment.one"))%></h2>

      <ul>
      <% @shipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="general-form">
  <div class="form-menu">
      <div class="link active" href="#general">
      <%= t("menu.general_configuration") %>
    </div>
    <div class="link" href="#items">
      <%= t("headings.shipment_items") %>
    </div>
    <div class="link" href="#notes">
      <%= t("menu.additional") %>
    </div>
  </div>
  <div class="tab-container">
    <div id="general" class="general-form-container form-container">
            <div class="field left">
              <%= f.label t("activerecord.attributes.name") %><br />
              <%= f.text_field :name, :class => "keyboardable"%>
            </div>
            <div class="field left">
              <%= f.label t("activerecord.attributes.price") %><br />
              <%= f.text_field :price, :class => "keyboardable-int", :size => 7 %>
            </div>
            <div class="field left shipment-paid">
              <%= f.label t("activerecord.attributes.paid") %><br />
              <%= f.check_box :paid %>
            </div>
            <div class="field left">
              <%= f.label t("activerecord.attributes.status") %><br />
              <%= f.select :shipment_type_id, GlobalData.salor_user.get_all_shipment_types.collect {|t| [t[:name],t[:id]]} %>
            </div>
            <div class="field left">
              <%= f.label t("activerecord.attributes.the_receiver") %><br />
              <%= f.select :the_receiver, Shipment.receiver_shipper_list.collect {|t| [t[:name],t[:value]]} %>
            </div>
            <div class="field left">
              <%= f.label t("activerecord.attributes.the_shipper") %><br />
              <%= f.select :the_shipper, Shipment.receiver_shipper_list.collect {|t| [t[:name],t[:value]]} %>
            </div>
            <%= f.hidden_field(:user_id, :value => salor_user.id) if not salor_user.is_employee? %>
            <%= f.hidden_field(:employee_id, :value => salor_user.id) if salor_user.is_employee? %>
    </div> <!-- end id="general" -->
    <div id="items" class="hidden form-container shipment-items-form-container">
      <%= salor_render :partial => "shared/shipment_item_form", :locals => {:f => f,:model => 'shipment', :items => @shipment.shipment_items} %>
    </div>
    <div id="notes" class="hidden form-container shipment-notes-form-container">
      <%= salor_render :partial => "shared/notes_form", :locals => {:model => 'shipment', :method => 'set_notes', :notes => @shipment.notes} %>
    </div>
  </div>
  <div class="actions">
    <br />
    <%= f.submit t 'helpers.submit.save' %>
  </div>
<% end %>
</div>
