= raw content_box_top(I18n.t("headings.shipments"))

.tools
  = link_to salor_icon(:add, {:id => "new_shipment"}, 32, t(:add)), new_shipment_path(:vendor_id => $Vendor.id)
  = link_to salor_icon(:shipper, {}, 32, Shipper.model_name.human), shippers_path(:vendor_id => $Vendor.id)
  = link_to salor_icon(:shipment_type, {}, 32, ShipmentType.model_name.human), shipment_types_path(:vendor_id => $Vendor.id)

%table.shipments-edit
  %th= Shipment.human_attribute_name(:name)
  %th= Shipment.human_attribute_name(:from)
  %th= Shipment.human_attribute_name(:to)
  %th= Shipment.human_attribute_name(:price)
  %th= Shipment.human_attribute_name(:paid)
  %th= Shipment.human_attribute_name(:status)
   
  - @shipments.reverse.each do |shipment|
    - sname = shipment.shipper.nil? ? t("system.errors.value_not_set") : shipment.shipper.name
    - rname = shipment.receiver.nil? ? t("system.errors.value_not_set") : shipment.receiver.name
    %tr
      %td= shipment.name
      %td= edit_me(:the_shipper,shipment,sname)
      %td= edit_me(:the_receiver,shipment,rname)
      %td= salor_number_to_currency(shipment.price)
      %td= shipment.paid
      %td= shipment.shipment_type.name if shipment.shipment_type
      %td= link_to salor_icon(:edit,{},32,t(:edit)), edit_shipment_path(shipment)
      %td= link_to salor_icon(:document,{},32,t('.report')), shipment
      %td= link_to salor_icon(:delete,{},32,t(:delete)), shipment, :confirm => t("menu.delete_confirm"), :method => :delete
  %div.pagination{:align => 'center'}
    = paginate @shipments if @shipments
= raw content_box_bottom
