%h2= t('activerecord.models.cost_center.other')

= link_to (t :new), new_cost_center_path, :class => 'links'

%table
  %tr
    %th{ :style => 'width:150px' }
    %th{ :style => 'width:100px' }
    %th{ :style => 'width:200px' }
  - @cost_centers.each do |cc|
    %tr
      %td= link_to cc.name, edit_cost_center_path(cc)
      %td= cc.active ? t('.active') : t('.inactive')
      %td= cc.description
      %td= link_to image_tag('button_small_delete.png', :title => CostCenter.human_attribute_name(:hidden), :alt => CostCenter.human_attribute_name(:hidden)), cost_center_path(cc), :method => :delete, :confirm => t(:are_you_sure)
