<%= raw content_box_top(I18n.t("activerecord.models.location.one") + ' ' + @location.name) %>
<div id="" class="locations-items-table table">

  <% items = @location.items.scopied.page(params[:page]).per(GlobalData.conf.pagination) %>


<div id="" class="salor-pagination">
  <%= paginate(items) if items %>
</div>
  <div id="" class="table-row">
    <div id="" class="table-cell table-head locations-attribute-name-head">
      <%= I18n.t("activerecord.attributes.name") %>
    </div>
    <div id="" class="table-cell table-head locations-attribute-sku-head">
      <%= I18n.t("activerecord.attributes.sku") %>
    </div>
    <div id="" class="table-cell table-head locations-attribute-quantity-head">
      <%= I18n.t("activerecord.attributes.quantity") %>
    </div>
  </div>
  <% items.each do |item| %>
    <div id="" class="table-row">
      <div id="" class="table-cell locations-items-cell locations-attribute-name-cell">
        <%= item.name %>
      </div>
      <div id="" class="table-cell locations-items-cell locations-attribute-sku-cell">
        <%= item.sku %>
      </div>
      <div id="" class="table-cell locations-items-cell locations-attribute-quantity-cell">
        <%= item.quantity %>
      </div>
      <div id="" class="table-cell locations-items-cell locations-buttons-cell">
        <% if item.class == Item  %>
          <button id="button-add-to-order" class="big-button" onclick="add_item('<%= item.sku %>')"><%= I18n.t("menu.add_to_current_order", :id => GlobalData.salor_user.meta.order_id) %></button>
          <button id="button-add-to-order" class="big-button" onclick="window.location = '/items/<%= item.id %>/edit'"><%= I18n.t("menu.edit_item") %></button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="" class="salor-pagination">
  <%= paginate(items) if items %>
</div>
<%= raw content_box_bottom  %>
