<!DOCTYPE html>
<html>
<head>
<%= salor_render :partial => 'shared/head'%>
</head>
<body>
<%= salor_render :partial => "shared/notice" %>

<div id="main">

<%= yield %>
<div id="footer">

</div>
</div>
<div id="header">
  <div class="salor-logo left">
    <div class="title shadow">salor&reg; </div>
  </div>
  <div class="title-menu right shadow"><%= salor_render :partial => "shared/title_menu"%></div>
</div>
  <%= salor_render :partial => "shared/logged_in"%>
</body>
</html>
